<div class="aw-mod side-nav">
	<div class="mod-body">
		<ul>
			<li>
				<a href="home/"<?php if ($_GET['app'] == 'home' AND $_GET['act'] == 'index') { ?> class="active"<?php } ?>>
					<?php _e('最新动态'); ?>
				</a>
			</li>
			<li>
				<a href="favorite/"<?php if ($_GET['app'] == 'favorite') { ?> class="active"<?php } ?>>
					<?php _e('我的收藏'); ?>
				</a>
			</li>
			<li>
				<a href="home/question/"<?php if ($_GET['app'] == 'home' AND $_GET['act'] == 'question') { ?> class="active"<?php } ?>>
					<?php _e('我关注的问题'); ?>
				</a>
			</li>
			<li>
				<a href="topic/channel-focus">
					<?php _e('我关注的话题'); ?>
				</a>
			</li>
			<li>
				<a href="home/invite/"<?php if ($_GET['app'] == 'home' AND $_GET['act'] == 'invite') { ?> class="active"<?php } ?>>
					<?php _e('邀请我回复的问题'); ?><?php if ($this->user_info['invite_count']) { ?><span class="badge"><?php echo $this->user_info['invite_count']; ?></span><?php } ?>
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="aw-mod side-nav">
	<div class="mod-body">
		<ul>
			<li><a href="topic/"> <?php _e('所有话题'); ?></a></li>
			<li><a href="people/"> <?php _e('所有用户'); ?></a></li>
		</ul>
	</div>
</div>