<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-12 aw-main-content">
					<div class="aw-mod aw-help-center">
						<div class="mod-head">
							<br>
							<br>
							<h2><i class="icon icon-search"></i><?php _e('搜索'); ?></h2>
							<div class="aw-search-box aw-border-radius-5">
								<form class="navbar-search aw-border-radius-5" method="post">
									<input class="form-control search-query aw-border-radius-5" type="text" placeholder="<?php _e('输入关键字进行搜索'); ?>" autocomplete="off" id="aw-search-query" />
									<span title="<?php _e('搜索'); ?>" id="global_search_btns"><i class="icon icon-search"></i></span>
								</form>
							</div>
							<br>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<?php if (get_setting('search_engine_url')) { ?>
<script type="text/javascript">
$(document).ready(function () {
	var do_search = function() {
		var url = "<?php echo get_setting('search_engine_url'); ?>";
		var query = $('#aw-search-query').val().trim();
		if (!query) return;
		query = encodeURIComponent(query);
		url = url.replace('%s', query);
		window.location = url;
	};

	$('.navbar-search').submit(function(event) {
		event.preventDefault();
		do_search();
		return false;
	});

	$('#global_search_btns').click(do_search);
});
</script>
<?php } ?>

<?php TPL::output('global/footer.tpl.htm'); ?>
