/*全局文字颜色*/
.text-color-999,
.aw-placeholder,
.category dl dd span,
.aw-side-bar dd,
.aw-question-edit .aw-mod-body .pull-right,
.aw-question-tags a {
	color:#999;
}
.aw-text-color-666,
.alert,
.aw-nav-tabs > li.active a,
.aw-comment-list,
.aw-question-edit .aw-mod-body,
.aw-question-tags a:hover,
.aw-edit-topic:hover,
.aw-tabs ul li a,
.aw-footer,
.aw-card-tips {
	color:#666;
}
h1, h2, h3{color: #333;}
.aw-nav-main li a{color:#fff;}
.aw-text-color-red{color:red;}
.aw-placeholder{color: #999 !important;}
.alert-danger, .alert-error{color:#B94A48;}
.aw-nav-tabs > li > a{color: #666;}
.aw-logo span{color: #CFF1FF;}
.category .title a{color: #17344A;}
.aw-nav-main li a:hover{color:#93E2F3;}

