.aw-user-setting .tab-content{padding:0 40px;}
.aw-user-setting .aw-mod .mod-footer{margin-bottom: 30px;}
.aw-user-setting .aw-mod .aw-mod{padding:30px 0;border-top: 1px solid #e6e6e6;}
.aw-user-setting .aw-mod .aw-mod:first-child{border-top: none;}
.aw-user-setting .aw-mod .form-group{margin:15px 0;line-height: 30px;}
.aw-user-setting h3{font-size: 16px;color: #333;}
@media (max-width: 500px) {
	.aw-user-setting .aw-nav-tabs h2{display: none;}
}

/* 基本资料 */
.aw-user-setting .mod-base{position: relative;}
.aw-user-setting .mod-base dl{height:auto;line-height: 25px;overflow:hidden;margin:0;padding-bottom: 15px;}
.aw-user-setting .mod-base dl dt, .aw-user-setting .mod-base dl dd{float: left;line-height: 30px;}
.aw-user-setting .mod-base dl dt{width: 80px;text-align: right;font-weight: normal;}
.aw-user-setting .mod-base .form-control{width: 250px;}
.aw-user-setting .mod-base select{width: 380px;}
.aw-user-setting .mod-base dl dd label{min-width: 50px;}
.aw-user-setting .mod-base .side-bar{position: absolute;right: 0;top: 70px;}
.aw-user-setting .mod-base .side-bar dt{width: 100px;height: 100px;}
.aw-user-setting .mod-base .side-bar dd{width: 140px;}
.aw-user-setting .mod-base .side-bar span {margin-left:10px;}
.aw-user-setting .mod-base .side-bar span .aw-loading{position:relative;top:4px;margin-right: 5px;}
@media (max-width: 720px) {
	.aw-user-setting .mod-base .side-bar{position: relative;top: 0;}
	.aw-user-setting .mod-base select{width: 250px;}
}
@media (max-width: 360px) {
	.aw-user-setting .mod-base .form-control{width: 200px;}
	.aw-user-setting .mod-base select{width: 200px;}
}

/* 隐私,提醒 */
.aw-user-setting .mod-setting-privacy .aw-mod dl dt{float: left;width: 180px;font-weight: normal;}
.aw-user-setting .mod-setting-privacy .aw-mod dl dd{padding-left: 180px;}
.aw-user-setting .mod-setting-privacy .aw-mod dl dd label{margin:0 30px 20px 0;}
@media (max-width: 500px) {
	.aw-user-setting .mod-setting-privacy .aw-mod dl dt{float: none;}
	.aw-user-setting .mod-setting-privacy .aw-mod dl dd{padding-left: 0;padding-top: 20px;}
}

