.htaccess
.tags
.tags_sorted_by_file
.DS_Store

favicon.ico

/static/logo/*
!/static/logo/index.html
!/static/logo/logo.png.sample.png
!/static/logo/login_logo.png.sample.png

/system/config.inc.php
/system/config/database.php

/cache/*
!/cache/index.html
/tmp/*
!/tmp/index.html

/plugins/
/uploads/