.htaccess
.tags
.tags_sorted_by_file
.DS_Store

favicon.ico

/static/logo/*
!/static/logo/index.html

/system/config.inc.php
/system/config/database.php

/cache/*
!/cache/index.html
/tmp/*
!/tmp/index.html

/plugins/
/uploads/

/hooks/*
!/hooks/index.html
