<?php
	$current_theme = AWS_APP::theme()->get_current_theme();
	if ($current_theme['navbar'] == 'light') {
		$navbar_theme_classes = 'shadow-sm navbar-light bg-light';
		$navbar_primary_button_classes = 'btn-outline-primary';
		$navbar_secondary_button_classes = 'btn-primary';
		$logo_url = S::get('logo_dark');
	} elseif ($current_theme['navbar'] == 'dark') {
		$navbar_theme_classes = 'shadow navbar-dark bg-dark';
		$navbar_primary_button_classes = 'btn-primary';
		$navbar_secondary_button_classes = 'btn-success';
		$logo_url = S::get('logo_light');
	} else {
		$navbar_theme_classes = 'shadow navbar-dark bg-primary';
		$navbar_primary_button_classes = 'btn-secondary';
		$navbar_secondary_button_classes = 'btn-success';
		$logo_url = S::get('logo_light');
	}
	$logo_width = S::get('logo_width');
	$logo_height = S::get('logo_height');
	$logo_style = '';
	if ($logo_width) {
		$logo_style . 'width:' . $logo_width . ';';
	}
	if ($logo_height) {
		$logo_style . 'height:' . $logo_height . ';';
	}
?>
<header class="navbar navbar-expand <?php echo $navbar_theme_classes; ?>">
	<div class="container-fluid flex-column flex-sm-row justify-content-start">
		<a class="navbar-brand text-center overflow-hidden text-sm-left mr-0 mr-sm-2" style="<?php echo $logo_style; ?>" href="<?php echo base_url(); ?>/">
			<img style="max-width:100%;" src="<?php echo $logo_url; ?>" alt="">
		</a>
		<ul class="navbar-nav flex-wrap justify-content-center justify-content-sm-start mr-auto">
			<li class="nav-item">
				<a class="nav-link py-1 <?php if ($_GET['app'] == 'explore') { ?>active<?php } ?>" href="<?php echo url_rewrite(); ?>/"><?php echo _t('发现'); ?></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-1 <?php if ($_GET['app'] == 'hot') { ?>active<?php } ?>" href="<?php echo url_rewrite(); ?>/hot/"><?php echo _t('精选'); ?></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-1 <?php if ($_GET['app'] == 'home') { ?>active<?php } ?>" href="<?php echo url_rewrite(); ?>/home/"><?php echo _t('动态'); ?></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-1 <?php if ($_GET['app'] == 'notification') { ?>active<?php } ?>" href="<?php echo url_rewrite(); ?>/notification/"><?php echo _t('通知'); ?></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-1 <?php if ($_GET['app'] == 'pm') { ?>active<?php } ?>" href="<?php echo url_rewrite(); ?>/pm/"><?php echo _t('私信'); ?></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-1 <?php if ($_GET['app'] == 'search') { ?>active<?php } ?>" href="<?php echo url_rewrite(); ?>/search/"><?php echo _t('搜索'); ?></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-1 <?php if ($_GET['app'] == 'topic') { ?>active<?php } ?>" href="<?php echo url_rewrite(); ?>/topic/"><?php echo _t('话题'); ?></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-1 <?php if ($_GET['app'] == 'follow') { ?>active<?php } ?>" href="<?php echo url_rewrite(); ?>/home/following/"><?php echo _t('关注'); ?></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-1 <?php if ($_GET['app'] == 'favorite') { ?>active<?php } ?>" href="<?php echo url_rewrite(); ?>/favorite/"><?php echo _t('收藏'); ?></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-1 <?php if ($_GET['app'] == 'invite') { ?>active<?php } ?>" href="<?php echo url_rewrite(); ?>/home/invite/"><?php echo _t('邀请'); ?></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link py-1 dropdown-toggle" data-toggle="dropdown"><?php echo _t('主题'); ?><span class="caret"></span></a>
				<div class="dropdown-menu">
				<?php foreach(AWS_APP::theme()->list_themes() as $key => $val) { ?>
					<a class="dropdown-item" href="javascript:;" onclick="UTL.change_theme('<?php echo $key; ?>', '<?php echo $val['navbar']; ?>', '<?php echo $val['css']; ?>');"><?php echo $val['name']; ?></a>
				<?php } ?>
				</div>
			</li>
		</ul>
		<div class="text-nowrap my-2 my-sm-0">
		<?php if ($this->user_id) { ?>
			<?php
				$publish_url_params = '';
				if ($_GET['category'])
				{
					if ($publish_url_params)
					{
						$publish_url_params .= '__';
					}
					$publish_url_params .= 'category_id-' . intval($_GET['category']);
				}
				if ($this->topic_info)
				{
					if ($publish_url_params)
					{
						$publish_url_params .= '__';
					}
					$publish_url_params .= 'topic_title-' . safe_url_encode($this->topic_info['topic_title']);
				}
			?>
			<div class="btn-group mr-2">
				<button class="cls_primary_button btn dropdown-toggle <?php echo $navbar_primary_button_classes; ?>" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><?php echo _t('发起'); ?></button>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="<?php echo url_rewrite(); ?>/publish/<?php echo $publish_url_params; ?>"><?php echo _t('问题'); ?></a>
					<a class="dropdown-item" href="<?php echo url_rewrite(); ?>/publish/article/<?php echo $publish_url_params; ?>"><?php echo _t('文章'); ?></a>
					<a class="dropdown-item" href="<?php echo url_rewrite(); ?>/publish/video/<?php echo $publish_url_params; ?>"><?php echo _t('影片'); ?></a>
				</div>
			</div>
			<div class="dropdown d-inline-block">
				<a style="cursor:pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img class="rounded" style="width:2.375rem;height:2.375rem;" src="<?php echo UF::avatar($this->user_info, 'mid'); ?>" alt="">
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="<?php echo UF::url($this->user_info); ?>"><?php echo UF::name($this->user_info); ?></a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="<?php echo url_rewrite(); ?>/profile/"><i class="bi-gear"></i> <?php echo _t('设置'); ?></a>
					<div class="dropdown-divider"></div>
					<?php if ($this->user_info['permission']['is_administrator']) { ?>
					<a class="dropdown-item" href="<?php echo url_rewrite(); ?>/admin/" target="_blank"><i class="bi-tools"></i> <?php echo _t('管理'); ?> <sup><i class="bi-box-arrow-up-right"></i></sup></a>
					<div class="dropdown-divider"></div>
					<?php } ?>
					<a class="dropdown-item" href="<?php echo url_rewrite(); ?>/account/logout/" onclick="localStorage.clear();AWS.submit_redirect($(this).attr('href'));return false;"><i class="bi-door-open"></i> <?php echo _t('退出'); ?></a>
				</div>
			</div>
		<?php } else { ?>
			<a class="cls_primary_button btn mr-2 <?php echo $navbar_primary_button_classes; ?>" href="<?php echo url_rewrite(); ?>/login/"><?php echo _t('登录'); ?></a>
			<a class="cls_secondary_button btn <?php echo $navbar_secondary_button_classes; ?>" href="<?php echo url_rewrite(); ?>/register/"><?php echo _t('注册'); ?></a>
		<?php } ?>
		</div>
	</div>
</header>
