<head>
<meta charset="utf-8">
<!--<?php /*echo S::get('custom_head_top');*/ ?>-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title><?php echo $this->page_title; ?></title>
<meta name="keywords" content="<?php echo FORMAT::text($this->_meta_keywords); ?>">
<meta name="description" content="<?php echo FORMAT::text($this->_meta_description); ?>">
<!--<?php /*echo S::get('custom_head');*/ ?>-->
<link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/libs/bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/libs/bootstrap-icons/1.5.0/bootstrap-icons.css">
<!--<link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/css/style.css?v=<?php echo G_DISPLAY_VERSION_BUILD; ?>">-->
<style>
<?php TPL::include('tmp/style.tpl.css'); ?>
</style>
<?php $current_theme = AWS_APP::theme()->get_current_theme(); ?>
<link id="id_stylesheet_theme" rel="stylesheet" href="<?php echo $current_theme['css']; ?>">
<!--<?php if (S::get('custom_css')) { ?>
<style>
<?php /*echo S::get('custom_css');*/ ?>
</style>
<?php } ?>-->
<script src="<?php echo G_STATIC_URL; ?>/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/libs/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/jquery.cookie.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/autosize.js"></script>
<script>
<?php TPL::include('tmp/aws.tpl.js'); ?>
</script>
<!--<?php /*echo S::get('custom_head_bottom');*/ ?>-->
</head>
