<?php TPL::include('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<div class="aw-mod aw-inbox">
						<div class="mod-head common-head">
							<h2>
								<a href="javascript:;" onclick="AWS.User.compose_message();" class="pull-right btn btn-mini btn-success"><?php _e('新私信'); ?></a>
								<span class="pull-right aw-setting-inbox hidden-xs"><a class="aw-small-text" href="<?php echo url_rewrite(); ?>/profile/privacy/#!inbox"><i class="icon icon-setting"></i> <?php _e('私信设置'); ?></a></span>
								<?php _e('私信'); ?>
							</h2>
						</div>
						<div class="mod-body aw-feed-list">
							<?php if ($this->list) { ?>
							<?php foreach($this->list AS $key => $val) { ?>
							<div class="aw-item<?php if ($val['unread'] > 0) { ?> active<?php } ?>">
								<div class="mod-head">
									<a class="aw-user-img aw-border-radius-5" data-id="<?php echo $val['user_info']['uid']; ?>" href="<?php echo UF::url($val['user_info']); ?>"><img src="<?php echo UF::avatar($val['user_info'], 'mid'); ?>" alt="" /></a>
									<a class="aw-user-name" href="<?php echo url_rewrite(); ?>/inbox/read/<?php echo $val['id']; ?>"><?php echo UF::name($val['user_info']); ?></a>
									<p class="content"><a href="<?php echo url_rewrite(); ?>/inbox/read/<?php echo $val['id']; ?>"><?php echo FORMAT::text(truncate_text($val['last_message'], 60), true); ?></a></p>
									<p class="aw-small-text">
										<span class="pull-right">
											<a href="<?php echo url_rewrite(); ?>/inbox/read/<?php echo $val['id']; ?>"><?php if ($val['unread']) { ?><?php _e('有'); ?> <?php echo $val['unread']; ?> <?php _e('条新回复'); ?><?php } else { ?><?php _e('共 %s 条对话', $val['count']); ?><?php } ?></a>
											&nbsp;
											<?php if ($val['unread'] > 0) { ?>
											<a class="aw-small-text" href="<?php echo url_rewrite(); ?>/inbox/read/<?php echo $val['id']; ?>"><?php _e('查看'); ?></a>
											<?php } else { ?>
											<a class="aw-small-text" href="javascript:;" onclick="AWS.confirm('<?php _e('确认删除对话?'); ?>', function(){window.location = G_BASE_URL + '/inbox/delete_dialog/dialog_id-<?php echo $val['id']; ?>'});"><?php _e('删除'); ?></a>
											<?php } ?>
										</span>
										<a class="aw-small-text" href="<?php echo url_rewrite(); ?>/inbox/read/<?php echo $val['id']; ?>"><?php echo date_friendly($val['update_time']); ?></a>
									</p>
								</div>
							</div>
							<?php } ?>
							<?php } ?>
						</div>
						<div class="mod-footer">
							<?php TPL::include('global/pagination.tpl.htm'); ?>
						</div>
					</div>
				</div>
				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<?php TPL::include('block/sidebar_menu.tpl.htm'); ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<?php TPL::include('global/footer.tpl.htm'); ?>