<div class="modal fade alert-box aw-edit-comment-box">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a type="button" class="close icon icon-delete" data-dismiss="modal" aria-hidden="true"></a>
				<h3 class="modal-title"><?php echo _t('备注'); ?></h3>
			</div>
			<form action="<?php echo url_rewrite(); ?>/kb/ajax/remark/id-<?php echo $this->item_info['id']; ?>" method="post" onsubmit="return false" id="edit_form">
			<div class="modal-body">
				<div class="aw-margin-y-15 aw-margin-top-0 alert alert-danger collapse error_message"><i class="icon icon-delete"></i> <em></em></div>
				<textarea name="remarks" id="editor_reply" class="form-control" rows="10"><?php echo FORMAT::text($this->item_info['remarks']); ?></textarea>
			</div>
			<div class="modal-footer">
				<button class="btn btn-large btn-success" onclick="AWS.submit_form($('#edit_form'), $(this), $('.error_message'));return false;"><?php echo _t('确定'); ?></button>
			</div>
			</form>
		</div>
	</div>
</div>