<?php TPL::include('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="container aw-publish">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<!-- tab 切换 -->
					<ul class="nav nav-tabs aw-nav-tabs active">
						<?php if ($this->user_info['permission']['publish_video']) { ?>
						<li><a href="<?php echo url_rewrite(); ?>/publish/video/"><?php _e('影片'); ?></a></li>
						<?php } ?>
						<?php if ($this->user_info['permission']['publish_article']) { ?>
						<li><a href="<?php echo url_rewrite(); ?>/publish/article/"><?php _e('文章'); ?></a></li>
						<?php } ?>
						<li class="active"><a href="<?php echo url_rewrite(); ?>/publish/"><?php _e('问题'); ?></a></li>
						<h2 class="hidden-xs"><i class="icon icon-ask"></i> <?php _e('发起'); ?></h2>
					</ul>
					<!-- end tab 切换 -->
					<form action="<?php echo url_rewrite(); ?>/<?php if ($this->thread_info['id']) { ?>modify/ajax/modify_question/<?php } else { ?>publish/ajax/publish_question/<?php } ?>" method="post" id="question_form" onsubmit="return false;">
						<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
						<input type="hidden" name="question_id" id="question_id" value="<?php echo $this->thread_info['id']; ?>" />
						<input type="hidden" name="ask_user_id" value="<?php echo intval($_POST['ask_user_id']); ?>" />
						<?php if (!$this->thread_info['id'] AND get_setting('category_enable') != 'N') { ?>
						<select name="category_id" class="collapse" id="category_id">
							<option value="0">- <?php _e('请选择分类'); ?> -</option>
							<?php TPL::include('block/category_options.tpl.htm'); ?>
						</select>
						<?php } ?>
						<div class="aw-mod aw-mod-publish">
							<div class="mod-body">
								<?php if (isset($_POST['ask_user_name'])) { ?>
								<h3><?php _e('向 %s 提问', htmlspecialchars($_POST['ask_user_name'])); ?></h3>
								<?php } ?>
								<h3><?php _e('问题标题'); ?>:</h3>
								<!-- 问题标题 -->
								<div class="aw-publish-title<?php if (get_setting('category_enable') == 'N') { ?> active<?php } ?>">
									<div>
										<input type="text" placeholder="<?php _e('问题标题'); ?>..." name="title" id="question_contents" value="<?php echo FORMAT::text($this->thread_info['title']); ?>" class="form-control" />
										<div class="aw-publish-suggest-question collapse">
											<p class="aw-small-text">你的问题可能已经有答案</p>
											<ul class="aw-dropdown-list">
											</ul>
										</div>
									</div>
									<?php if (!$this->thread_info['id'] AND get_setting('category_enable') != 'N') { ?>
									<div class="dropdown">
										<div class="dropdown-toggle" data-toggle="dropdown">
											<span id="aw-topic-tags-select" class="aw-hide-txt"><?php _e('选择分类'); ?></span>
											<a href="javascript:;"><i class="icon icon-down"></i></a>
										</div>
									</div>
									<?php } ?>
								</div>
								<!-- end 问题标题 -->

								<h3><?php _e('问题补充'); ?>:</h3>
								<div class="aw-mod aw-editor-box">
									<div class="mod-head">
										<div class="wmd-panel">
											<textarea class="wmd-input form-control autosize editor" id="wmd-input" rows="15" name="message"><?php echo FORMAT::text($this->thread_info['message']); ?></textarea>
										</div>
									</div>
									<div class="mod-body">
										<?php if (get_setting('image_upload_link')) { ?><a class="pull-right" href="<?php echo get_setting('image_upload_link'); ?>" <?php if (!is_javascript(get_setting('image_upload_link'))) { ?>rel="nofollow noreferrer noopener" target="_blank"<?php } ?>><?php _e('上传图片'); ?></a><?php } ?>
									</div>
								</div>
								<?php if (!$this->thread_info['id']) { ?>
								<h3><?php _e('添加话题'); ?>:</h3>
								<div class="aw-topic-bar" data-type="publish">
									<div class="tag-bar clearfix">
										<?php if ($_GET['topic_title']) { ?>
										<span class="topic-tag">
											<a class="text"><?php echo htmlspecialchars($_GET['topic_title']); ?></a>
											<a class="close" onclick="$(this).parents('.topic-tag').remove();">
												<i class="icon icon-delete"></i>
											</a>
											<input type="hidden" value="<?php echo htmlspecialchars($_GET['topic_title']); ?>" name="topics[]" />
										</span>
										<?php } ?>

										<span class="aw-edit-topic icon-inverse"><i class="icon icon-edit"></i> <?php _e('编辑话题'); ?></span>
									</div>
								</div>
								<?php if ($this->recent_topics) { ?>
								<h3><?php _e('最近话题'); ?>:</h3>
								<div class="aw-topic-bar">
									<div class="topic-bar clearfix">
										<?php foreach($this->recent_topics as $key => $val) { ?>
										<span class="topic-tag" onclick="$('#aw_edit_topic_title').val('<?php echo $val; ?>');$('.add').click();$(this).hide();">
											<a class="text">
												<?php echo $val; ?>
											</a>
										</span>
										<?php } ?>
									</div>
								</div>
								<?php } ?>
								<?php } else { ?>
								<h3>&nbsp;</h3>
								<?php } ?>

								<?php if (!$this->thread_info['id']) { ?>
								<div class="aw-auth-img clearfix">
									<input id="later_time_input" name="later" class="form-control pull-right" type="text" placeholder="<?php _e('分钟'); ?>" />
									<label class="pull-right">&nbsp;<?php _e('延迟显示'); ?></label>
									<label id="later_time_label" class="pull-right"></label>
								</div>
								<?php } ?>

							</div>
							<div class="mod-footer clearfix">
								<a href="<?php echo url_rewrite(); ?>/currency/rule/" target="_blank">[<?php _e(get_setting('currency_rule_name')); ?>]</a>
								<span class="aw-anonymity">
									<?php if ($this->thread_info['id']) { ?>
									<label><input type="checkbox" class="pull-left" value="1" name="do_delete" />
										<?php _e('删除问题'); ?>&nbsp;</label>
									<?php } ?>

									<?php if (!$this->thread_info['id'] AND $this->user_info['permission']['post_anonymously']) { ?>
									<label><input type="checkbox" class="pull-left" value="1" name="anonymous" />
										<?php _e(get_setting('anonymous_option_name')); ?></label>
									<?php } ?>

								</span>
								<a class="btn btn-large btn-success btn-publish-submit" id="publish_submit" onclick="AWS.submit($('#question_form'), $(this)); return false;"><?php _e('确认发起'); ?></a>
							</div>
						</div>
					</form>
				</div>
				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<!-- 问题发起指南 -->
					<div class="aw-mod publish-help">
						<div class="mod-head">
							<h3><?php _e('问题发起指南'); ?></h3>
						</div>
						<div class="mod-body">
							<p><b>• <?php _e('问题标题'); ?>:</b> <?php _e('请用准确的语言描述您发布的问题思想'); ?></p>
							<p><b>• <?php _e('问题补充'); ?>:</b> <?php _e('详细补充您的问题内容, 并提供一些相关的素材以供参与者更多的了解您所要问题的主题思想'); ?></p>
							<p><b>• <?php _e('选择话题'); ?>:</b> <?php _e('选择一个或者多个合适的话题, 让您发布的问题得到更多有相同兴趣的人参与. 所有人可以在您发布问题之后添加和编辑该问题所属的话题'); ?></p>
						</div>
					</div>
					<!-- end 问题发起指南 -->
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var CATEGORY_ID = <?php echo $this->thread_info['category_id']; ?>;

$(document).ready(function () {
	AWS.init_later_time_helper($('#later_time_input'), $('#later_time_label'));
	<?php if (!$this->thread_info['uid'] OR $this->thread_info['uid'] == $this->user_id) { ?>
		// 初始化编辑器
		AWS.create_editor(document.getElementById('wmd-input'), true);
	<?php } ?>

});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>