<?php TPL::include('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="container aw-publish aw-publish-article">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 aw-main-content">
					<!-- tab 切换 -->
					<ul class="nav nav-tabs aw-nav-tabs active">
						<li class="active"><a href="<?php echo url_rewrite(); ?>/publish/video/"><?php echo _t('影片'); ?></a></li>
						<li><a href="<?php echo url_rewrite(); ?>/publish/article/"><?php echo _t('文章'); ?></a></li>
						<li><a href="<?php echo url_rewrite(); ?>/publish/"><?php echo _t('问题'); ?></a></li>
						<h2 class="hidden-xs"><i class="icon icon-ask"></i> <?php echo _t('发起'); ?></h2>
					</ul>
					<!-- end tab 切换 -->
					<form action="<?php echo url_rewrite(); ?>/<?php if ($this->thread_info['id']) { ?>modify/ajax/modify_video/<?php } else { ?>publish/ajax/publish_video/<?php } ?>" method="post" id="question_form" onsubmit="return false;">
						<input type="hidden" name="video_id" id="video_id" value="<?php echo $this->thread_info['id']; ?>" />
						<?php if (!$this->thread_info['id'] AND S::get('category_enable') != 'N') { ?>
							<select name="category_id" class="collapse" id="category_id">
								<option value="0">- <?php echo _t('请选择分类'); ?> -</option>
								<?php TPL::include('block/category_options.tpl.htm'); ?>
							</select>
						<?php } ?>
						<div class="aw-mod aw-mod-publish">
							<div class="mod-body">
								<h3><?php echo _t('标题'); ?>:</h3>
								<!-- 标题 -->
								<div class="aw-publish-title<?php if (S::get('category_enable') == 'N') { ?> active<?php } ?>">
									<input type="text" name="title" value="<?php echo FORMAT::text($this->thread_info['title']); ?>" class="form-control" />
									<?php if (!$this->thread_info['id'] AND S::get('category_enable') != 'N') { ?>
									<div class="dropdown">
										<div class="dropdown-toggle" data-toggle="dropdown">
											<span id="aw-topic-tags-select"><?php echo _t('选择分类'); ?></span>
											<a href="javascript:;"><i class="icon icon-down"></i></a>
										</div>
									</div>
									<?php } ?>
								</div>
								<!-- end 标题 -->

								<h3><?php echo _t('详细'); ?>:</h3>
								<div class="aw-mod aw-editor-box">
									<div class="mod-head">
										<div class="wmd-panel">
											<textarea class="wmd-input form-control autosize editor" id="wmd-input" rows="4" name="message"><?php echo FORMAT::text($this->thread_info['message']); ?></textarea>
										</div>
									</div>
									<div class="mod-body">
									</div>
								</div>

								<h3><?php echo _t('影片来源'); ?>:</h3>
								<div class="aw-mod">
									<div class="mod-head">
										<div class="">
											<input type="text" name="web_url" placeholder="<?php if ($this->thread_info['id']) { ?><?php echo _t('不更改请留空'); ?><?php } else { ?>https://<?php } ?>" value="" class="form-control" />
										</div>
									</div>
									<div class="mod-body">
										<span><?php echo _t('支持以下格式 URL'); ?></span>
										<pre><?php echo safe_text(S::get('video_config_example_url')); ?></pre>
									</div>
								</div>

								<?php if (!$this->thread_info['id']) { ?>
								<h3><?php echo _t('添加话题'); ?>:</h3>
								<div class="aw-topic-bar" data-type="publish">
									<div class="tag-bar clearfix">
										<?php if ($_GET['topic_title']) { ?>
										<span class="topic-tag">
											<a class="text"><?php echo htmlspecialchars($_GET['topic_title']); ?></a>
											<a class="close" onclick="$(this).parents('.topic-tag').remove();">
												<i class="icon icon-delete"></i>
											</a>
											<input type="hidden" value="<?php echo htmlspecialchars($_GET['topic_title']); ?>" name="topics[]" />
										</span>
										<?php } ?>

										<span class="aw-edit-topic icon-inverse"><i class="icon icon-edit"></i> <?php echo _t('编辑话题'); ?></span>
									</div>
								</div>

								<?php } else { ?>
								<h3>&nbsp;</h3>
								<?php } ?>

								<?php if (!$this->thread_info['id']) { ?>
								<div class="aw-auth-img clearfix">
									<input id="later_time_input" name="later" class="form-control pull-right" type="text" placeholder="<?php echo _t('分钟'); ?>" />
									<label class="pull-right">&nbsp;<?php echo _t('延迟显示'); ?></label>
									<label id="later_time_label" class="pull-right"></label>
								</div>
								<?php } ?>

							</div>
							<div class="mod-footer clearfix">
								<a href="<?php echo url_rewrite(); ?>/currency/rule/" target="_blank">[<?php _e(S::get('currency_rule_name')); ?>]</a>
								<span class="aw-anonymity">
									<?php if ($this->thread_info['id']) { ?>
									<label><input type="checkbox" class="pull-left" value="1" name="do_delete" />
										<?php echo _t('删除'); ?>&nbsp;</label>
									<?php } ?>

									<?php if (!$this->thread_info['id'] AND $this->user_info['permission']['post_anonymously']) { ?>
									<label><input type="checkbox" class="pull-left" value="1" name="anonymous" />
										<?php echo _t('用这个身份发表'); ?>: <a href="<?php echo UF::url(get_anonymous_user_info($this->user_info)); ?>"><?php echo UF::name(get_anonymous_user_info($this->user_info)); ?></a></label>
									<?php } ?>
								</span>
								<a class="btn btn-large btn-success btn-publish-submit" id="publish_submit" onclick="AWS.submit_form($('#question_form'), $(this)); return false;"><?php echo _t('确认发起'); ?></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var CATEGORY_ID = <?php echo $this->thread_info['category_id']; ?>;

$(document).ready(function () {
	AWS.init_later_time_helper($('#later_time_input'), $('#later_time_label'));
});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>