<?php TPL::include('admin/global/header.tpl.htm'); ?>
<?php TPL::include('admin/global/nav_menu.tpl.htm'); ?>

<div class="aw-content-wrap">
	<form action="<?php echo url_rewrite(); ?>/admin/ajax/save_settings/" id="settings_form" method="post" onsubmit="return false">
	<div class="mod">

		<div class="mod-head">
			<h3>
				<span class="pull-left"><?php echo $this->setting_title; ?></span>

				<span class="pull-right"><a href="javascript:;" onclick="AWS.submit_form($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php echo _t('快速保存'); ?></a></span>
			</h3>
		</div>
		<div class="tab-content mod-content">
			<table class="table table-striped">
				<tr>
					<td>
						<div class="form-group">
							<textarea class="form-control textarea" name="<?php echo $this->setting_key; ?>" rows="30"><?php echo htmlspecialchars($this->settings[$this->setting_key]); ?></textarea>
						</div>
					</td>
				</tr>
			</table>
		</div>

		<div class="tab-content mod-content mod-one-btn">
			<div class="center-block">
				<input type="button" value="<?php echo _t('保存设置'); ?>" class="btn btn-primary" onclick="AWS.submit_form($('#settings_form'));" />
			</div>
		</div>
	</div>
	</form>
</div>

<?php TPL::include('admin/global/footer.tpl.htm'); ?>