<?php TPL::include('admin/global/header_meta.tpl.htm'); ?>

<body>
<script src="<?php echo G_STATIC_URL; ?>/js/openpgp.min.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/bcrypt.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/passwordutil.js?v=<?php echo G_DISPLAY_VERSION_BUILD; ?>"></script>
<div class="aw-login">
	<div class="mod center-block">
		<h1><img src="<?php echo G_STATIC_URL; ?>/admin/img/wecenter-logo.png" alt="" /></h1>

		<form id="login_form" onsubmit="return false" method="post">
			<div class="alert alert-danger collapse error_message"></div>
			<div class="form-group">
				<label><?php echo _t('用户名'); ?></label>
				<input type="text" class="form-control" name="username" autocomplete="username" value="<?php echo UF::name($this->user_info); ?>" readonly />
				<i class="icon icon-user"></i>
			</div>
			<div class="form-group">
				<label><?php echo _t('密码'); ?></label>
				<input type="password" class="form-control" name="password" autocomplete="current-password" placeholder="<?php echo _t('密码'); ?>" autofocus />
				<i class="icon icon-lock"></i>
			</div>

			<button type="submit" class="btn btn-primary"><?php echo _t('登录'); ?></button>
		</form>

		<h2 class="text-center aw-small-text">WeCenter Admin Control</h2>
	</div>
</div>



<script type="text/javascript">
$(document).ready(function () {
	var form = $('#login_form');

	form.submit(function(e) {
		e.preventDefault();

		var pwd = form.find('input[name=password]').val();
		var client_salt = '<?php echo $this->user_info['salt']; ?>';
		var password_version = (<?php echo intval($this->user_info['password_version']); ?> || 1);

		var new_form = $('<form>', {action: '<?php echo url_rewrite(); ?>/admin/ajax/login_process/', method: 'post'});

		PasswordUtil.password_hash(pwd, client_salt, password_version).then(function(value) {
			new_form.append($('<input>', {name: 'scrambled_password', value: value}));
			AWS.submit_form(new_form, null, $('.error_message'));
		}).catch(function(error) {
			console.log(error);
			alert("<?php echo _t('发生错误'); ?>");
		});

		return false;
	});
});
</script>

</body>
</html>