<?php TPL::include('admin/global/header.tpl.htm'); ?>
<?php TPL::include('admin/global/nav_menu.tpl.htm'); ?>

<div class="aw-content-wrap">
	<div class="tab-content mod-content">
		<div class="row">
			<div class="col-md-12">
			<div class="col-md-7 nopadding">
				<form action="<?php echo url_rewrite(); ?>/admin/ajax/save_nav_menu/" method="post" id="nav_menu_list" onsubmit="return false">
					<div class="mod aw-message-box ">
					<div class="mod-set-head">
						<a class="btn btn-primary btn-xs pull-right" onclick="AWS.submit_form($('#nav_menu_list'));"><?php echo _t('保存设置'); ?></a>
						<h3>
							<?php echo _t('导航菜单'); ?>
							<span><?php echo _t('拖动菜单可调整导航菜单排序'); ?></span>
						</h3>
					</div>
					<div class="mod-set-body">
					<input type="hidden" name="nav_sort" id="nav_sort">

					<div class="aw-nav-menu">
					<ul data-listidx="0">
						<?php if ($this->nav_menu_list) { ?>
						<?php foreach($this->nav_menu_list as $key => $val) { ?>
						<?php if ($val['title']) { ?>
						<li data-sort="<?php echo $val['id']; ?>" data-cursor="pointer">
							<div class="mod-set-head">
								<span class="pull-right"><a href="javascript:;" onclick="AWS.confirm('<?php echo _t('确认删除?'); ?>', function(){AWS.ajax_request(G_BASE_URL + '/admin/ajax/remove_nav_menu/', 'id=<?php echo $val['id']; ?>');}); return false;"><?php echo _t('删除'); ?></a></span>
								<h4><?php echo FORMAT::text($val['title']); ?> (<?php if ($val['type'] == 'category') { ?><?php echo _t('分类'); ?><?php } else { ?><?php echo _t('自定义链接'); ?><?php } ?>)</h4>
							</div>
							<div class="mod-set-body clearfix">
								<div class="aw-nav-menu-tag clearfix">
									<label class="pull-left">
										<?php echo _t('导航标签'); ?><br />
										<input class="form-control" type="text" name="nav_menu[<?php echo $val['id']; ?>][title]" value="<?php echo FORMAT::text($val['title']); ?>" />
									</label>
									<div class="pull-left aw-nav-menu-img">
										<a id="aw-nav-menu-img-upload-<?php echo $val['id']; ?>"><img src="<?php if ($val['icon']) { ?><?php echo S::get('upload_url'); ?>/nav_menu/<?php echo $val['icon']; ?><?php } else { ?><?php echo G_STATIC_URL; ?>/common/default_class_imgs.png<?php } ?>" alt="" id="aw-nav-menu-img-<?php echo $val['id']; ?>" /></a>
									</div>
								</div>

								<?php if ($val['type'] == 'custom') { ?>
								<div class="aw-nav-menu-descrip">
									<label class="pull-left">
										<?php echo _t('链接'); ?><br />
										<input class="form-control" type="text" name="nav_menu[<?php echo $val['id']; ?>][link]" value="<?php echo $val['link']; ?>" />
									</label>
								</div>
								<?php } ?>

								<div class="aw-nav-menu-descrip">
									<label class="pull-left">
										<?php echo _t('描述'); ?><br />
										<input class="form-control" type="text" name="nav_menu[<?php echo $val['id']; ?>][description]" value="<?php echo FORMAT::text($val['description']); ?>" />
									</label>
								</div>
							</div>
						</li>
						<?php } ?>
						<?php } ?>
						<?php } ?>
					</ul>
					</div>
					</div>
				</div>
				</form>
			</div>

			<div class="col-md-5">
			<div class="mod">
				<div class="aw-message-box topic">
					<div class="mod-set-head">
						<h3>分类</h3>
					</div>
					<div class="mod-set-body">
						<form action="<?php echo url_rewrite(); ?>/admin/ajax/add_nav_menu/" method="post">
							<input type="hidden" name="type" value="category">
							<select name="type_id" class="form-control pull-left input-small">
								<option value="0"><?php echo _t('无'); ?></option>
								<?php TPL::include('block/category_options.tpl.htm'); ?>
							</select>
							<a onclick="AWS.submit_form($(this).parents('form'));" class="btn btn-primary"><?php echo _t('添加至导航菜单'); ?></a>
						</form>
					</div>
				</div>
			</div>

			<div class="mod">
				<div class="aw-message-box define-link">
					<div class="mod-set-head">
						<h3><?php echo _t('自定义链接'); ?></h3>
					</div>
					<div class="mod-set-body">
						<form action="<?php echo url_rewrite(); ?>/admin/ajax/add_nav_menu/" method="post">
							<input type="hidden" name="type" value="custom">
							<p>
								导航标签
								<br />
								<input class="form-control" type="text" name="title"></p>
							<p>
								描述
								<br />
								<input class="form-control" type="text" name="description"></p>
							<p>
								链接
								<br />
								<input class="form-control" type="text" name="link" value="http://"></p>
							<a onclick="AWS.submit_form($(this).parents('form'));" class="btn btn-primary"><?php echo _t('添加至导航菜单'); ?></a>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		</div>
	</div>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/imageuploader.js"></script>
<script type="text/javascript">
$(document).ready(function () {
<?php if ($this->nav_menu_list) { ?>
<?php foreach($this->nav_menu_list as $key => $val) { ?>
	<?php if ($val['title']) { ?>
	new ImageUploader({
		url: G_BASE_URL + '/admin/ajax/nav_menu_upload/<?php echo $val['id']; ?>',
		field_name: 'aws_upload_file',
		upload_button: $('#aw-nav-menu-img-upload-<?php echo $val['id']; ?>'),
		image_container: $('#aw-nav-menu-img-<?php echo $val['id']; ?>'),
	});
	<?php } ?>
<?php } ?>
<?php } ?>
});
</script>

<?php TPL::include('admin/global/footer.tpl.htm'); ?>