<?php foreach ($this->list AS $key => $val) { ?>

<?php if (CF::skip($val['user_info'])) continue; ?>
<?php if ($val['user_info']['forbidden']) continue; ?>

<?php if ($val['item_type'] == 'question') { ?>
<?php if (!$val['title']) continue; ?>

<!-- 问题 -->
<div class="aw-item">
	<div class="mod-head">
		<a data-id="<?php echo $val['user_info']['uid']; ?>" class="aw-user-img aw-border-radius-5" href="<?php echo UF::url($val['user_info']); ?>"><img src="<?php echo UF::avatar($val['user_info'], 'mid'); ?>" alt="" /></a>
		<p class="aw-small-text">
			<a class="aw-user-name" href="<?php echo UF::url($val['user_info']); ?>"><?php echo UF::name($val['user_info']); ?></a>
			<?php echo _t('发起了问题'); ?>
			•
			<?php echo date_friendly($val['add_time']); ?>
			•
			<?php echo _t('%s 个回复', $val['answer_count']); ?>
		</p>
		<h4>
			<a href="<?php echo url_rewrite(); ?>/question/<?php echo $val['id']; ?>"><?php echo FORMAT::text($val['title'], true); ?></a>
		</h4>
	</div>
</div>
<!-- end 问题 -->

<?php } else if ($val['item_type'] == 'answer') { ?>
<?php if (!$val['message']) continue; ?>

<!-- 回答 -->
<div class="aw-item">
	<div class="mod-head">
		<a data-id="<?php echo $val['user_info']['uid']; ?>" class="aw-user-img aw-border-radius-5" href="<?php echo UF::url($val['user_info']); ?>"><img src="<?php echo UF::avatar($val['user_info'], 'mid'); ?>" alt="" /></a>
		<p class="aw-small-text">
			<a class="aw-user-name" href="<?php echo UF::url($val['user_info']); ?>"><?php echo UF::name($val['user_info']); ?></a>
			<?php echo _t('回复了问题'); ?>
			•
			<?php echo date_friendly($val['add_time']); ?>
		</p>
		<h4>
			<a href="<?php echo url_rewrite(); ?>/question/<?php echo $val['thread_info']['id']; ?>"><?php if (!$val['thread_info']['title']) { ?><s class="aw-deleted"><?php echo _t('已删除'); ?></s><?php } else { ?><?php echo FORMAT::text($val['thread_info']['title'], true); ?><?php } ?></a>
		</h4>
	</div>
	<div class="mod-body clearfix">
		<div class="markitup-box">
			<a class="aw-small-text" href="<?php echo url_rewrite(); ?>/question/item_id-<?php echo $val['id']; ?>">
				<?php echo safe_text(truncate_text($val['message'], 200)); ?>
			</a>
		</div>
	</div>
</div>
<!-- end 回答 -->

<?php } else if ($val['item_type'] == 'article') { ?>
<?php if (!$val['title']) continue; ?>

<!-- 文章 -->
<div class="aw-item">
	<div class="mod-head">
		<a data-id="<?php echo $val['user_info']['uid']; ?>" class="aw-user-img aw-border-radius-5" href="<?php echo UF::url($val['user_info']); ?>"><img src="<?php echo UF::avatar($val['user_info'], 'mid'); ?>" alt="" /></a>
		<p class="aw-small-text">
			<a class="aw-user-name" href="<?php echo UF::url($val['user_info']); ?>"><?php echo UF::name($val['user_info']); ?></a>
			<?php echo _t('发表了文章'); ?>
			•
			<?php echo date_friendly($val['add_time']); ?>
			•
			<?php echo _t('%s 个评论', $val['comments']); ?>
		</p>
		<h4>
			<a href="<?php echo url_rewrite(); ?>/article/<?php echo $val['id']; ?>"><?php echo FORMAT::text($val['title'], true); ?></a>
		</h4>
	</div>
</div>
<!-- end 文章 -->

<?php } else if ($val['item_type'] == 'article_comment') { ?>
<?php if (!$val['message']) continue; ?>

<!-- 文章评论 -->
<div class="aw-item">
	<div class="mod-head">
		<a data-id="<?php echo $val['user_info']['uid']; ?>" class="aw-user-img aw-border-radius-5" href="<?php echo UF::url($val['user_info']); ?>"><img src="<?php echo UF::avatar($val['user_info'], 'mid'); ?>" alt="" /></a>
		<p class="aw-small-text">
			<a class="aw-user-name" href="<?php echo UF::url($val['user_info']); ?>"><?php echo UF::name($val['user_info']); ?></a>
			<?php echo _t('评论了文章'); ?>
			•
			<?php echo date_friendly($val['add_time']); ?>
		</p>
		<h4>
			<a href="<?php echo url_rewrite(); ?>/article/<?php echo $val['thread_info']['id']; ?>"><?php if (!$val['thread_info']['title']) { ?><s class="aw-deleted"><?php echo _t('已删除'); ?></s><?php } else { ?><?php echo FORMAT::text($val['thread_info']['title'], true); ?><?php } ?></a>
		</h4>
	</div>
	<div class="mod-body clearfix">
		<div class="markitup-box">
			<a class="aw-small-text" href="<?php echo url_rewrite(); ?>/article/item_id-<?php echo $val['id']; ?>">
				<?php echo safe_text(truncate_text($val['message'], 200)); ?>
			</a>
		</div>
	</div>
</div>
<!-- end 文章评论 -->

<?php } else if ($val['item_type'] == 'video') { ?>
<?php if (!$val['title']) continue; ?>

<!-- 影片 -->
<div class="aw-item">
	<div class="mod-head">
		<a data-id="<?php echo $val['user_info']['uid']; ?>" class="aw-user-img aw-border-radius-5" href="<?php echo UF::url($val['user_info']); ?>"><img src="<?php echo UF::avatar($val['user_info'], 'mid'); ?>" alt="" /></a>
		<p class="aw-small-text">
			<a class="aw-user-name" href="<?php echo UF::url($val['user_info']); ?>"><?php echo UF::name($val['user_info']); ?></a>
			<?php echo _t('发表了影片'); ?>
			•
			<?php echo date_friendly($val['add_time']); ?>
			•
			<?php echo _t('%s 个评论', $val['comment_count']); ?>
		</p>
		<h4>
			<a href="<?php echo url_rewrite(); ?>/video/<?php echo $val['id']; ?>"><?php echo FORMAT::text($val['title'], true); ?></a>
		</h4>
	</div>
</div>
<!-- end 影片 -->

<?php } else if ($val['item_type'] == 'video_comment') { ?>
<?php if (!$val['message']) continue; ?>

<!-- 影片评论 -->
<div class="aw-item">
	<div class="mod-head">
		<a data-id="<?php echo $val['user_info']['uid']; ?>" class="aw-user-img aw-border-radius-5" href="<?php echo UF::url($val['user_info']); ?>"><img src="<?php echo UF::avatar($val['user_info'], 'mid'); ?>" alt="" /></a>
		<p class="aw-small-text">
			<a class="aw-user-name" href="<?php echo UF::url($val['user_info']); ?>"><?php echo UF::name($val['user_info']); ?></a>
			<?php echo _t('评论了影片'); ?>
			•
			<?php echo date_friendly($val['add_time']); ?>
		</p>
		<h4>
			<a href="<?php echo url_rewrite(); ?>/video/<?php echo $val['thread_info']['id']; ?>"><?php if (!$val['thread_info']['title']) { ?><s class="aw-deleted"><?php echo _t('已删除'); ?></s><?php } else { ?><?php echo FORMAT::text($val['thread_info']['title'], true); ?><?php } ?></a>
		</h4>
	</div>
	<div class="mod-body clearfix">
		<div class="markitup-box">
			<a class="aw-small-text" href="<?php echo url_rewrite(); ?>/video/item_id-<?php echo $val['id']; ?>">
				<?php echo safe_text(truncate_text($val['message'], 200)); ?>
			</a>
		</div>
	</div>
</div>
<!-- end 影片评论 -->

<?php } ?>
<?php } ?>