<?php TPL::include('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<a name="c_contents"></a>
					<div class="aw-mod clearfix">
						<div class="mod-head common-head">
							<h2 id="main_title"><?php echo _t('我关注的主题'); ?></h2>
						</div>

						<div class="mod-body aw-feed-list clearfix" id="main_contents"></div>

						<div class="mod-footer">
							<!-- 加载更多内容 -->
							<a id="bp_more" class="aw-load-more-content">
								<span><?php echo _t('更多'); ?></span>
							</a>
							<!-- end 加载更多内容 -->
						</div>
					</div>
				</div>
				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<?php TPL::include('block/sidebar_announce.tpl.htm'); ?>

					<?php TPL::include('block/sidebar_menu.tpl.htm'); ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
	AWS.load_list_view(G_BASE_URL + '/home/info/following_posts/<?php if ($_GET['type']) { ?>type-<?php echo htmlspecialchars($_GET['type']); ?><?php } ?>', $('#bp_more'), $('#main_contents'), 1);
});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>