<?php TPL::include('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<a name="c_contents"></a>
					<div class="aw-mod clearfix">
						<div class="mod-head common-head">
							<h2 id="main_title"><?php _e('最新动态'); ?></h2>
						</div>

						<div class="mod-body aw-feed-list clearfix" id="main_contents"></div>

						<div class="mod-footer">
							<!-- 加载更多内容 -->
							<a id="bp_more" class="aw-load-more-content">
								<span><?php _e('更多'); ?></span>
							</a>
							<!-- end 加载更多内容 -->
						</div>
					</div>
				</div>
				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<?php TPL::include('block/sidebar_announce.tpl.htm'); ?>

					<?php TPL::include('block/sidebar_menu.tpl.htm'); ?>

					<!-- 可能感兴趣的人/或话题 -->
					<?php TPL::include('block/sidebar_recommend_users_topics.tpl.htm'); ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<?php if ($_GET['first_login']) { ?>
<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/fileupload.js"></script>
<script type="text/javascript">
function welcome_step(step)
{
	switch (step)
	{
		case '1':
			var fileupload = new FileUpload('avatar', $('#welcome_avatar_uploader'), $("#aw-upload-img"), G_BASE_URL + '/account/ajax/avatar_upload/', {'loading_status' : '#aw-img-uploading'});
		break;

		case '2':
			$('#welcome_topics_list').html('<p style="padding: 15px 0" align="center"><img src="' + G_STATIC_URL + '/common/loading_b.gif" alt="" /></p>');

			$('.aw-first-login').hide().siblings().eq(1).show();

			$.get(G_BASE_URL + '/home/info/welcome_get_topics/', function (result) {
				$('#welcome_topics_list').html(result);
			});
		break;

		case '3':
			$('#welcome_users_list').html('<p style="padding: 15px 0" align="center"><img src="' + G_STATIC_URL + '/common/loading_b.gif" alt="" /></p>');

			$('.aw-first-login').hide().siblings().eq(2).show();

			$.get(G_BASE_URL + '/home/info/welcome_get_users/', function (result) {
				$('#welcome_users_list').html(result);
			});
		break;

		case 'finish':
			$('#aw-ajax-box').html('');
			$('.modal-backdrop').detach();
			$('body').removeClass('modal-open');
		break;
	}
}

$(document).ready(function () {
	$.get(G_BASE_URL+'/home/info/welcome/', function (template) {
		$('#aw-ajax-box').html(template);
		$('body').addClass('modal-open');
		welcome_step('1');
	});
});
</script>
<?php } else { ?>
<script type="text/javascript">
$(document).ready(function () {
	AWS.load_list_view(G_BASE_URL + '/home/info/activities/', $('#bp_more'), $('#main_contents'), 1);
});
</script>
<?php } ?>

<?php TPL::include('global/footer.tpl.htm'); ?>