<?php if ($this->list) { ?>
<?php foreach ($this->list AS $key => $val) { ?>
<!-- 问题 -->
<div class="aw-item">
	<div class="mod-head">
		<a data-id="<?php echo $val['user_info']['uid']; ?>" class="aw-user-img aw-border-radius-5" href="<?php echo UF::url($val['user_info']); ?>"><img src="<?php echo UF::avatar($val['user_info'], 'mid'); ?>" alt="" /></a>
		<p class="aw-small-text">
			<a class="aw-user-name" href="<?php echo UF::url($val['user_info']); ?>"><?php echo UF::name($val['user_info']); ?></a>
			•
			<?php echo date_friendly($val['add_time']); ?>
			•
			<?php _e('%s 个回复', $val['answer_count']); ?>
		</p>
		<h4>
			<a href="question/<?php echo $val['id']; ?>"><?php if (!$val['title']) { ?><s class="aw-deleted"><?php _e('已删除'); ?></s><?php } else { ?><?php echo FORMAT::text($val['title'], false); ?><?php } ?></a>
		</h4>
	</div>
</div>
<!-- end 问题 -->
<?php } ?>
<?php } ?>