<?php if ($this->list) { ?>
<?php foreach ($this->list AS $key => $val) { ?>
<!-- 问题 -->
<div class="aw-item">
	<div class="mod-head">
		<a data-id="<?php echo $val['user_info']['uid']; ?>" class="aw-user-img aw-border-radius-5" href="<?php echo UF::url($val['user_info']); ?>"><img src="<?php echo UF::avatar($val['user_info'], 'mid'); ?>" alt="" /><?php if ($val['user_info']['verified']) { ?><?php if ($val['user_info']['verified'] == 'personal') { ?><i class="icon icon-v"></i><?php } else { ?><i class="icon icon-v i-ve"></i><?php } ?><?php } ?></a>
		<p class="text-color-999">
			<?php echo $val['note']; ?>
			•
			<?php echo date_friendly($val['add_time']); ?>
			•
			<?php _e('%s 个回复', $val['answer_count']); ?>
		</p>
		<h4>
			<a href="question/<?php echo $val['question_id']; ?>?rf=false"><?php if (!$val['question_content']) { ?><i class="text-color-999"><?php _e('已删除'); ?></i><?php } else { ?><?php echo $val['question_content']; ?><?php } ?></a>
		</h4>
	</div>
</div>
<!-- end 问题 -->
<?php } ?>
<?php } ?>