<div class="modal fade alert-box aw-first-login">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body clearfix">
				<div class="aw-mod">
					<div class="mod-head">
						<h2>Hi , <?php echo UF::name($this->user_info); ?><br/><?php _e('欢迎来到'); ?> <?php echo S::get('site_name'); ?></h2>
						<ul>
							<li>
								<?php _e('完善基本资料'); ?>
							</li>
						</ul>
					</div>
					<div class="mod-body">
						<form id="welcome_form" action="<?php echo url_rewrite(); ?>/profile/ajax/profile_setting/" method="post" onsubmit="return false">
						<input type="hidden" name="first_login" value="1" />
						<div class="aw-complete-data">
							<div class="pull-left side-bar">
								<img id="aw-upload-img" src="<?php echo UF::avatar($this->user_info, 'max'); ?>" title="" alt=""/>
								<p class="clearfix text-center"><a class="btn btn-success clearfix" id="welcome_avatar_uploader"><?php _e('上传头像'); ?></a> </p>
								<p id="aw-img-uploading" class="collapse"><i class="aw-loading"></i><?php _e('文件上传中...'); ?></p>

							</div>
							<div class="pull-left form-horizontal">
								<div class="form-group">
									<label class="col-sm-2 control-label"><?php _e('性别'); ?>:</label>
									<div class="col-sm-10">
										<label>
											<input type="radio" name="sex" value="0"<?php if (!$this->user_info['sex']) { ?> checked="checked"<?php } ?> />
											<?php _e('保密'); ?>
										</label> &nbsp;
										<label>
											<input type="radio" name="sex" value="1"<?php if ($this->user_info['sex'] == 1) { ?> checked="checked"<?php } ?> />
											<?php _e('男'); ?>
										</label> &nbsp;
										<label>
											<input type="radio" name="sex" value="2"<?php if ($this->user_info['sex'] == 2) { ?> checked="checked"<?php } ?> />
											<?php _e('女'); ?>
										</label> &nbsp;
										<label>
											<input type="radio" name="sex" value="3"<?php if ($this->user_info['sex'] == 3) { ?> checked="checked"<?php } ?> />
											<?php _e('其他'); ?>
										</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label"><?php _e('介绍'); ?>:</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="<?php _e('如：小熊维尼'); ?>" id="welcome_signature" value="" name="signature" />
									</div>
								</div>
							</div>
						</div>
						</form>
					</div>
					<div class="mod-footer">
						<a class="pull-left" data-dismiss="modal" aria-hidden="true"><?php _e('跳过资料填写'); ?></a>
						<a class="btn btn-large btn-success pull-right" onclick="AWS.submit_form($('#welcome_form'), $(this));"><?php _e('完成'); ?></a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>