<?php if ($this->users_list) { ?>
<?php foreach ($this->users_list AS $key => $val) { ?>
<li>
	<a class="img"><img src="<?php echo UF::avatar($val, 'mid'); ?>" alt="" /></a>
	<a class="btn btn-success follow btn-mini pull-right<?php if ($val['follow_check']) { ?> active<?php } ?>" href="javascript:;" onclick="AWS.User.follow($(this), 'user', <?php echo $val['uid']; ?>);"><span><?php if ($val['follow_check']) { ?><?php _e('取消'); ?><?php } ?><?php _e('关注'); ?> <em>|</em> <b><?php echo $val['fans_count']; ?></b></span></a>
	<p>
		<a class="aw-user-name" href="<?php echo UF::url($val); ?>"><?php echo UF::name($val); ?> <?php if ($val['verified']) { ?><i class="icon-v <?php if ($val['verified'] == 'enterprise') { ?> i-ve<?php } ?>" title="<?php if ($val['verified'] == 'enterprise') { ?>企业认证<?php } else { ?>个人认证<?php } ?>"></i><?php } ?></a>
	</p>
	<p>
		<span><i class="icon icon-prestige"></i> <em class="aw-text-color-green"><?php echo $val['reputation']; ?></em></span>
		<span><i class="icon icon-agree"></i> <em class="aw-text-color-orange"><?php echo $val['agree_count']; ?></em></span>
	</p>
	<p class="signature aw-hide-txt">
		<?php echo UF::signature($val); ?>
	</p>
</li>
<?php } ?>
<?php } ?>