<?php TPL::include('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<?php TPL::include('block/content_nav_menu.tpl.htm'); ?>

	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<a name="c_contents"></a>
					<div class="aw-mod clearfix">
						<div class="mod-head common-head">
							<h2 id="main_title"><?php echo _t('精选'); ?></h2>
						</div>

						<div class="mod-body aw-feed-list clearfix" id="main_contents"></div>

						<div class="mod-footer">
							<!-- 加载更多内容 -->
							<a id="bp_more" class="aw-load-more-content">
								<span><?php echo _t('更多'); ?></span>
							</a>
							<!-- end 加载更多内容 -->
						</div>
					</div>
				</div>

				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<?php TPL::include('block/sidebar_feature.tpl.htm'); ?>
					<?php TPL::include('block/sidebar_hot_topics.tpl.htm'); ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
function remove_discussion(div, type) {
	var el = div.find('.markitup-box');
	if (el.html().indexOf('<s class="aw-deleted">') !== -1) return;
	$.get(G_BASE_URL + '/question/ajax/remove_comment/type-' + type + '__comment_id-' + div.data('item-id'));
	el.html("<s class=\"aw-deleted\"><?php echo _t('已删除'); ?></s>");
}

function toggle_disscusion(btn) {
	var div = btn.closest('.aw-item').find('.aw-comment-box');
	if (div.css('display') == 'none') {
		if (!div.data('initialized')) {
			div.attr('data-initialized', 'true');
			var data_url;
			if (btn.data('type') == 'question') {
				data_url = G_BASE_URL + '/question/info/comments/parent_id-' + btn.data('id');
			} else {
				data_url = G_BASE_URL + '/question/info/discussions/parent_id-' + btn.data('id');
			}
			var per_page = <?php echo S::get_int('replies_per_page'); ?> || 100;
			var count = parseInt(btn.data('comment-count')) || 0;
			var pages = Math.ceil(count / per_page);
			AWS.load_list_view(data_url, div.find('.aw-load-more-content'), div.find('.aw-comment-list'), 1, pages);
		}
		btn.addClass('active');
		div.fadeIn();
	} else {
		btn.removeClass('active');
		div.fadeOut();
	}
}

function submit_disscusion(btn) {
	var form = btn.closest('form');
	var list = btn.closest('.aw-comment-box').find('.aw-comment-list');
	AWS.submit_append(form, btn, list, function() {
		list.children('p').remove();
		form.find('textarea').css('height', '34px');
	});
}

$(document).ready(function () {
	AWS.load_list_view(G_BASE_URL + '/hot/list/category-<?php echo intval($_GET['category']); ?>', $('#bp_more'), $('#main_contents'), 1, function() {
		// RFC-091 展開閱讀全文 此功能由 onemorecat 提供
		$('.mod-body.aw-feed-list .aw-item .markitup-box').each(function () {
			var $contentDiv = $(this);
			if ($contentDiv.data('brief')) return;
			$contentDiv.attr('data-brief', 'true');
			if($contentDiv.text().length > 1000 || $contentDiv.find('img').length >= 5) {
				$contentDiv.addClass('aw-briefly');
				var $button = $('<div class="aw-stretch-content-button-container"><button class="aw-stretch-content-button" type="button"></button></div>');
				$button.click(function () {
					$contentDiv.removeClass('aw-briefly');
					$button.hide();
				});
				$contentDiv.append($button);
			}
		});
	});
});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>