<?php TPL::include('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<?php TPL::include('block/content_nav_menu.tpl.htm'); ?>

	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<a name="c_contents"></a>
					<div class="aw-mod clearfix">
						<div class="mod-head common-head">
							<h2 id="main_title"><?php _e('精选'); ?></h2>
						</div>

						<div class="mod-body aw-feed-list clearfix" id="main_contents"></div>

						<div class="mod-footer">
							<!-- 加载更多内容 -->
							<a id="bp_more" class="aw-load-more-content">
								<span><?php _e('更多'); ?></span>
							</a>
							<!-- end 加载更多内容 -->
						</div>
					</div>
				</div>

				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<?php TPL::include('block/sidebar_feature.tpl.htm'); ?>
					<?php TPL::include('block/sidebar_hot_topics.tpl.htm'); ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
var observer = new MutationObserver(function(mutations) {
	mutations.forEach(function(mutationRecord) {
		if (mutationRecord.type == 'childList' && mutationRecord.addedNodes.length > 1) {
			// 问题页添加讨论
			$(document).off('click', '.aw-add-comment');
			AWS.Init.init_comment_box('.aw-add-comment');
			// RFC-091 展開閱讀全文 此功能由 onemorecat 提供
			$('.mod-body.aw-feed-list .aw-item .markitup-box').each(function () {
				var $contentDiv = $(this);
				if($contentDiv.text().length > 1000 || $contentDiv.find('img').length >= 5) {
					$contentDiv.addClass('aw-briefly');
					var $button = $('<div class="aw-stretch-content-button-container"><button class="aw-stretch-content-button" type="button"></button></div>');
					$button.click(function () {
						$contentDiv.removeClass('aw-briefly');
						$button.hide();
					});
					$contentDiv.append($button);
				}
			});
		}
	})
});
observer.observe(document.getElementsByClassName('mod-body aw-feed-list')[0], {childList: true});

AWS.load_list_view(G_BASE_URL + '/hot/list/category-<?php echo intval($_GET['category']); ?>', $('#bp_more'), $('#main_contents'), 1);
});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>