<?php TPL::include('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="aw-global-tips">
					<?php if ($this->redirect_message) { ?>
					<div class="alert alert-warning fade in">
						<?php foreach ($this->redirect_message AS $key => $message) { ?>
						<?php echo $message; ?>
						<?php } ?>
					</div>
					<?php } ?>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<div class="aw-mod aw-topic-detail-title">
						<div class="mod-body">
							<img src="<?php echo get_topic_pic_url($this->topic_info, 'max'); ?>" alt="<?php echo $this->topic_info['topic_title']; ?>" />
							<h2 class="pull-left"><?php echo $this->topic_info['topic_title']; ?> <?php if ($this->topic_info['topic_lock']) { ?><i class="aw-icon i-lock" title="<?php _e('已锁定'); ?>"></i><?php } ?></h2>
							<div class="aw-topic-operate aw-small-text">
								<?php if ($this->user_id) { ?>
								<a href="javascript:;" onclick="AWS.User.follow($(this), 'topic', <?php echo $this->topic_info['topic_id']; ?>);" class="follow btn btn-normal btn-success<?php if ($this->topic_info['has_focus']) { ?> active<?php } ?>"><span><?php if ($this->topic_info['has_focus']) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?></span> <em>|</em> <b><?php echo $this->topic_info['focus_count']; ?></b></a>
								<?php } ?>
							</div>
						</div>
					</div>

					<div class="aw-mod aw-topic-list-mod">
						<div class="mod-body">
							<div class="aw-common-list" id="c_all_list">
								<?php echo $this->all_list_bit; ?>
							</div>
						</div>
						<div class="mod-footer">
							<a class="aw-load-more-content" id="c_all_more" auto-load="false">
								<span><?php _e('更多'); ?>...</span>
							</a>
						</div>
					</div>
				</div>

				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<!-- 话题描述 -->
					<div class="aw-mod aw-text-align-justify">
						<div class="mod-head">
							<h3><?php _e('话题描述'); ?></h3>
						</div>
						<div class="mod-body">
							<?php if ($this->topic_info['topic_description']) { ?>
							<p><?php echo nl2br(FORMAT::parse_link($this->topic_info['topic_description'])); ?></p>
							<?php } else if ($this->topic_info['topic_lock'] == 0 && $this->user_info['permission']['edit_topic']) { ?>
							<a href="topic/edit/<?php echo $this->topic_info['topic_id']; ?>" class="icon-inverse" class=><i class="icon icon-edit"></i> <?php _e('添加描述'); ?></a>
							<?php } ?>
						</div>
					</div>
					<!-- end 话题描述 -->

					<?php TPL::include('topic/related_topics.tpl.htm'); ?>

					<!-- xx人关注该话题 -->
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php _e('%s 人关注该话题', $this->topic_info['focus_count']); ?></h3>
						</div>
					</div>
					<!-- end xx人关注该话题 -->

					<?php if ($this->topic_info['topic_lock'] == 0 AND $this->user_info['permission']['edit_topic']) { ?>
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php _e('管理'); ?></h3>
						</div>

						<div class="mod-body">
							<ul>
							<?php if ($this->topic_info['topic_lock'] == 0 && $this->user_info['permission']['edit_topic']) { ?>
								<li><a href="topic/edit/<?php echo $this->topic_info['topic_id']; ?>"><?php _e('编辑话题'); ?></a></li>
							<?php } ?>

							<?php if ($this->user_info['permission']['manage_topic']) { ?>

								<li><a href="topic/manage/<?php echo $this->topic_info['topic_id']; ?>"><?php _e('管理话题'); ?></a></li>

								<li><a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/topic/ajax/lock/', 'topic_id=<?php echo $this->topic_info['topic_id']; ?>');"><?php if ($this->topic_info['topic_lock']) { ?><?php _e('解除锁定'); ?><?php } else { ?><?php _e('锁定话题'); ?><?php } ?></a></li>

								<li><a href="javascript:;" onclick="AWS.confirm('<?php _e('确认删除?'); ?>', function(){AWS.ajax_request(G_BASE_URL + '/topic/ajax/remove/', 'topic_id=<?php echo $this->topic_info['topic_id']; ?>');});"><?php _e('删除话题'); ?></a></li>

							<?php } ?>
							</ul>
						</div>
					</div>
					<?php } ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
	AWS.load_list_view(G_BASE_URL + '/explore/ajax/list/topic_id-<?php echo $this->topic_ids; ?>', $('#c_all_more'), $('#c_all_list'), 2);
});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>