<?php TPL::include('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="aw-global-tips">
					<?php if ($this->redirect_message) { ?>
					<div class="alert alert-warning fade in">
						<?php foreach ($this->redirect_message AS $key => $message) { ?>
						<?php echo $message; ?>
						<?php } ?>
					</div>
					<?php } ?>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<div class="aw-mod aw-topic-detail-title">
						<div class="mod-body">
							<img src="<?php echo get_topic_pic_url($this->topic_info, 'mid'); ?>" alt="<?php echo $this->topic_info['topic_title']; ?>" />
							<h2 class="pull-left"><?php echo $this->topic_info['topic_title']; ?> <?php if ($this->topic_info['topic_lock']) { ?><i class="aw-icon i-lock" title="<?php _e('已锁定'); ?>"></i><?php } ?></h2>
							<div class="aw-topic-operate text-color-999">
								<?php if ($this->user_id) { ?>
								<a href="javascript:;" onclick="AWS.User.follow($(this), 'topic', <?php echo $this->topic_info['topic_id']; ?>);" class="follow btn btn-normal btn-success<?php if ($this->topic_info['has_focus']) { ?> active<?php } ?>"><span><?php if ($this->topic_info['has_focus']) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?></span> <em>|</em> <b><?php echo $this->topic_info['focus_count']; ?></b></a>
								<?php } ?>
							</div>
						</div>
					</div>

					<div class="aw-mod aw-topic-list-mod">
						<div class="mod-head">
							<div class="tabbable">
								<!-- tab 切换 -->
								<ul class="nav nav-tabs aw-nav-tabs hidden-xs">
									<li class="active"><a href="#all" data-toggle="tab"><?php _e('全部内容'); ?></a></li>

									<li><a href="#questions" data-toggle="tab"><?php _e('问题'); ?></a></li>

									<li><a href="#articles" data-toggle="tab"><?php _e('文章'); ?></a></li>

									<li><a href="#about" id="i_about" data-toggle="tab"><?php _e('关于话题'); ?></a></li>
									<!--div class="aw-search-bar pull-right hidden-xs">
										<i class="icon icon-search"></i>
										<input type="text" id="question-input" class="form-control" placeholder="搜索...">
										<div class="aw-dropdown">
											<p class="title"><?php _e('没有找到相关结果'); ?></p>
											<ul class="aw-dropdown-list"></ul>
										</div>
									</div-->
								</ul>
								<!-- end tab 切换 -->
							</div>
						</div>

						<div class="mod-body">
							<!-- tab 切换内容 -->
							<div class="tab-content">
								<!-- 全部 -->
								<div class="tab-pane active" id="all">
									<div class="aw-mod">
										<div class="mod-body">
											<div class="aw-common-list" id="c_all_list">
												<?php echo $this->all_list_bit; ?>
											</div>
										</div>
										<div class="mod-footer">
											<a class="aw-load-more-content" id="c_all_more" auto-load="false">
												<span><?php _e('更多'); ?>...</span>
											</a>
										</div>
									</div>
								</div>
								<!-- end 全部 -->

								<!-- 问题 -->
								<div class="tab-pane" id="questions">
									<div class="aw-mod">
										<div class="mod-body">
											<div class="aw-common-list" id="c_question_list">
												<?php echo $this->all_questions_list_bit; ?>
											</div>
										</div>
										<div class="mod-footer">
											<a class="aw-load-more-content" id="c_question_more" auto-load="false">
												<span><?php _e('更多'); ?>...</span>
											</a>
										</div>
									</div>
								</div>
								<!-- end 问题 -->

								<!-- 文章 -->
								<div class="tab-pane" id="articles">
									<div class="aw-mod">
										<div class="mod-body">
											<div class="aw-common-list" id="c_article_list">
												<?php echo $this->article_list_bit; ?>
											</div>
										</div>
										<div class="mod-footer">
											<a class="aw-load-more-content" id="bp_articles_more" auto-load="false">
												<span><?php _e('更多'); ?>...</span>
											</a>
										</div>
									</div>
								</div>
								<!-- end 文章 -->

								<div class="tab-pane" id="about">
									<div class="aw-topic-detail-about text-color-666 markitup-box">
										<?php echo FORMAT::html($this->topic_info['topic_description']); ?>
									</div>
								</div>
							</div>
							<!-- end tab 切换内容 -->
						</div>
					</div>
				</div>

				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<!-- 话题描述 -->
					<div class="aw-mod aw-text-align-justify">
						<div class="mod-head">
							<h3><?php _e('话题描述'); ?></h3>
						</div>
						<div class="mod-body">
							<?php if ($this->topic_info['topic_description']) { ?>
							<p><?php echo cjk_substr(strip_ubb($this->topic_info['topic_description']), 0, 128, 'UTF-8', '... &nbsp; <a href="javascript:;" onclick="$(\'#i_about\').click()">查看全部</a>'); ?></p>
							<?php } else if ($this->topic_info['topic_lock'] == 0 && $this->user_info['permission']['edit_topic']) { ?>
							<a href="topic/edit/<?php echo $this->topic_info['topic_id']; ?>" class="icon-inverse" class=><i class="icon icon-edit"></i> <?php _e('添加描述'); ?></a>
							<?php } ?>
						</div>
					</div>
					<!-- end 话题描述 -->

					<?php TPL::include('topic/related_topics.tpl.htm'); ?>

					<?php if ($this->parent_topic_info) { ?>
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php _e('根话题'); ?></h3>
						</div>

						<a class="aw-topic-name" href="topic/<?php echo $this->parent_topic_info['url_token']; ?>" data-id="<?php echo $this->parent_topic_info['topic_id']; ?>"><span><?php echo $this->parent_topic_info['topic_title']; ?></span></a>
					</div>
					<?php } ?>

					<!-- xx人关注该话题 -->
					<div class="aw-mod topic-status">
						<div class="mod-head">
							<h3><?php _e('%s 人关注该话题', $this->topic_info['focus_count']); ?></h3>
						</div>
						<div class="mod-body">
							<div id="focus_users" class="aw-border-radius-5"></div>
						</div>
					</div>
					<!-- end xx人关注该话题 -->

					<?php if ( $this->user_info['permission']['is_administrator'] OR $this->user_info['permission']['is_moderator'] OR ($this->topic_info['topic_lock'] == 0 && $this->user_info['permission']['edit_topic']) ) { ?>
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php _e('管理'); ?></h3>
						</div>

						<div class="mod-body">
							<ul>
							<?php if ($this->topic_info['topic_lock'] == 0 && $this->user_info['permission']['edit_topic']) { ?>
								<li><a href="topic/edit/<?php echo $this->topic_info['topic_id']; ?>"><?php _e('编辑话题'); ?></a></li>
							<?php } ?>

							<?php if ($this->user_info['permission']['manage_topic']) { ?>

								<li><a href="topic/manage/<?php echo $this->topic_info['topic_id']; ?>"><?php _e('管理话题'); ?></a></li>

								<li><a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/topic/ajax/lock/', 'topic_id=<?php echo $this->topic_info['topic_id']; ?>');"><?php if ($this->topic_info['topic_lock']) { ?><?php _e('解除锁定'); ?><?php } else { ?><?php _e('锁定话题'); ?><?php } ?></a></li>

								<li><a href="javascript:;" onclick="AWS.dialog('confirm', {'message' : '<?php _e('确认删除?'); ?>'}, function(){AWS.ajax_request(G_BASE_URL + '/topic/ajax/remove/', 'topic_id=<?php echo $this->topic_info['topic_id']; ?>');});"><?php _e('删除话题'); ?></a></li>

							<?php } ?>
							</ul>
						</div>
					</div>
					<?php } ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var TOPIC_ID = '<?php echo $this->topic_info['topic_id']; ?>';

	var CONTENTS_TOPIC_ID = '<?php echo $this->contents_topic_id; ?>';
	var CONTENTS_RELATED_TOPIC_IDS = '<?php echo $this->contents_related_topic_ids; ?>';
	var CONTENTS_TOPIC_TITLE = '<?php echo $this->contents_topic_title; ?>';
</script>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/topic.js"></script>

<?php TPL::include('global/footer.tpl.htm'); ?>