<link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/editor/sceditor/themes/square.css?v=<?php echo G_DISPLAY_VERSION_BUILD; ?>">
<script src="<?php echo G_STATIC_URL; ?>/editor/sceditor/sceditor.js?v=<?php echo G_DISPLAY_VERSION_BUILD; ?>"></script>
<script src="<?php echo G_STATIC_URL; ?>/editor/sceditor/icons/material.js?v=<?php echo G_DISPLAY_VERSION_BUILD; ?>"></script>
<script src="<?php echo G_STATIC_URL; ?>/editor/sceditor/formats/bbcode.js?v=<?php echo G_DISPLAY_VERSION_BUILD; ?>"></script>
