<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<title><?php echo $this->page_title; ?></title>
<meta name="keywords" content="<?php echo $this->_meta_keywords; ?>" />
<meta name="description" content="<?php echo $this->_meta_description; ?>" />
<base href="<?php echo url_rewrite('/'); ?>" /><!--[if IE]></base><![endif]-->
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="<?php echo G_STATIC_URL; ?>/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="<?php echo G_STATIC_URL; ?>/css/icon.css" />

<?php if (is_array($this->_import_css_files)) { ?>
<?php foreach ($this->_import_css_files AS $import_css) { ?>
<link href="<?php echo $import_css; ?>?v=<?php echo G_DISPLAY_VERSION_BUILD; ?>" rel="stylesheet" type="text/css" />
<?php } ?>
<?php } ?>

<?php if ($this->template_name != 'default') { ?>
<link href="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/<?php echo $this->template_name; ?>.css" rel="stylesheet" type="text/css" />
<?php } ?>

<?php if (get_setting('custom_css')) { ?>
<style>
<?php echo get_setting('custom_css'); ?>

</style>
<?php } ?>

<script type="text/javascript">
	var G_BASE_URL = "<?php echo url_rewrite(); ?>";
	var G_STATIC_URL = "<?php echo G_STATIC_URL; ?>";
<?php if ($this->user_id) { ?>
	var G_USER_ID = "<?php echo $this->user_id; ?>";
	var G_REPUTATION = "<?php echo intval($this->user_info['reputation']); ?>";
	var G_FLAGGED = "<?php echo $this->user_info['flagged']; ?>";
<?php } else { ?>
	var G_USER_ID = "";
	var G_REPUTATION = "";
	var G_FLAGGED = "";
<?php } ?>
	var G_UNREAD_NOTIFICATION = 0;
	var G_NOTIFICATION_INTERVAL = <?php echo intval(get_setting('unread_flush_interval')) * 1000; ?>;
	var G_CAN_CREATE_TOPIC = "<?php echo $this->user_info['permission']['create_topic']; ?>";
	var G_ADVANCED_EDITOR_ENABLE = "<?php echo get_setting('advanced_editor_enable'); ?>";
</script>
<?php if (is_array($this->_import_js_files)) { ?>
<?php foreach ($this->_import_js_files AS $import_js) { ?>
<script src="<?php echo $import_js; ?>?v=<?php echo G_DISPLAY_VERSION_BUILD; ?>" type="text/javascript"></script>
<?php } ?>
<?php } ?>
<!--[if lte IE 8]>
	<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/respond.js"></script>
<![endif]-->

<?php echo get_setting('custom_head'); ?>

</head>