<?php TPL::include('global/header.tpl.htm'); ?>

<script src="<?php echo G_STATIC_URL; ?>/js/openpgp.min.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/bcrypt.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/passwordutil.js?v=<?php echo G_DISPLAY_VERSION_BUILD; ?>"></script>
<div class="aw-container-wrap">
	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<div class="aw-mod aw-inbox">
						<div class="mod-head common-head">
							<h2>
								<a href="javascript:;" class="pm_compose pull-right btn btn-mini btn-success"><?php echo _t('新私信'); ?></a>
								<span class="pull-right aw-setting-inbox hidden-xs"><a class="aw-small-text" href="<?php echo url_rewrite(); ?>/profile/privacy/#!inbox"><i class="icon icon-setting"></i> <?php echo _t('私信设置'); ?></a></span>
								<?php echo _t('私信'); ?>
							</h2>
						</div>
						<div class="mod-body aw-feed-list">
						<?php if ($this->list) { ?>
							<?php foreach($this->list as $key => $val) { ?>
							<div class="aw-item <?php if ($val['unread']) { ?>active<?php } ?>">
								<div style="position:relative;padding-left:50px;">
									<div style="position:absolute;left:0;top:5px;width:50px;height:50px;line-height:0;overflow:hidden;"><!--
									<?php $valid_member_count = count($val['users']); ?>
									<?php foreach($val['users'] as $user) { ?>
										<?php if ($valid_member_count > 1 AND $user['uid'] == $this->user_id) continue; ?>
										--><a href="<?php echo UF::url($user); ?>"><img style="<?php if ($val['member_count'] <= 2) { ?>width:40px;height:40px;<?php } else { ?>width:20px;height:20px;<?php } ?>border-radius:4px;" src="<?php echo UF::avatar($user, 'mid'); ?>" alt="" /></a><!--
									<?php } ?>
									--></div>

									<a class="aw-small-text" href="<?php echo url_rewrite(); ?>/pm/read/<?php echo $val['id']; ?>">
									<?php foreach($val['users'] as $user) { ?>
										<?php if ($user['uid'] == $this->user_id) continue; ?>
										<?php echo UF::name($user); ?>
									<?php } ?>
									</a>

									<p class="content">
									<?php if (isset($val['last_message']) AND isset($val['last_message']['plaintext'])) { ?>
										<a class="pm_unencrypted_message" data-message="<?php echo safe_text($val['last_message']['plaintext']); ?>" href="<?php echo url_rewrite(); ?>/pm/read/<?php echo $val['id']; ?>"><i><?php echo _t('请稍候...'); ?></i></a>
									<?php } else if (isset($val['last_message']) AND isset($val['last_message']['message'])) { ?>
										<a class="pm_message" data-message="<?php echo safe_text($val['last_message']['message']); ?>" href="<?php echo url_rewrite(); ?>/pm/read/<?php echo $val['id']; ?>"><i><?php echo _t('待解密'); ?></i></a>
									<?php } else { ?>
										<a class="aw-small-text" href="<?php echo url_rewrite(); ?>/pm/read/<?php echo $val['id']; ?>"><s><?php echo _t('已刪除'); ?></s></a>
									<?php } ?>
									</p>

									<p class="aw-small-text">
										<span class="pull-right">
										<?php if ($val['unread']) { ?>
											<a href="<?php echo url_rewrite(); ?>/pm/read/<?php echo $val['id']; ?>"><?php echo _t('有 %s 条新私信', $val['unread']); ?></a>
											&nbsp;
											<a class="aw-small-text" href="<?php echo url_rewrite(); ?>/pm/read/<?php echo $val['id']; ?>"><?php echo _t('查看'); ?></a>
										<?php } else { ?>
											<a class="aw-small-text" href="javascript:;" onclick="AWS.confirm('<?php echo _t('确认删除会话?'); ?>', function(){AWS.ajax_request(G_BASE_URL + '/pm/ajax/exit/', 'id=<?php echo $val['id']; ?>');});"><?php echo _t('删除'); ?></a>
										<?php } ?>
										</span>
										<a class="aw-small-text" href="<?php echo url_rewrite(); ?>/pm/read/<?php echo $val['id']; ?>"><?php echo date_friendly($val['update_time']); ?></a>
									</p>
								</div>
							</div>
							<?php } ?>
						<?php } ?>
						</div>
						<div class="mod-footer">
							<?php TPL::include('global/pagination.tpl.htm'); ?>
						</div>
					</div>
				</div>
				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<?php TPL::include('block/sidebar_menu.tpl.htm'); ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
	function bind_recipient_input(input_el, dropdown_el) {
		var xhr, dropdown_list = dropdown_el.find('.aw-dropdown-list');
		var last = '';
		input_el.on('input', function(e) {
			var text = input_el.val().trim();
			if (text == last) {
				return;
			}
			last = text;
			if (!text.length) {
				dropdown_el.hide();
				return;
			}
			var url = G_BASE_URL + '/search/ajax/search/?type=users&q=' + encodeURIComponent(text) + '&limit=10';
			if (xhr) {
				xhr.abort();
			}
			xhr = $.get(url, function(result) {
				dropdown_list.html('');
				if (result.length && xhr) {
					$.each(result, function(i, a) {
						var item = Hogan.compile(AW_TEMPLATE.inviteDropdownList).render({
							'uid': a.uid,
							'name': a.name,
							'img': a.detail.avatar_file
						});
						item = $(item);
						item.children('a').click(function() {
							last = $(this).text()
							input_el.val(last);
							dropdown_el.hide();
						});
						item.appendTo(dropdown_list);
					});
					dropdown_el.find('.title').hide();
					dropdown_list.show();
				} else {
					dropdown_el.find('.title').show();
					dropdown_list.hide();
				}
				dropdown_el.show();
			}, 'json');
		});
		input_el.blur(function() {
			dropdown_el.delay(500).fadeOut(300);
		});
	};

	$('.pm_compose').click(function() {
		AWS.popup(G_BASE_URL + '/pm/edit/compose/', function() {
			var input = $('.pm_recipient_input'), dropdown = $('.pm_recipient_dropdown');
			for (var i=0; i < input.length; i++) {
				bind_recipient_input(input.eq(i), dropdown.eq(i));
			}
		});
	});

	function truncate(s) {
		var n = 60;
		if (s.length <= n) return s;
		return s.substr(0, n) + '...';
	}

	var public_key = '<?php echo $this->user_info['public_key']; ?>';

	function decrypt_key(cb) {
		AWS.passwordPrompt("<?php echo _t('请输入登录密码以解密私钥'); ?>", function(pwd) {
			PasswordUtil.password_hash(pwd, public_key).then(function(value) {
				return PasswordUtil.decrypt_private_key('<?php echo $this->user_info['private_key']; ?>', value);
			}).then(function(value) {
				cb(value);
			}).catch(function(error) {
				console.log(error);
				AWS.confirm("<?php echo _t('无法解密私钥, 要再试一次吗？'); ?>", function() {
					decrypt_key(cb);
				});
			});
		});
	}

	function read_key() {
		var k = '<?php echo G_COOKIE_PREFIX; ?>_private_key';
		return new Promise(function(resolve) {
			var private_key = localStorage.getItem(k);
			if (!private_key) {
				decrypt_key(function(private_key) {
					localStorage.setItem(k, private_key);
					resolve(private_key);
				});
			} else {
				resolve(private_key);
			}
		}).then(function(value) {
			return PasswordUtil.read_private_key(value);
		}).catch(function(error) {
			localStorage.removeItem(k);
			throw error;
		});
	}

	function decrypt_messages() {
		if (!public_key) {
			AWS.alert("<?php echo _t('缺少公钥和私钥, 请重新登录以生成新的公钥和私钥'); ?>");
			return;
		}
		var els = $('.pm_message');
		if (!els.length) return;
		read_key().then(function(private_key) {
			els.each(function() {
				var el = $(this);
				var msg = el.data('message');
				if (!msg) return;
				PasswordUtil.decrypt(msg, private_key).then(function(value) {
					el.text(truncate(value));
				}).catch(function(error) {
					console.log(error);
					el.html("<i><?php echo _t('无法解密这一条私信'); ?></i>");
				});
			});
		}).catch(function(error) {
			console.log(error);
			AWS.alert("<?php echo _t('无法读取私钥, 请刷新页面重试'); ?>");
		});
	}

	function decode_messages() {
		var els = $('.pm_unencrypted_message');
		if (!els.length) return;
		els.each(function() {
			var el = $(this);
			var msg = el.data('message');
			if (!msg) return;
			el.text(truncate(PasswordUtil.base64_decode(msg)));
		});
	}

	decode_messages();
	decrypt_messages();
});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>