<?php if ($this->users_list) { ?>
<?php foreach ($this->users_list AS $key => $val) { ?>
<?php if ($val['forbidden'] AND !$this->user_info['permission']['is_administrator']) continue; ?>
<li>
	<div class="mod-head">
		<a class="aw-user-img pull-left aw-border-radius-5" data-id="<?php echo $val['uid']; ?>" href="<?php echo UF::url($val); ?>">
			<img src="<?php echo UF::avatar($val, 'mid'); ?>" alt="" />
		</a>
		<p><a href="<?php echo UF::url($val); ?>"><?php echo UF::name($val); ?></a></p>
	</div>
	<div class="mod-body">
		<p class="text-color-999 aw-hide-txt"><?php echo UF::signature($val); ?></p>
	</div>
	<div class="mod-footer meta">
		<span><i class="icon icon-prestige"></i> <?php _e(get_setting('reputation_name')); ?> <em class="aw-text-color-green"><?php echo intval($val['reputation']); ?></em></span>
		<span><i class="icon icon-agree"></i> <?php _e('赞同'); ?> <em class="aw-text-color-orange"><?php echo $val['agree_count']; ?></em></span>
	</div>
</li>
<?php } ?>
<?php } ?>