<?php TPL::include('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 aw-main-content">
				<!-- main-content -->
					<!-- 用户数据内容 -->
					<div class="aw-mod aw-user-detail-box">
						<div class="mod-head">
							<img src="<?php echo UF::avatar($this->user, 'max', $this->user_info['permission']['is_administrator']); ?>" alt="<?php echo UF::name($this->user); ?>" />
							<span class="pull-right operate">
							<?php if ($this->user['uid'] != $this->user_id AND $this->user_id) { ?>

								<?php if ($this->user_info['permission']['change_user_group']) { ?>
									<a href="javascript:;" class="aw-small-text" onclick="AWS.popup(G_BASE_URL + '/user/edit/change_group/uid-<?php echo $this->user['uid']; ?>');"><i class="icon icon-edit"></i> <?php _e('用户组'); ?></a>
								<?php } ?>
								<?php if ($this->user_info['permission']['edit_user']) { ?>
									<a href="javascript:;" class="aw-small-text" onclick="AWS.User.edit_verified_title('<?php echo $this->user['uid']; ?>', decodeURIComponent('<?php echo rawurlencode($this->user['verified']); ?>'));"><i class="icon icon-edit"></i> <?php _e('头衔'); ?></a>
									<a href="javascript:;" class="aw-small-text" onclick="AWS.User.edit_signature('<?php echo $this->user['uid']; ?>', decodeURIComponent('<?php echo rawurlencode($this->user['signature']); ?>'));"><i class="icon icon-edit"></i> <?php _e('签名'); ?></a>
								<?php } ?>

								<?php if ($this->user_info['permission']['forbid_user']) { ?>
									<a href="javascript:;" class="aw-small-text" onclick="AWS.popup(G_BASE_URL + '/user/edit/forbid_user/uid-<?php echo $this->user['uid']; ?>');"><i class="icon icon-forbid"></i> <?php if ($this->user['forbidden']) { ?><?php _e('解封'); ?><?php } else { ?><?php _e('封禁'); ?><?php } ?></a>
								<?php } ?>

								<?php if ($this->user_info['permission']['flag_user']) { ?>
									<a href="javascript:;" class="aw-small-text" onclick="AWS.popup(G_BASE_URL + '/user/edit/flag_user/uid-<?php echo $this->user['uid']; ?>');"><i class="icon icon-forbid"></i> <?php _e('标记'); ?></a>
								<?php } ?>

								<a href="javascript:;" class="aw-small-text" onclick="AWS.User.compose_message('<?php echo UF::name($this->user); ?>');"><i class="icon icon-inbox"></i> <?php _e('私信'); ?></a>
								<a href="javascript:;" class="aw-small-text hidden-xs" onclick="AWS.User.ask_user(<?php echo $this->user['uid']; ?>, '<?php echo UF::name($this->user); ?>');"><i class="icon icon-at"></i> <?php _e('问Ta'); ?></a>
								<a href="javascript:;" class="follow btn btn-normal btn-success<?php if ($this->user_follow_check) { ?> active<?php } ?>" onclick="AWS.User.follow($(this), 'user', <?php echo $this->user['uid']; ?>);"><span><?php if ($this->user_follow_check) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?></span> <em>|</em> <b><?php echo $this->user['fans_count']; ?></b></a>
							<?php } else if ($this->user_id == $this->user['uid']) { ?>
								<a href="account/setting/profile/" class="btn btn-mini btn-success"><?php _e('编辑'); ?></a>
							<?php } ?>
							</span>
							<span><?php echo UF::name($this->user); ?></span>
							<?php if ($this->user['verified']) { ?><em class="aw-verified"><?php echo $this->user['verified']; ?></em><?php } ?>
							<!-- 封禁 -->
							<?php if ($this->user['forbidden'] == 2) { ?>
								<span class="aw-small-text"><?php _e('系统自动封禁'); ?></span>
								<br />
								<span class="aw-small-text"><?php _e('封禁理由'); ?> : <?php _e('累计收到反对票的数量过多'); ?></span>
							<?php } else if ($this->user['forbidden']) { ?>
								<span class="aw-small-text"><a href="people/<?php echo $this->user['data']['banned_by']; ?>"><?php _e('管理员'); ?></a><?php _e('封禁'); ?></span>
								<?php if ($this->user['forbidden'] == 3 AND get_setting('days_delete_forbidden_users')) {
									$expiration_date = intval(get_setting('days_delete_forbidden_users')) * 86400 + $this->user['user_update_time'];
								?>
								<span class="aw-small-text"><?php _e('将于 %s 删除', date_friendly($expiration_date)); ?></span>
								<?php } else if ($this->user['forbidden'] == 4 AND get_setting('days_unforbid_users')) {
									$expiration_date = intval(get_setting('days_unforbid_users')) * 86400 + $this->user['user_update_time'];
								?>
								<span class="aw-small-text"><?php _e('将于 %s 解封', date_friendly($expiration_date)); ?></span>
								<?php } ?>
								<br />
								<span class="aw-small-text"><?php _e('封禁理由'); ?> : <?php echo $this->user['data']['banned_reason']; ?> <?php echo $this->user['data']['banned_detail']; ?></span>
							<?php } ?>
							<!-- end 封禁 -->
							<?php if ($this->user['flagged']) { ?>
							<br />
							<span class="aw-small-text">
								<a href="people/<?php echo $this->user['data']['flagged_by']; ?>"><?php _e('管理员'); ?></a><?php _e('标记'); ?>
								<?php if ($this->user['flagged'] == -1) { ?>
									(<?php _e('观察'); ?>)
								<?php } elseif ($this->user['flagged'] == 1) { ?>
									(<?php _e('禁止登录'); ?>)
								<?php } elseif ($this->user['flagged'] == 2) { ?>
									(<?php _e('禁止登录 + 隐藏全部发言'); ?>)
								<?php } elseif ($this->user['flagged'] == 3) { ?>
									(<?php _e('禁止登录 + 替换全部发言'); ?>)
								<?php } ?>
								: <?php echo $this->user['data']['flagged_reason']; ?> <?php echo $this->user['data']['flagged_detail']; ?>
							</span>
							<?php } ?>
							<?php if ($this->user_info['permission']['is_administrator'] OR $this->user_info['permission']['is_moderator']) { ?>
							<br />
							<a href="user/admin_log/uid-<?php echo $this->user['uid']; ?>" target="_blank"><?php _e('查看管理记录'); ?></a>
							<?php } ?>
							<p class="aw-small-text"><?php echo UF::signature($this->user, $this->user_info['permission']['is_administrator']); ?></p>
						</div>

						<div class="mod-body clearfix">
							<div>
								<span><i class="icon icon-prestige"></i> <?php _e(get_setting('reputation_name')); ?> : <b><?php echo intval($this->user['reputation']); ?></b></span>
								<span><i class="icon icon-agree"></i> <?php _e('赞同'); ?> : <b><?php echo $this->user['agree_count']; ?></b></span>
								<?php if($this->user_info['permission']['is_administrator'] OR $this->user['uid'] == $this->user_id) { ?>
								<span><i class="icon"></i> <?php _e(get_setting('currency_name')); ?> : <b><?php echo $this->user['currency']; ?></b> <?php _e(get_setting('currency_unit')); ?></span>
								<?php } ?>
							</div>
						</div>

						<div class="mod-footer clearfix">
							<ul class="nav nav-tabs aw-nav-tabs">
								<li class="active"><a href="#overview" id="page_overview" data-toggle="tab"><?php _e('概述'); ?></a></li>
								<li><a href="#questions" id="page_questions" data-toggle="tab"><?php _e('问题'); ?></a></li>
								<li><a href="#answers" id="page_answers" data-toggle="tab"><?php _e('回答'); ?></a></li>
								<li><a href="#articles" id="page_articles" data-toggle="tab"><?php _e('文章'); ?></a></li>
								<li><a href="#article_comments" id="page_article_comments" data-toggle="tab"><?php _e('文章评论'); ?></a></li>
								<li><a href="#videos" id="page_videos" data-toggle="tab"><?php _e('影片'); ?></a></li>
								<li><a href="#video_comments" id="page_video_comments" data-toggle="tab"><?php _e('影片评论'); ?></a></li>
								<li><a href="#received_votes" id="page_received_votes" data-toggle="tab"><?php _e('收到的赞'); ?></a></li>
								<li><a href="#sent_votes" id="page_sent_votes" data-toggle="tab"><?php _e('送出的赞'); ?></a></li>
								<li><a href="#focus" id="page_focus" data-toggle="tab"><?php _e('关注'); ?></a></li>
								<?php if ($this->user_id == $this->user['uid']) { ?>
								<li><a href="#currency" id="page_currency" data-toggle="tab"><?php _e('%s', get_setting('currency_name')); ?></a></li>
								<?php } ?>
							</ul>
						</div>
					</div>
					<!-- end 用户数据内容 -->

					<div class="aw-user-center-tab">
						<div class="tab-content">
						<!-- tabs -->

							<div class="tab-pane active" id="overview">
								<!-- 概述 -->
								<div class="aw-mod">
									<div class="mod-head">
										<h3><?php _e('概述'); ?></h3>
									</div>
									<div class="mod-body">
										<span><?php echo $this->user['reputation_group_name']; ?></span>
										<p></p>

									<?php if ($this->user_info['permission']['is_administrator'] OR $this->user_info['permission']['is_moderator']) { ?>
										<span><?php _e('UID'); ?> : <?php echo $this->user['uid']; ?></span>
										<p></p>
									<?php } ?>
									</div>
								</div>

								<div class="aw-mod people-following">
									<div class="mod-body">
										<a onclick="$('#page_focus').click();$('#focus .aw-tabs ul li').eq(0).click();$.scrollTo($('#focus').offset()['top'], 600, {queue:true})" class="pull-right aw-size-12"><?php _e('更多'); ?> »</a>
										<span>
											<?php _e('关注 %s 人', '<em class="aw-text-color-blue">' . $this->user['friend_count'] . '</em>'); ?>
										</span>
										<?php if ($this->friends_list) { ?>
										<p>
											<?php foreach ($this->friends_list AS $key => $val) { ?>
												<a class="aw-user-name" data-id="<?php echo $val['uid']; ?>" href="<?php echo UF::url($val); ?>"><img src="<?php echo UF::avatar($val, 'mid', $this->user_info['permission']['is_administrator']); ?>" alt="" /></a>
											<?php } ?>
										</p>
										<?php } ?>
									</div>
								</div>

								<hr style="margin:0 20px; border-color: #e2e2e2;">

								<div class="aw-mod people-following">
									<div class="mod-body">
										<a onclick="$('#page_focus').click();$('#focus .aw-tabs ul li').eq(1).click();$.scrollTo($('#focus').offset()['top'], 600, {queue:true})" class="pull-right aw-size-12"><?php _e('更多'); ?> »</a>
										<span>
											<?php _e('被 %s 人关注', '<em class="aw-text-color-blue">' . $this->user['fans_count'] . '</em>'); ?>
										</span>
										<?php if ($this->fans_list) { ?>
										<p>
											<?php foreach ($this->fans_list AS $key => $val) { ?>
											<?php if (($val['forbidden'] OR $val['flagged']) AND !$this->user_info['permission']['is_administrator']) continue; ?>
												<a class="aw-user-name" data-id="<?php echo $val['uid']; ?>" href="<?php echo UF::url($val); ?>"><img src="<?php echo UF::avatar($val, 'mid'); ?>" alt=""></a>
											<?php } ?>
										</p>
										<?php } ?>
									</div>
								</div>

								<hr style="margin:0 20px; border-color: #e2e2e2;">

								<div class="aw-mod people-following">
									<div class="mod-body">
										<?php _e('关注 %s 话题', '<em class="aw-text-color-blue">' . $this->user['topic_focus_count'] . '</em>'); ?>
										<?php if ($this->focus_topics) { ?>
										<div class="aw-topic-bar">
											<div class="tag-bar clearfix">
												<?php foreach ($this->focus_topics AS $key => $val) { ?>
													<span class="topic-tag">
														<a href="topic/<?php echo $val['url_token']; ?>" class="text" data-id="<?php echo $val['topic_id']; ?>"><?php echo $val['topic_title']; ?></a>
													</span>
												<?php } ?>
											</div>
										</div>
										<?php } ?>
									</div>
								</div>

								<hr style="margin:0 20px; border-color: #e2e2e2;">

								<div class="aw-mod people-following">
									<div class="mod-body">
										<span class="aw-text-color-666">
											<?php _e('主页访问量'); ?> : <?php _e('%s 次访问', $this->user['views_count']); ?>
										</span>
									</div>
								</div>
							<!-- end 概述 -->
							</div>

							<div class="tab-pane" id="questions">
								<div class="aw-mod">
									<div class="mod-head">
										<h3><?php _e('发问'); ?></h3>
									</div>
									<div class="mod-body">
										<div class="aw-profile-publish-list" id="contents_user_questions"></div>
									</div>
									<div class="mod-footer">
										<!-- 加载更多内容 -->
										<a class="aw-load-more-content" id="bp_user_questions_more">
											<span><?php _e('更多'); ?></span>
										</a>
										<!-- end 加载更多内容 -->
									</div>
								</div>
							</div>

							<div class="tab-pane" id="answers">
								<div class="aw-mod">
									<div class="mod-head">
										<h3><?php _e('回答'); ?></h3>
									</div>
									<div class="mod-body">
										<div class="aw-profile-answer-list" id="contents_user_answers"></div>
									</div>
									<div class="mod-footer">
										<!-- 加载更多内容 -->
										<a class="aw-load-more-content" id="bp_user_answers_more">
											<span><?php _e('更多'); ?></span>
										</a>
										<!-- end 加载更多内容 -->
									</div>
								</div>
							</div>

							<div class="tab-pane" id="articles">
								<div class="aw-mod">
									<div class="mod-head">
										<h3><?php _e('文章'); ?></h3>
									</div>
									<div class="mod-body">
										<div class="aw-profile-publish-list" id="contents_user_articles"></div>
									</div>
									<div class="mod-footer">
										<!-- 加载更多内容 -->
										<a class="aw-load-more-content" id="bp_user_articles_more">
											<span><?php _e('更多'); ?></span>
										</a>
										<!-- end 加载更多内容 -->
									</div>
								</div>
							</div>

							<div class="tab-pane" id="article_comments">
								<div class="aw-mod">
									<div class="mod-head">
										<h3><?php _e('文章评论'); ?></h3>
									</div>
									<div class="mod-body">
										<div class="aw-profile-answer-list" id="contents_user_article_comments"></div>
									</div>
									<div class="mod-footer">
										<!-- 加载更多内容 -->
										<a class="aw-load-more-content" id="bp_user_article_comments_more">
											<span><?php _e('更多'); ?></span>
										</a>
										<!-- end 加载更多内容 -->
									</div>
								</div>
							</div>

							<div class="tab-pane" id="videos">
								<div class="aw-mod">
									<div class="mod-head">
										<h3><?php _e('影片'); ?></h3>
									</div>
									<div class="mod-body">
										<div class="aw-profile-publish-list" id="contents_user_videos"></div>
									</div>
									<div class="mod-footer">
										<!-- 加载更多内容 -->
										<a class="aw-load-more-content" id="bp_user_videos_more">
											<span><?php _e('更多'); ?></span>
										</a>
										<!-- end 加载更多内容 -->
									</div>
								</div>
							</div>

							<div class="tab-pane" id="video_comments">
								<div class="aw-mod">
									<div class="mod-head">
										<h3><?php _e('影片评论'); ?></h3>
									</div>
									<div class="mod-body">
										<div class="aw-profile-answer-list" id="contents_user_video_comments"></div>
									</div>
									<div class="mod-footer">
										<!-- 加载更多内容 -->
										<a class="aw-load-more-content" id="bp_user_video_comments_more">
											<span><?php _e('更多'); ?></span>
										</a>
										<!-- end 加载更多内容 -->
									</div>
								</div>
							</div>

							<div class="tab-pane" id="received_votes">
								<div class="aw-mod">
									<div class="mod-head">
										<h3><?php _e('收到的赞'); ?></h3>
									</div>
									<div class="mod-body">
										<div class="aw-padding-x-20" id="contents_user_received_votes"></div>
									</div>
									<div class="mod-footer">
										<!-- 加载更多内容 -->
										<a class="aw-load-more-content" id="bp_user_received_votes_more">
											<span><?php _e('更多'); ?></span>
										</a>
										<!-- end 加载更多内容 -->
									</div>
								</div>
							</div>

							<div class="tab-pane" id="sent_votes">
								<div class="aw-mod">
									<div class="mod-head">
										<h3><?php _e('送出的赞'); ?></h3>
									</div>
									<div class="mod-body">
										<div class="aw-padding-x-20" id="contents_user_sent_votes"></div>
									</div>
									<div class="mod-footer">
										<!-- 加载更多内容 -->
										<a class="aw-load-more-content" id="bp_user_sent_votes_more">
											<span><?php _e('更多'); ?></span>
										</a>
										<!-- end 加载更多内容 -->
									</div>
								</div>
							</div>

							<div class="tab-pane" id="focus">
								<!-- 自定义切换 -->
								<div class="aw-mod">
									<div class="aw-tabs text-center">
										<ul>
											<li class="active"><a><?php _e('关注的人'); ?></a></li>
											<li><a><?php _e('关注者'); ?></a></li>
										</ul>
									</div>
									<div class="mod-body">
										<div class="aw-tab-content">
											<div class="aw-mod aw-user-center-follow-mod">
												<div class="mod-body">
													<ul id="contents_user_follows" class="clearfix"></ul>
												</div>
												<div class="mod-footer">
													<!-- 加载更多内容 -->
													<a class="aw-load-more-content" id="bp_user_follows_more">
														<span><?php _e('更多'); ?></span>
													</a>
													<!-- end 加载更多内容 -->
												</div>
											</div>
											<div class="aw-mod aw-user-center-follow-mod collapse">
												<div class="mod-body">
													<ul class="clearfix" id="contents_user_fans"></ul>
												</div>
												<div class="mod-footer">
													<!-- 加载更多内容 -->
													<a class="aw-load-more-content" id="bp_user_fans_more">
														<span><?php _e('更多'); ?></span>
													</a>
													<!-- end 加载更多内容 -->
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- end 自定义切换 -->
							</div>

							<?php if ($this->user_id == $this->user['uid']) { ?>
							<div class="tab-pane" id="currency">
								<div class="aw-mod">
									<div class="mod-head">
										<h3><i class="icon icon-point"></i> <?php _e('我的%s', get_setting('currency_name')); ?></h3>
									</div>
									<div class="mod-body">
										<table class="table table-hover aw-table">
											<thead>
												<tr class="info">
													<th width="14%"><?php _e('时间'); ?></th>
													<th width="8%"><?php _e('数额'); ?></th>
													<th width="8%"><?php _e('余额'); ?></th>
													<th width="17%"><?php _e('描述'); ?></th>
													<th width="40%"><?php _e('相关信息'); ?></th>
												</tr>
											</thead>
											<tbody id="contents_user_currency">
											</tbody>
										</table>
									</div>
									<div class="mod-footer">
										<!-- 加载更多内容 -->
										<a class="aw-load-more-content" id="bp_user_currency">
											<span><?php _e('更多'); ?></span>
										</a>
										<!-- end 加载更多内容 -->
									</div>
								</div>
							</div>
							<?php } ?>

						<!-- end tabs -->
						</div>
					</div>
				<!-- end main-content -->
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
	var page_questions_inited = false;
	$('#page_questions').click(function() {
		if (page_questions_inited) return;
		page_questions_inited = true;
		AWS.load_list_view(G_BASE_URL + '/people/info/questions/uid-<?php echo $this->user['uid']; ?>', $('#bp_user_questions_more'), $('#contents_user_questions'), 1);
	});

	var page_answers_inited = false;
	$('#page_answers').click(function() {
		if (page_answers_inited) return;
		page_answers_inited = true;
		AWS.load_list_view(G_BASE_URL + '/people/info/answers/uid-<?php echo $this->user['uid']; ?>', $('#bp_user_answers_more'), $('#contents_user_answers'), 1);
	});

	var page_articles_inited = false;
	$('#page_articles').click(function() {
		if (page_articles_inited) return;
		page_articles_inited = true;
		AWS.load_list_view(G_BASE_URL + '/people/info/articles/uid-<?php echo $this->user['uid']; ?>', $('#bp_user_articles_more'), $('#contents_user_articles'), 1);
	});

	var page_article_comments_inited = false;
	$('#page_article_comments').click(function() {
		if (page_article_comments_inited) return;
		page_article_comments_inited = true;
		AWS.load_list_view(G_BASE_URL + '/people/info/article_comments/uid-<?php echo $this->user['uid']; ?>', $('#bp_user_article_comments_more'), $('#contents_user_article_comments'), 1);
	});

	var page_videos_inited = false;
	$('#page_videos').click(function() {
		if (page_videos_inited) return;
		page_videos_inited = true;
		AWS.load_list_view(G_BASE_URL + '/people/info/videos/uid-<?php echo $this->user['uid']; ?>', $('#bp_user_videos_more'), $('#contents_user_videos'), 1);
	});

	var page_video_comments_inited = false;
	$('#page_video_comments').click(function() {
		if (page_video_comments_inited) return;
		page_video_comments_inited = true;
		AWS.load_list_view(G_BASE_URL + '/people/info/video_comments/uid-<?php echo $this->user['uid']; ?>', $('#bp_user_video_comments_more'), $('#contents_user_video_comments'), 1);
	});

	var page_received_votes_inited = false;
	$('#page_received_votes').click(function() {
		if (page_received_votes_inited) return;
		page_received_votes_inited = true;
		AWS.load_list_view(G_BASE_URL + '/people/info/received_votes/uid-<?php echo $this->user['uid']; ?>', $('#bp_user_received_votes_more'), $('#contents_user_received_votes'), 1);
	});

	var page_sent_votes_inited = false;
	$('#page_sent_votes').click(function() {
		if (page_sent_votes_inited) return;
		page_sent_votes_inited = true;
		AWS.load_list_view(G_BASE_URL + '/people/info/sent_votes/uid-<?php echo $this->user['uid']; ?>', $('#bp_user_sent_votes_more'), $('#contents_user_sent_votes'), 1);
	});

	var page_focus_inited = false;
	$('#page_focus').click(function() {
		if (page_focus_inited) return;
		page_focus_inited = true;
		AWS.load_list_view(G_BASE_URL + '/people/info/followers/type-following__uid-<?php echo $this->user['uid']; ?>', $('#bp_user_follows_more'), $('#contents_user_follows'));
		AWS.load_list_view(G_BASE_URL + '/people/info/followers/type-followers__uid-<?php echo $this->user['uid']; ?>', $('#bp_user_fans_more'), $('#contents_user_fans'));
	});

	<?php if ($this->user_id == $this->user['uid']) { ?>
	var page_currency_inited = false;
	$('#page_currency').click(function() {
		if (page_currency_inited) return;
		page_currency_inited = true;
		AWS.load_list_view(G_BASE_URL + '/currency/list_logs/', $('#bp_user_currency'), $('#contents_user_currency'));
	});
	<?php } ?>

	$('.aw-tabs li').click(function() {
		$(this).addClass('active').siblings().removeClass('active');
		$('#focus .aw-user-center-follow-mod').eq($(this).index()).show().siblings().hide();
	});
});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>