<?php if (is_array($this->list)) { ?>
<?php foreach ($this->list AS $key => $val) { ?>
<div class="aw-item">
	<div class="aw-mod">
		<div class="mod-head">
			<h4 class="aw-hide-txt">
				<a href="<?php echo url_rewrite(); ?>/question/<?php echo $val['parent_id']; ?>"><?php if (!$val['question_info']['title']) { ?><s class="aw-deleted"><?php echo _t('已删除'); ?></s><?php } else { ?><?php echo FORMAT::text($val['question_info']['title'], true); ?><?php } ?></a>
			</h4>
		</div>
		<div class="mod-body">
			<a class="aw-small-text" href="<?php echo url_rewrite(); ?>/question/<?php echo $val['parent_id']; ?>">
			<?php if (!$val['message']) { ?>
				<s class="aw-deleted"><?php echo _t('已删除'); ?></s>
			<?php } else { ?>
				<?php echo safe_text(truncate_text($val['message'], 200)); ?>
			<?php } ?>
			</a>

			<p class="aw-small-text"><?php echo date_friendly($val['add_time']); ?></p>
		</div>
	</div>
</div>
<?php } ?>
<?php } ?>