<?php if ($this->list) { ?>
<?php foreach($this->list AS $key => $val) { ?>
	<p class="aw-small-text">
		<?php if ($val['value'] > 0) { ?>+<?php } ?><?php echo $val['value']; ?>
		•
		<a href="<?php echo UF::url($val['user_info']); ?>">
		<?php if ($val['user_info']['forbidden']) { ?>
			<s><?php echo UF::name($val['user_info']); ?></s>
		<?php } else { ?>
			<?php echo UF::name($val['user_info']); ?>
		<?php } ?>
		</a>
		<?php if ($val['user_info']['flagged']) { ?><sup><?php echo UF::flagged($val['user_info']); ?></sup><?php } ?>
		(<i class="icon icon-prestige"></i><?php echo UF::reputation($val['user_info']); ?>
		<i class="icon icon-agree"></i><?php echo $val['user_info']['agree_count']; ?>)
		•
		<?php echo date_friendly($val['add_time']); ?>
		•
		<a href="<?php echo url_rewrite(); ?>/<?php
			switch ($val['type'])
			{
				case 'question':
				case 'article':
				case 'video':
				{
					echo $val['type'] . '/id-' . $val['item_id'];
					break;
				}
				case 'question_reply':
				{
					echo 'question/item_id-' . $val['item_id'];
					break;
				}
				case 'article_reply':
				{
					echo 'article/item_id-' . $val['item_id'];
					break;
				}
				case 'video_reply':
				{
					echo 'video/item_id-' . $val['item_id'];
					break;
				}
			}
		?>">
			<?php echo $val['type']; ?>
			#<?php echo $val['item_id']; ?>
		</a>
	</p>
<?php } ?>
<?php } ?>