<div class="modal fade alert-box aw-edit-comment-box">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a type="button" class="close icon icon-delete" data-dismiss="modal" aria-hidden="true"></a>
				<h3 class="modal-title"><?php echo _t('编辑影片评论'); ?></h3>
			</div>
			<form action="<?php echo url_rewrite(); ?>/modify/ajax/modify_video_comment/id-<?php echo $this->reply_info['id']; ?>" method="post" onsubmit="return false" id="answer_edit">
			<div class="modal-body">
				<div class="aw-margin-y-15 aw-margin-top-0 alert alert-danger collapse error_message"><i class="icon icon-delete"></i> <em></em></div>
				<textarea name="message" id="editor_reply" class="form-control" rows="10"><?php echo FORMAT::text($this->reply_info['message']); ?></textarea>
			</div>
			<div class="modal-footer">
				<span><input id="aw-do-delete" type="checkbox" value="1" name="do_delete" /><label for="aw-do-delete"><?php echo _t('删除'); ?></label></span>
				<button class="btn btn-large btn-success" onclick="AWS.submit_form($('#answer_edit'), $(this), $('.error_message'));return false;"><?php echo _t('确定'); ?></button>
			</div>
			</form>
		</div>
	</div>
</div>