<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
    <div class="container aw-custom-page">
        <div class="row">
            <div class="col-sm-12">
                <div class="aw-point-rule">
                    <h1><?php _e('%s规则', get_setting('integral_unit')); ?></h1>

                    <dl>
                        <dt><?php _e('新用户注册默认拥有%s', get_setting('integral_unit')); ?></dt>
                        <dd><span class="<?php if (get_setting('integral_system_config_register') >= 0) { ?>green<?php } else { ?>red<?php } ?>"><?php _e('%s0 %s1', array(get_setting('integral_system_config_register'), get_setting('integral_unit'))); ?></span></dd>
                    </dl>
                    <dl>
                        <dt><?php _e('用户完善资料获得%s（包括头像，一句话介绍，履历等资料）', get_setting('integral_unit')); ?></dt>
                        <dd><span class="<?php if (get_setting('integral_system_config_profile') >= 0) { ?>green<?php } else { ?>red<?php } ?>"><?php _e('%s0 %s1', array(get_setting('integral_system_config_profile'), get_setting('integral_unit'))); ?></span></dd>
                    </dl>
                    <dl>
                        <dt><?php _e('用户邀请他人注册且被邀请人成功注册'); ?></dt>
                        <dd><span class="<?php if (get_setting('integral_system_config_invite') >= 0) { ?>green<?php } else { ?>red<?php } ?>"><?php _e('%s0 %s1', array(get_setting('integral_system_config_invite'), get_setting('integral_unit'))); ?></span></dd>
                    </dl>
                    <dl>
                        <dt><?php _e('发起问题或文章'); ?></dt>
                        <dd><span class="<?php if (get_setting('integral_system_config_new_question') >= 0) { ?>green<?php } else { ?>red<?php } ?>"><?php _e('%s0 %s1', array(get_setting('integral_system_config_new_question'), get_setting('integral_unit'))); ?></span></dd>
                    </dl>
                    <dl>
                        <dt><?php _e('回复问题'); ?></dt>
                        <dd><span class="<?php if (get_setting('integral_system_config_answer_question') >= 0) { ?>green<?php } else { ?>red<?php } ?>"><?php _e('%s0 %s1', array(get_setting('integral_system_config_answer_question'), get_setting('integral_unit'))); ?></span></dd>
                    </dl>
                    <dl>
                        <dt><?php _e('问题被回复'); ?></dt>
                        <dd><span class="<?php if (get_setting('integral_system_config_question_answered') >= 0) { ?>green<?php } else { ?>red<?php } ?>"><?php _e('%s0 %s1', array(get_setting('integral_system_config_question_answered'), get_setting('integral_unit'))); ?></span></dd>
                    </dl>
                    <dl>
                        <dt><?php _e('回复被评为最佳回复'); ?></dt>
                        <dd><span class="<?php if (get_setting('integral_system_config_best_answer') >= 0) { ?>green<?php } else { ?>red<?php } ?>"><?php _e('%s0 %s1', array(get_setting('integral_system_config_best_answer'), get_setting('integral_unit'))); ?></span></dd>
                    </dl>
                    <dl>
                        <dt><?php _e('感谢回复'); ?></dt>
                        <dd><span class="<?php if (get_setting('integral_system_config_thanks') >= 0) { ?>green<?php } else { ?>red<?php } ?>"><?php _e('%s0 %s1', array(get_setting('integral_system_config_thanks'), get_setting('integral_unit'))); ?></span></dd>
                    </dl>
                    <dl>
                        <dt><?php _e('回复被感谢'); ?></dt>
                        <dd><span class="<?php if (-get_setting('integral_system_config_thanks') >= 0) { ?>green<?php } else { ?>red<?php } ?>"><?php _e('%s0 %s1', array(-get_setting('integral_system_config_thanks'), get_setting('integral_unit'))); ?></span></dd>
                    </dl>
                    <dl>
                        <dt><?php _e('回复被折叠'); ?></dt>
                        <dd><span class="<?php if (get_setting('integral_system_config_answer_fold') >= 0) { ?>green<?php } else { ?>red<?php } ?>"><?php _e('%s0 %s1', array(get_setting('integral_system_config_answer_fold'), get_setting('integral_unit'))); ?></span></dd>
                    </dl>
                    <dl>
                        <dt><?php _e('发起者邀请用户回答问题且收到答案'); ?></dt>
                        <dd><span class="<?php if (get_setting('integral_system_config_invite_answer') >= 0) { ?>green<?php } else { ?>red<?php } ?>"><?php _e('%s0 %s1', array(get_setting('integral_system_config_invite_answer'), get_setting('integral_unit'))); ?></span></dd>
                    </dl>
                    <dl>
                        <dt><?php _e('回复问题发起者的邀请'); ?></dt>
                        <dd><span class="<?php if (-get_setting('integral_system_config_invite_answer') >= 0) { ?>green<?php } else { ?>red<?php } ?>"><?php _e('%s0 %s1', array(-get_setting('integral_system_config_invite_answer'), get_setting('integral_unit'))); ?></span></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>