<?php TPL::include('global/header_meta.tpl.htm'); ?>

<div class="aw-register-box">
	<div class="mod-head">
		<a href="<?php echo base_url(); ?>/"><img src="<?php echo get_setting('login_logo_url'); ?>" alt="" /></a>
		<h1><?php _e('修改密码'); ?></h1>
	</div>
	<div class="mod-body">
		<form id="login_form" onsubmit="return false" method="post">
			<ul>
				<li class="alert alert-danger collapse error_message text-left">
					<i class="icon icon-delete"></i> <em></em>
				</li>
				<li>
					<img src="<?php echo UF::avatar($this->user_info, 'max'); ?>" alt="">
				</li>
				<li>
					<input class="form-control" type="text" name="username" autocomplete="username" value="<?php echo $this->user_info['user_name']; ?>" readonly style="cursor:default">
				</li>
				<li>
					<input class="form-control" type="password" name="password" autocomplete="current-password" placeholder="<?php _e('当前密码'); ?>">
				</li>
				<li>
					<input class="form-control" type="password" name="new_password" autocomplete="new-password" placeholder="<?php _e('新的密码'); ?>">
				</li>
				<li>
					<input class="form-control" type="password" name="confirm_new_password" autocomplete="new-password" placeholder="<?php _e('确认新的密码'); ?>">
				</li>

				<li class="clearfix">
					<button type="submit" class="btn btn-large btn-blue btn-block"><?php _e('保存'); ?></button>
				</li>
			</ul>
		</form>
	</div>
	<div class="mod-footer"></div>
</div>

<script type="text/javascript">
$(document).ready(function () {
	var form = $('#login_form');

	var _v1 = function(p, s) {
		p = md5(md5(p) + s);
		return p;
	}

	var _v2 = function(p, s) {
		p = dcodeIO.bcrypt.hashSync(p, s);
		return p;
	}

	var _append = function(f, n, v) {
		f.append($('<input>', {name: n, value: v}));
	}

	var _alert = function(s) {
		var err_el = form.find('.error_message');
		err_el.find('em').text(s);
		if (err_el.css('display') != 'none')
			AWS.shake(err_el);
		else
			err_el.fadeIn();
	}

	form.submit(function(e) {
		e.preventDefault();

		var pwd = form.find('input[name=password]').val();
		var new_pwd = form.find('input[name=new_password]').val();
		var confirm_new_pwd = form.find('input[name=confirm_new_password]').val();

		if (!pwd || !new_pwd) {
			_alert(_t('请输入正确的密码'));
			return false;
		}
		if (new_pwd != confirm_new_pwd) {
			_alert(_t('两次输入的密码不一致'));
			return false;
		}

		var new_form = $('<form>', {action: '<?php echo url_rewrite(); ?>/account/ajax/change_password/', method: 'post'});

		var pwd = form.find('input[name=password]').val();
<?php if ($this->user_info['password_version'] < 2) { ?>
		var scrambled_pwd = _v1(pwd, '<?php echo $this->user_info['salt']; ?>');
<?php } else { ?>
		var scrambled_pwd = _v2(pwd, '<?php echo $this->user_info['salt']; ?>');
<?php } ?>
		_append(new_form, 'scrambled_password', scrambled_pwd);

		var new_scrambled_pwd = _v2(new_pwd, '<?php echo $this->client_salt; ?>');
		_append(new_form, 'new_scrambled_password', new_scrambled_pwd);
		_append(new_form, 'client_salt', '<?php echo $this->client_salt; ?>');

		AWS.submit_form(new_form, form.find('input[type=submit]'), form.find('.error_message'));

		return false;
	});
});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>
