<?php TPL::output('global/header_meta.tpl.htm'); ?>

<div class="aw-register-box">
	<div class="mod-head">
		<a href=""><img src="<?php echo G_STATIC_URL; ?>/logo/login_logo.png" alt="" /></a>
		<h1><?php _e('登录'); ?></h1>
	</div>
	<div class="mod-body">
		<form class="aw-register-form" id="login_form" method="post" onsubmit="return false" action="account/ajax/login_process/">
			<input type="hidden" name="return_url" value="<?php echo $this->return_url; ?>" />
			<ul>
				<li class="alert alert-danger collapse error_message text-left">
					<i class="icon icon-delete"></i><em></em>
				</li>
				<li>
					<input type="text" id="aw-login-user-name" class="form-control" placeholder="<?php _e('用户名'); ?>" name="user_name" />
				</li>
				<li>
					<input type="password" id="aw-login-user-password" class="form-control" placeholder="<?php _e('密码'); ?>" name="password" />
				</li>
				<?php if (get_setting('login_seccode') == 'Y') { ?>
				<li class="aw-register-verify">
					<img class="pull-right" id="captcha" onclick="this.src = G_BASE_URL + '/account/captcha/' + Math.floor(Math.random() * 10000);" src="">

					<input type="text" class="form-control" name="seccode_verify" placeholder="<?php _e('验证码'); ?>" />
				</li>
				<?php } ?>
				<li class="last">
					<label><input type="checkbox" value="1" name="net_auto_login" /> <?php _e('记住我'); ?></label>
					<a href="account/find_password/" class="pull-right">忘记密码</a>
					<div class="aw-register-agreement collapse">
						<div class="aw-register-agreement-txt" id="register_agreement"></div>
					</div>
				</li>
				<li class="clearfix">
					<button class="btn btn-large btn-blue btn-block" onclick="AWS.ajax_post($('#login_form'), AWS.ajax_processer, 'error_message'); return false;"><?php _e('登录'); ?></button>
				</li>
			</ul>
		</form>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
	$('#login_form input').keydown(function (e) {
		if (e.keyCode == 13)
		{
			$('#login_submit').click();
		}
	});
});
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>