<?php TPL::include('global/header_meta.tpl.htm'); ?>

<div class="aw-register-box">
	<div class="mod-head">
		<a href="<?php echo base_url(); ?>/"><img src="<?php echo S::get('login_logo_url'); ?>" alt=""></a>
		<div style="min-height:100px;margin-top:30px">
			<img src="<?php echo UF::avatar($this->user, 'max'); ?>" alt="">
		</div>
	</div>
	<div class="mod-body">
		<form id="login_form" onsubmit="return false" method="post" style="display:none">
			<ul>
				<li class="alert alert-danger collapse error_message text-left">
					<i class="icon icon-delete"></i> <em></em>
				</li>
				<li>
					<input type="text" class="form-control" name="username" autocomplete="username" value="<?php echo $this->user['user_name']; ?>" readonly style="cursor:default">
				</li>
				<li>
					<input type="password" class="form-control" name="password" autocomplete="current-password" placeholder="<?php _e('密码'); ?>" autofocus>
				</li>
				<?php if ($this->captcha_required) { ?>
				<li class="aw-register-verify">
					<img class="pull-right" onclick="this.src = G_BASE_URL + '/captcha/' + Math.floor(Math.random() * 10000);" src="<?php echo url_rewrite(); ?>/captcha/">

					<input type="text" class="form-control" name="captcha" placeholder="<?php _e('验证码'); ?>">
				</li>
				<?php } ?>
				<li class="last">
					<label><input type="checkbox" name="remember_me"> <?php _e('记住我'); ?></label>
				</li>
				<li class="clearfix">
					<button type="submit" class="btn btn-large btn-blue btn-block"><?php _e('登录'); ?></button>
				</li>
			</ul>
		</form>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
	var form = $('#login_form').show();

	var _v1 = function(p, s) {
		p = md5(md5(p) + s);
		return p;
	}

	var _v2 = function(p, s) {
		p = dcodeIO.bcrypt.hashSync(p, s);
		return p;
	}

	var _append = function(f, n, v) {
		f.append($('<input>', {name: n, value: v}));
	}

	form.submit(function(e) {
		e.preventDefault();

		var new_form = $('<form>', {action: '<?php echo url_rewrite(); ?>/login/ajax/process/', method: 'post'});
		new_form.append($('<input>', {name: 'token', value: '<?php echo $this->token; ?>'}));

		_append(new_form, 'uid', '<?php echo $this->user['uid']; ?>');
		_append(new_form, 'remember_me', form.find('input[name=remember_me]').is(':checked') ? 1 : 0);

		var pwd = form.find('input[name=password]').val();
<?php if ($this->user['password_version'] < 2) { ?>
		var scrambled_pwd = _v1(pwd, '<?php echo $this->user['salt']; ?>');
<?php } else { ?>
		var scrambled_pwd = _v2(pwd, '<?php echo $this->user['salt']; ?>');
<?php } ?>
		_append(new_form, 'scrambled_password', scrambled_pwd);

<?php if (isset($this->client_salt)) { ?>
		var new_scrambled_pwd = _v2(pwd, '<?php echo $this->client_salt; ?>');
		_append(new_form, 'new_scrambled_password', new_scrambled_pwd);
		_append(new_form, 'client_salt', '<?php echo $this->client_salt; ?>');
<?php } ?>

<?php if ($this->captcha_required) { ?>
		_append(new_form, 'captcha', form.find('input[name=captcha]').val());
<?php } else { ?>
		_append(new_form, 'captcha_enabled', 0);
<?php } ?>

		AWS.submit_form(new_form, form.find('button[type=submit]'), form.find('.error_message'), function() {
			$('.aw-register-verify img').click();
		});

		return false;
	});
});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>