<?php TPL::include('global/header_meta.tpl.htm'); ?>

<script src="<?php echo G_STATIC_URL; ?>/js/openpgp.min.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/bcrypt.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/passwordutil.js?v=<?php echo G_DISPLAY_VERSION_BUILD; ?>"></script>
<div class="aw-register-box">
	<div class="mod-head">
		<a href="<?php echo base_url(); ?>/"><img src="<?php echo S::get('login_logo_url'); ?>" alt=""></a>
		<div style="min-height:100px;margin-top:30px">
			<img src="<?php echo UF::avatar($this->user, 'max'); ?>" alt="">
		</div>
	</div>
	<div class="mod-body">
		<form id="login_form" onsubmit="return false" method="post" style="display:none">
			<ul>
				<li class="alert alert-danger collapse error_message text-left">
					<i class="icon icon-delete"></i> <em></em>
				</li>
				<li class="alert alert-info collapse text-left">
					<i class="icon icon-about"></i> <em></em>
				</li>
				<li>
					<input type="text" class="form-control" name="username" autocomplete="username" value="<?php echo $this->user['user_name']; ?>" readonly style="cursor:default">
				</li>
				<li>
					<input type="password" class="form-control" name="password" autocomplete="current-password" placeholder="<?php echo _t('密码'); ?>" autofocus>
				</li>
				<?php if ($this->captcha_required) { ?>
				<li class="aw-register-verify">
					<img class="pull-right" onclick="this.src = G_BASE_URL + '/captcha/' + Math.floor(Math.random() * 10000);" src="<?php echo url_rewrite(); ?>/captcha/">

					<input type="text" class="form-control" name="captcha" placeholder="<?php echo _t('验证码'); ?>">
				</li>
				<?php } ?>
				<li class="last">
					<label><input type="checkbox" name="remember_me"> <?php echo _t('记住我'); ?></label>
				</li>
				<li class="clearfix">
					<button type="submit" class="btn btn-large btn-blue btn-block"><?php echo _t('登录'); ?></button>
				</li>
			</ul>
		</form>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
	var form = $('#login_form').show();
	var btn = form.find('button[type=submit]');

	var _alert = function(s) {
		form.find('.alert-info').hide();
		var err_el = form.find('.error_message');
		err_el.find('em').html(s);
		if (err_el.css('display') != 'none')
			AWS.shake(err_el);
		else
			err_el.fadeIn();
	}

	var _store = function(private_key) {
		localStorage.setItem('<?php echo G_COOKIE_PREFIX; ?>_private_key', private_key);
	}

	var _redirect = function(url) {
		url || (url = '<?php echo url_rewrite(); ?>/');
		window.location = url;
	}

	form.submit(function(e) {
		e.preventDefault();

		var pwd = form.find('input[name=password]').val();

		var params = {
			captcha: form.find('input[name=captcha]').val(),
			captcha_enabled: <?php echo intval($this->captcha_required); ?>,
			uid: '<?php echo $this->user['uid']; ?>',
			remember_me: form.find('input[name=remember_me]').is(':checked') ? 1 : 0,
			token: '<?php echo $this->token; ?>',
		}

		var client_salt = '<?php echo $this->user['salt']; ?>';
		var password_version = (<?php echo intval($this->user['password_version']); ?> || 1);

		form.find('.error_message').hide();
		form.find('.alert-info').show().find('em').text("<?php echo _t('请稍候...'); ?>");
		btn.addClass('disabled');

<?php if ($this->user['password_version'] < 3) { ?>
		setTimeout(function() {
			var private_key;
			PasswordUtil.password_hash(pwd, client_salt, password_version).then(function(value) {
				params.scrambled_password = value;
				return PasswordUtil.random_string(45);
			}).then(function(value) {
				params.new_client_salt = value;
				return PasswordUtil.password_hash(pwd, params.new_client_salt);
			}).then(function(value) {
				params.new_scrambled_password = value;
				return PasswordUtil.generate_key();
			}).then(function(value) {
				params.new_public_key = value[0];
				private_key = value[1];
				return PasswordUtil.password_hash(pwd, params.new_public_key);
			}).then(function(value) {
				return PasswordUtil.encrypt_private_key(private_key, value);
			}).then(function(value) {
				params.new_private_key = value;
				form.find('.alert-info').hide();
				AWS.ajax_request('<?php echo url_rewrite(); ?>/login/ajax/process/', params, function(rsm) {
					_store(private_key);
					rsm || (rsm = {});
					_redirect(rsm.next);
				}, function(err) {
					_alert(err);
					btn.removeClass('disabled');
					$('.aw-register-verify img').click();
				});
			}).catch(function(error) {
				_alert("<?php echo _t('演算过程中发生故障, 请刷新页面重试'); ?>");
				btn.removeClass('disabled');
				console.log(error);
			});
		}, 50);

<?php } else { ?>
		setTimeout(function() {
			PasswordUtil.password_hash(pwd, client_salt).then(function(value) {
				params.scrambled_password = value;
				AWS.ajax_request('<?php echo url_rewrite(); ?>/login/ajax/process/', params, function(rsm) {
					rsm || (rsm = {});
					if (!rsm.private_key) {
						form.find('.alert-info').hide();
						_redirect(rsm.next);
						return;
					}
					PasswordUtil.password_hash(pwd, '<?php echo $this->user['public_key']; ?>').then(function(value) {
						return PasswordUtil.decrypt_private_key(rsm.private_key, value);
					}).then(function(value) {
						form.find('.alert-info').hide();
						_store(value);
						_redirect(rsm.next);
					}).catch(function(error) {
						console.log(error);
						alert("<?php echo _t('无法解密私钥'); ?>");
						_redirect(rsm.next);
					});
				}, function(err) {
					_alert(err);
					btn.removeClass('disabled');
					$('.aw-register-verify img').click();
				});
			}).catch(function(error) {
				_alert("<?php echo _t('演算过程中发生故障, 请刷新页面重试'); ?>");
				btn.removeClass('disabled');
				console.log(error);
			});
		}, 50);

<?php } ?>
		return false;
	});
});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>