<?php TPL::include('global/header_meta.tpl.htm'); ?>

<div class="aw-register-box">
	<div class="mod-head">
		<a href="<?php echo base_url(); ?>/"><img src="<?php echo get_setting('login_logo_url'); ?>" alt=""></a>
		<h1><?php _e('注册'); ?></h1>
		<p><?php echo get_setting('register_notice'); ?></p>
	</div>
	<div class="mod-body">
		<form id="login_form" onsubmit="return false" method="post" style="display:none">
			<ul>
				<?php if ($this->captcha_required) { ?>
				<li class="aw-register-verify">
					<img class="pull-right" onclick="this.src = G_BASE_URL + '/captcha/' + Math.floor(Math.random() * 10000);" src="<?php echo url_rewrite(); ?>/captcha/">

					<input type="text" class="form-control" name="captcha" placeholder="<?php _e('验证码'); ?>">
				</li>
				<?php } ?>

				<li class="last">
					<label><input type="checkbox" name="agree"> <?php _e('我同意'); ?></label>
					<?php if (get_setting('user_agreement_link')) { ?>
						<a href="<?php echo get_setting('user_agreement_link'); ?>" <?php if (!is_javascript(get_setting('user_agreement_link'))) { ?>target="_blank"<?php } ?> class="aw-agreement-btn">
							<?php echo get_setting('user_agreement_name'); ?>
						</a>
					<?php } else { ?>
						<?php echo get_setting('user_agreement_name'); ?>
					<?php } ?>
					<a href="<?php echo url_rewrite(); ?>/login/" class="pull-right"><?php _e('已有账号?'); ?></a>
				</li>
				<li class="clearfix">
					<button type="submit" class="btn btn-large btn-blue btn-block"><?php _e('下一步'); ?></button>
				</li>
			</ul>
		</form>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
	var form = $('#login_form').show();

	form.submit(function(e) {
		e.preventDefault();

		var new_form = $('<form>', {action: '<?php echo url_rewrite(); ?>/register/next/', method: 'post'});
		new_form.append($('<input>', {name: 'token', value: '<?php echo $this->token; ?>'}));

		new_form.append($('<input>', {name: 'agree', value: form.find('input[name=agree]').is(':checked') ? 1 : 0}));
		<?php if ($this->captcha_required) { ?>
		new_form.append($('<input>', {name: 'captcha', value: form.find('input[name=captcha]').val()}));
		<?php } ?>

		new_form.appendTo('body').submit().remove();

		return false;
	});
});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>