<?php TPL::include('global/header_meta.tpl.htm'); ?>

<div class="aw-register-box">
	<div class="mod-head">
		<a href="<?php echo base_url(); ?>/"><img src="<?php echo get_setting('login_logo_url'); ?>" alt="" /></a>
		<h1><?php _e('注册'); ?></h1>
	</div>
	<div class="mod-body">
		<form id="login_form" onsubmit="return false" method="post">
			<ul>
				<li class="alert alert-danger collapse error_message text-left">
					<i class="icon icon-delete"></i> <em></em>
				</li>
				<li>
					<input class="form-control" type="text" name="username" autocomplete="username" placeholder="<?php _e('用户名'); ?>">
				</li>
				<li>
					<input class="form-control" type="password" name="password" autocomplete="new-password" placeholder="<?php _e('密码'); ?>">
				</li>
				<li>
					<input class="form-control" type="password" name="confirm_password" autocomplete="new-password" placeholder="<?php _e('再次输入密码'); ?>">
				</li>
				<?php if ($this->captcha_required) { ?>
				<li class="aw-register-verify">
					<img class="pull-right" id="captcha" onclick="this.src = G_BASE_URL + '/captcha/' + Math.floor(Math.random() * 10000);" src="">

					<input type="text" class="form-control" name="captcha" placeholder="<?php _e('验证码'); ?>">
				</li>
				<?php } ?>
				<li class="last">
					<label>&nbsp;</label>
					<a href="<?php echo url_rewrite(); ?>/login/" class="pull-right"><?php _e('已有账号?'); ?></a>
				</li>
				<li class="clearfix">
					<button type="submit" class="btn btn-large btn-blue btn-block"><?php _e('注册'); ?></button>
				</li>
			</ul>
		</form>
	</div>
	<div class="mod-footer"></div>
</div>

<script type="text/javascript">
$(document).ready(function () {
	var form = $('#login_form');

	var _v1 = function(p, s) {
		p = md5(md5(p) + s);
		return p;
	}

	var _alert = function(s) {
		var err_el = form.find('.error_message');
		err_el.find('em').text(s);
		if (err_el.css('display') != 'none')
			AWS.shake(err_el);
		else
			err_el.fadeIn();
	}

	form.submit(function(e) {
		e.preventDefault();

		var usr = form.find('input[name=username]').val();
		var pwd = form.find('input[name=password]').val();
		var confirm_pwd = form.find('input[name=confirm_password]').val();

		if (!usr || !pwd) {
			_alert(_t('请输入正确的用户名或密码'));
			return false;
		}
		if (pwd != confirm_pwd) {
			_alert(_t('两次输入的密码不一致'));
			return false;
		}

		var new_form = $('<form>', {action: '<?php echo url_rewrite(); ?>/register/ajax/process/', method: 'post'});
		new_form.append($('<input>', {name: 'username', value: usr}));
		new_form.append($('<input>', {name: 'scrambled_password', value: _v1(pwd, '<?php echo $this->client_salt; ?>')}));
		new_form.append($('<input>', {name: 'client_salt', value: '<?php echo $this->client_salt; ?>'}));
		<?php if ($this->captcha_required) { ?>
		new_form.append($('<input>', {name: 'captcha', value: form.find('input[name=captcha]').val()}));
		<?php } ?>

		AWS.submit_form(new_form, form.find('input[type=submit]'), form.find('.error_message'), function(err) {
			$('#captcha').click();
		});

		return false;
	});
});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>
