<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<div class="mod mod-favorite">
						<div class="mod-head common-head">
							<h2><?php _e('我的收藏'); ?> <span class="badge"><?php echo count($this->list); ?></span></h2>
						</div>
						<div class="mod-body">

							<div class="aw-feed-list">
								<?php if (sizeof ($this->list) > 0) { ?>
								<?php foreach ($this->list AS $key => $val) { ?>
								<div class="aw-item">
									<div class="mod-head">
										<a data-id="<?php echo $val['user_info']['uid']; ?>" class="aw-user-img aw-border-radius-5" data-id="<?php echo $val['user_info']['uid']; ?>" href="<?php echo UF::url($val['user_info']); ?>"><img src="<?php echo UF::avatar($val['user_info'], 'mid'); ?>" alt="" /></a>
										<p class="text-color-999">
											<?php if ($val['last_action_str']) { ?><?php echo $val['last_action_str']; ?> • <?php echo date_friendly($val['add_time']); ?><?php } ?>
										</p>
										<h4><a href="<?php echo $val['link']; ?>"><?php echo $val['title']; ?></a></h4>
									</div>
									<div class="mod-body">
										<?php if ($val['answer_info']) { ?>
										<p class="text-color-999">
											<a class="aw-user-name" data-id="<?php echo $val['user_info']['uid']; ?>" href="<?php echo UF::url($val['user_info']); ?>"><?php echo UF::name($val['user_info']); ?></a><?php if ($val['user_info']['signature']) { ?> - <?php echo UF::signature($val['user_info']); ?><?php } ?>
										</p>

										<!-- 评论内容 -->
										<div class="content">
											<div id="detail_<?php echo md5($val['item_id'] . $val['item_type']); ?>">
												<?php echo cjk_substr(strip_ubb($val['answer_info']['answer_content']), 0, 130, 'UTF-8', '...'); ?>
												<?php if (cjk_strlen($val['answer_info']['answer_content']) > 130) { ?>
												<a href="javascript:;" class="showMore" onclick="AWS.content_switcher($('#detail_<?php echo md5($val['item_id'] . $val['item_type']); ?>'), $('#detail_more_<?php echo md5($val['item_id'] . $val['item_type']); ?>'));"><?php _e('显示全部'); ?> »</a>
												<?php } ?>
											</div>

											<div id="detail_more_<?php echo md5($val['item_id'] . $val['item_type']); ?>" class="collapse">
												<?php echo nl2br(strip_ubb($val['answer_info']['answer_content'])); ?>
											</div>
										</div>
										<!-- end 评论内容 -->
										<?php } ?>
									</div>
									<div class="mod-footer">
										<a class="pull-right text-color-999" onclick="AWS.ajax_request(G_BASE_URL + '/favorite/ajax/remove_favorite_item/', 'item_type=<?php echo $val['item_type']; ?>&item_id=<?php echo $val['item_id']; ?>');"><?php _e('取消收藏'); ?></a>

										<div class="aw-topic-bar" data-type="favorite" data-item-type="<?php echo $val['item_type']; ?>" data-id="<?php echo $val['item_id']; ?>">
										</div>
									</div>
								</div>
								<?php } ?>
								<?php } ?>
							</div>
						</div>
						<div class="mod-footer">
							<?php echo $this->pagination; ?>
						</div>
					</div>
				</div>
				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<?php TPL::output('block/sidebar_announce.tpl.htm'); ?>

					<?php TPL::output('block/sidebar_menu.tpl.htm'); ?>

					<!-- 可能感兴趣的人/或话题 -->
					<?php TPL::output('block/sidebar_recommend_users_topics.tpl.htm'); ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>
<?php TPL::output('global/footer.tpl.htm'); ?>
