<?php TPL::include('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<div class="mod mod-favorite">
						<div class="mod-head common-head">
							<h2><?php _e('我的收藏'); ?> <span class="badge"><?php echo count($this->list); ?></span></h2>
						</div>
						<div class="mod-body">

							<div class="aw-feed-list">
								<?php foreach ($this->list AS $key => $val) { ?>
								<div class="aw-item">
									<div class="mod-head">
										<a data-id="<?php echo $val['user_info']['uid']; ?>" class="aw-user-img aw-border-radius-5" data-id="<?php echo $val['user_info']['uid']; ?>" href="<?php echo UF::url($val['user_info']); ?>"><img src="<?php echo UF::avatar($val['user_info'], 'mid'); ?>" alt="" /></a>
										<p class="aw-small-text">
											<a class="aw-user-name" href="<?php echo UF::url($val['user_info']); ?>"><?php echo UF::name($val['user_info']); ?></a>
											•
											<?php echo date_friendly($val['item']['add_time']); ?>
											<?php echo $val['type']; ?>
										</p>

										<?php if ($val['type'] == 'answer') { ?>
										<!-- 回答 -->
										<h4>
											<a href="question/id-<?php echo $val['item']['question_info']['id']; ?>__item_id-<?php echo $val['item']['id']; ?>"><?php if (!$val['item']['question_info']['title']) { ?><s class="aw-deleted"><?php _e('已删除'); ?></s><?php } else { ?><?php echo $val['item']['question_info']['title']; ?><?php } ?></a>
										</h4>
										<div class="content">
											<div id="detail_<?php echo $val['item_id']; ?>">
												<?php echo cjk_substr(strip_ubb($val['item']['answer_content']), 0, 130, 'UTF-8', '...'); ?>
												<?php if (cjk_strlen($val['item']['answer_content']) > 130) { ?>
												<a href="javascript:;" class="showMore" onclick="AWS.content_switcher($('#detail_<?php echo $val['item_id']; ?>'), $('#detail_more_<?php echo $val['item_id']; ?>'));"><?php _e('显示全部'); ?> »</a>
												<?php } ?>
											</div>
											<div id="detail_more_<?php echo $val['item_id']; ?>" class="collapse">
												<?php echo nl2br(strip_ubb($val['item']['answer_content'])); ?>
											</div>
										</div>
										<!-- end 回答 -->
										<?php } else if ($val['type'] == 'question') { ?>
										<!-- 问题 -->
										<h4>
											<a href="question/<?php echo $val['item']['id']; ?>"><?php if (!$val['item']['title']) { ?><s class="aw-deleted"><?php _e('已删除'); ?></s><?php } else { ?><?php echo $val['item']['title']; ?><?php } ?></a>
										</h4>
										<!-- end 问题 -->
										<?php } else if ($val['type'] == 'article') { ?>
										<!-- 文章 -->
										<h4>
											<a href="article/<?php echo $val['item']['id']; ?>"><?php if (!$val['item']['title']) { ?><s class="aw-deleted"><?php _e('已删除'); ?></s><?php } else { ?><?php echo $val['item']['title']; ?><?php } ?></a>
										</h4>
										<!-- end 文章 -->
										<?php } else if ($val['type'] == 'video') { ?>
										<!-- 影片 -->
										<h4>
											<a href="video/<?php echo $val['item']['id']; ?>"><?php if (!$val['item']['title']) { ?><s class="aw-deleted"><?php _e('已删除'); ?></s><?php } else { ?><?php echo $val['item']['title']; ?><?php } ?></a>
										</h4>
										<!-- end 影片 -->
										<?php } ?>

									</div>
									<div class="mod-footer">
										<a class="pull-right aw-small-text" onclick="AWS.ajax_request(G_BASE_URL + '/favorite/ajax/remove_favorite_item/', 'item_type=<?php echo $val['type']; ?>&item_id=<?php echo $val['item_id']; ?>');"><?php _e('取消收藏'); ?></a>
									</div>
								</div>
								<?php } ?>
							</div>
						</div>
						<div class="mod-footer">
							<?php echo $this->pagination; ?>
						</div>
					</div>
				</div>
				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<?php TPL::include('block/sidebar_announce.tpl.htm'); ?>

					<?php TPL::include('block/sidebar_menu.tpl.htm'); ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>
<?php TPL::include('global/footer.tpl.htm'); ?>
