							<?php if ($this->comments) { ?>
								<?php foreach ($this->comments AS $key => $val) { ?>
								<?php if (CF::skip($val['user_info'])) continue; ?>
								<?php if ($val['user_info']['forbidden']) $val['fold'] = -1; ?>
								<div class="aw-item" id="answer_list_<?php echo $val['id']; ?>" data-fold="<?php echo $val['fold']; ?>">
									<div class="mod-head">
										<!-- 用户头像 -->
										<a class="aw-user-img aw-border-radius-5" data-id="<?php echo $val['user_info']['uid']; ?>" href="<?php echo UF::url($val['user_info']); ?>">
											<img src="<?php echo UF::avatar($val['user_info'], 'mid', $this->user_info['permission']['is_administrator']); ?>" alt="" />
										</a>
										<!-- end 用户头像 -->
										<!-- 用户名 -->
										<a class="aw-user-name" data-id="<?php echo $val['user_info']['uid']; ?>" href="<?php echo UF::url($val['user_info']); ?>">
										<?php if ($val['user_info']['flagged'] > 0) { ?>
											<s><?php echo UF::name($val['user_info']); ?></s>
										<?php } else { ?>
											<?php echo UF::name($val['user_info']); ?>
										<?php } ?>
										</a>
										<?php if ($val['user_info']['verified']) { ?><em class="aw-verified"><?php echo $val['user_info']['verified']; ?></em><?php } ?>
										<?php if ($val['user_info']['forbidden']) { ?><sup><?php _e('封禁'); ?></sup><?php } ?>
										<?php if ($val['at_uid']) { ?> <?php _e('回复'); ?> <a class="aw-user-name" href="<?php echo UF::url($val['at_user_info']); ?>"><?php echo UF::name($val['at_user_info']); ?></a><?php } ?>
										<!-- end 用户名 -->
									</div>
									<div class="mod-body">
									<?php if ($val['fold']) { ?>
										<div class="aw-load-more-content">
											<span class="aw-small-text aw-alert-box aw-small-text" href="javascript:;" tabindex="-1" onclick="AWS.User.why_fold(<?php echo $val['fold']; ?>);"><?php _e('为什么被折叠?'); ?></span>
											<a href="javascript:;" class="aw-load-more-content" onclick="$(this).parent().parent().children('.markitup-box').toggle();"><?php _e('内容被折叠'); ?></a>
										</div>
										<div class="markitup-box collapse">
											<?php echo CF::reply($val['user_info'], 'article_comment_' . $val['id'], $val['message']); ?>
										</div>
									<?php } else { ?>
										<div class="markitup-box">
											<?php echo CF::reply($val['user_info'], 'article_comment_' . $val['id'], $val['message']); ?>
										</div>
									<?php } ?>
									</div>
									<div class="mod-footer">
										<div class="meta">
											<span class="pull-right aw-small-text"><?php echo date_friendly($val['add_time']); ?></span>

											<span class="operate aw-vote-ui">
											<?php if ($this->user_id AND $this->user_id != $val['uid']) { ?>
												<a href="javascript:;" class="agree<?php if ($val['vote_value'] > 0) { ?> active<?php } ?>" onclick="AWS.User.toggle_vote(this, 'article_comment', 'agree', <?php echo $val['id']; ?>)">
													<i class="icon icon-agree"></i> <b class="count"><?php echo $val['agree_count']; ?></b>
												</a>
												<?php if ($this->user_info['permission']['vote_disagree']) { ?>
												<a href="javascript:;" class="disagree<?php if ($val['vote_value'] < 0) { ?> active<?php } ?>" onclick="AWS.User.toggle_vote(this, 'article_comment', 'disagree', <?php echo $val['id']; ?>)">
													<i class="icon icon-disagree"></i>
												</a>
												<?php } ?>
											<?php } else { ?>
												<a href="javascript:;" class="agree disabled">
													<i class="icon icon-agree"></i> <b class="count"><?php echo $val['agree_count']; ?></b>
												</a>
											<?php } ?>
											</span>

											&nbsp;&nbsp;

											<a href="vote/log/item_type-article_comment__item_id-<?php echo $val['id']; ?>" class="aw-small-text" rel="nofollow" target="_blank"><i class="icon icon-users"></i></a>

											&nbsp;&nbsp;

											<?php if ($this->user_id) { ?>
												<a class="aw-article-comment aw-small-text" href="javascript:;" onclick="show_user_reply_box($(this))" data-id="<?php echo $val['user_info']['uid']; ?>"><i class="icon icon-comment"></i> <?php _e('回复'); ?></a>

												<?php if ($this->user_id == $val['uid'] OR $this->user_info['permission']['edit_any_post']) { ?>
												<a class="aw-small-text" href="javascript:;" onclick="AWS.popup(G_BASE_URL + '/publish/edit/article_comment/id-<?php echo $val['id']; ?>');"><i class="icon icon-edit"></i> <?php _e('编辑'); ?></a>
												<?php } ?>

												&nbsp;&nbsp;

												<?php if ($this->user_info['permission']['is_administrator'] OR $this->user_info['permission']['is_moderator']) { ?>
													<?php if ($val['fold'] == 0) { ?>
													<a class="aw-small-text" href="javascript:;" onclick="AWS.confirm('<?php _e('确认折叠?'); ?>', function(){AWS.ajax_request(G_BASE_URL + '/content/ajax/fold_reply/', 'item_type=article_comment&item_id=<?php echo $val['id']; ?>');});"><i class="icon icon-fold"></i> <?php _e('折叠'); ?></a>
													<?php } elseif ($val['fold'] == 1) { ?>
													<a class="aw-small-text" href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/unfold_reply/', 'item_type=article_comment&item_id=<?php echo $val['id']; ?>');"><i class="icon icon-fold"></i> <?php _e('取消折叠'); ?></a>
													<?php } ?>
												<?php } ?>

											<?php } ?>
										</div>
									</div>
								</div>
								<?php } ?>
							<?php } ?>
