<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<?php if ($this->redirect_message) { ?>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 aw-global-tips">
				<?php foreach ($this->redirect_message AS $key => $message) { ?>
				<div class="alert alert-warning fade in">
					<?php echo $message; ?>
				</div>
				<?php } ?>
			</div>
		</div>
	</div>
	<?php } ?>
	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<!-- 话题bar -->
					<div class="aw-mod aw-topic-bar" id="question_topic_editor" data-type="question" data-id="<?php echo $this->question_info['question_id']; ?>">
						<div class="tag-bar clearfix">

							<!-- 话题推荐bar -->
							<?php if (sizeof($this->question_topics) == 0 AND $this->user_id AND $this->user_info['permission']['edit_topic']) { ?>
							<div class="aw-notopic-sort">
								<?php if ($this->related_topics) { ?>
								<span class="pull-left"><?php _e('可能属于这些话题'); ?>&nbsp;:&nbsp;</span>
								<?php foreach ($this->related_topics AS $key => $topic_title) { ?>
								<span class="topic-tag">
									<a onclick="one_click_add_topic($(this), '<?php echo $topic_title; ?>', <?php echo $this->question_info['question_id'];?>);" class="text"><?php echo $topic_title; ?></a>
								</span>
								<?php } ?>, <?php _e('都不是'); ?>? <a href="javascript:;" onclick="$('#question_topic_editor .aw-edit-topic').click();$(this).parents('.aw-notopic-sort').hide();"> <?php _e('点此添加话题'); ?></a>
								<?php } else { ?>
								<?php _e('没有归属话题, 请帮问题添加话题'); ?>, <a href="javascript:;" onclick="$('#question_topic_editor .aw-edit-topic').click(); $(this).parents('.aw-notopic-sort').hide();"><?php _e('点此添加话题'); ?></a>
								<?php } ?>
							</div>
							<?php } ?>
							<!-- 话题推荐bar -->

							<?php foreach($this->question_topics as $key => $val) { ?>
							<span class="topic-tag" data-id="<?php echo $val['topic_id']; ?>">
								<a href="topic/<?php echo $val['url_token']; ?>" class="text"><?php echo $val['topic_title']; ?></a>
							</span>
							<?php } ?>

							<?php if ($this->user_id AND ($this->user_info['permission']['edit_topic'] OR $this->user_id == $this->question_info['uid'])) { ?><span class="icon-inverse aw-edit-topic"<?php if (sizeof($this->question_topics) == 0) { ?> style="display:none"<?php } ?>><i class="icon icon-edit"></i></span><?php } ?>

							<div class="operate clearfix">
								<!-- 下拉菜单 -->
								<div class="btn-group pull-right">
									<a class="btn btn-gray dropdown-toggle" data-toggle="dropdown" href="javascript:;">...</a>
									<div class="aw-dropdown pull-right" role="menu" aria-labelledby="dropdownMenu">
										<ul class="aw-dropdown-list">
											<li>
												<a href="content/log/item_type-question__item_id-<?php echo $this->question_info['question_id']; ?>" rel="nofollow"><?php _e('修改记录'); ?></a>
											</li>
										<?php if ($this->user_info['permission']['is_administrator'] OR $this->user_info['permission']['is_moderator']) { ?>
											<li>
												<?php if ($this->question_info['lock']) { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/unlock/', 'item_type=question&item_id=<?php echo $this->question_info['question_id']; ?>');"><?php _e('取消锁定'); ?></a>
												<?php } else { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/lock/', 'item_type=question&item_id=<?php echo $this->question_info['question_id']; ?>');"><?php _e('锁定'); ?></a>
												<?php } ?>
											</li>
										<?php } ?>
										<?php if ($this->user_info['permission']['is_administrator']) { ?>
											<li>
												<a href="javascript:;" onclick="AWS.dialog('confirm', {'message' : '<?php _e('确认删除?'); ?>'}, function(){AWS.ajax_request(G_BASE_URL + '/question/ajax/remove_question/', 'question_id=<?php echo $this->question_info['question_id']; ?>');});"><?php _e('删除问题'); ?></a>
											</li>
										<?php } ?>
										<?php if (($this->user_info['permission']['is_administrator'] OR $this->user_info['permission']['is_moderator']) AND $this->user_id) { ?>
											<li class="hidden-xs">
											<?php if ($this->question_info['redirect']) { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/question/ajax/unredirect/', 'item_id=<?php echo $this->question_info['question_id']; ?>&target_id=<?php echo $this->question_info['redirect']['target_id']; ?>');"><?php _e('撤消重定向'); ?></a>
											<?php } else { ?>
												<a href="javascript:;" onclick="AWS.dialog('redirect', <?php echo $this->question_info['question_id']; ?>);"><?php _e('问题重定向'); ?></a>
											<?php } ?>
											</li>
										<?php } ?>
										<?php if ($this->user_info['permission']['is_administrator'] OR $this->user_info['permission']['is_moderator']) { ?>
											<li>
												<?php if ($this->question_info['recommend']) { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/unrecommend/', 'item_type=question&item_id=<?php echo $this->question_info['question_id']; ?>');"><?php _e('取消推荐'); ?></a>
												<?php } else { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/recommend/', 'item_type=question&item_id=<?php echo $this->question_info['question_id']; ?>');"><?php _e('推荐'); ?></a>
												<?php } ?>
											</li>
										<?php } ?>
										<?php if ($this->question_info['uid'] == $this->user_id OR $this->user_info['permission']['is_administrator'] OR $this->user_info['permission']['is_moderator']) { ?>
											<?php if (get_setting('category_enable') != 'N') { ?>
											<li>
												<a href="javascript:;" onclick="AWS.popup(G_BASE_URL + '/content/edit/change_category/item_type-question__item_id-<?php echo $this->question_info['question_id']; ?>__category_id-<?php echo $this->question_info['category_id']; ?>');"><?php _e('变更分类'); ?></a>
											</li>
											<?php } ?>
										<?php } ?>
										</ul>
									</div>
								</div>
								<!-- end 下拉菜单 -->

								<?php if ($this->user_id) { ?>
								<a href="javascript:;" onclick="AWS.User.follow($(this), 'question', <?php echo $this->question_info['question_id']; ?>);" class="follow btn btn-normal btn-success pull-right <?php if ($this->question_focus) { ?> active<?php } ?>"><span><?php if ($this->question_focus) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?></span> <em>|</em> <b><?php echo $this->question_info['focus_count']?></b></a>
								<?php } ?>

							</div>

						</div>
					</div>
					<!-- end 话题bar -->
					<div class="aw-mod aw-question-detail aw-item">
						<div class="mod-head">
							<h1><?php if (!$this->question_info['question_content']) { ?><i class="text-color-999"><?php _e('已删除'); ?></i><?php } else { ?><?php echo $this->question_info['question_content']; ?><?php } ?></h1>
						</div>
						<div class="mod-body">
							<div class="content markitup-box">
								<?php echo FORMAT::html($this->question_info['question_detail']); ?>
							</div>
						</div>
						<div class="mod-footer">
							<div class="clearfix aw-vote-ui aw-article-vote<?php if (!$this->user_id OR $this->user_id == $this->question_info['publish_uid']) { ?> disabled<?php } ?>">
								<?php if ($this->user_id AND $this->user_id != $this->question_info['publish_uid']) { ?>
									<a href="javascript:;" class="agree<?php if ($this->question_info['vote_value'] > 0) { ?> active<?php } ?>" onclick="AWS.User.toggle_vote(this, 'question', 'agree', <?php echo $this->question_info['question_id']; ?>);"><i class="icon icon-agree"></i> <b class="count"><?php echo $this->question_info['agree_count']; ?></b></a>
									<a href="javascript:;" class="disagree<?php if ($this->question_info['vote_value'] < 0) { ?> active<?php } ?>" onclick="AWS.User.toggle_vote(this, 'question', 'disagree', <?php echo $this->question_info['question_id']; ?>);"><i class="icon icon-disagree"></i></a>
								<?php } else { ?>
									<a href="javascript:;" class="agree"><i class="icon icon-agree"></i> <b class="count"><?php echo $this->question_info['agree_count']; ?></b></a>
								<?php } ?>
							</div>

							<div class="meta">
								<span class="text-color-999"><?php echo date_friendly($this->question_info['add_time']); ?></span>

								<a href="vote/log/item_type-question__item_id-<?php echo $this->question_info['question_id']; ?>" class="text-color-999" rel="nofollow" target="_blank"><i class="icon icon-users"></i></a>

								<a data-id="<?php echo $this->question_info['question_id']; ?>" data-type="question" class="aw-add-comment text-color-999 <?php if ($this->question_info['comment_count'] > 0) {?>active<?php }?>" data-comment-count="<?php echo $this->question_info['comment_count']; ?>" data-first-click="<?php if ($this->question_info['comment_count'] == 0) {?>hide<?php }?>"><i class="icon icon-comment"></i> <?php if ($this->question_info['comment_count']) { ?><?php _e('%s 条评论', $this->question_info['comment_count']); ?><?php } else { ?><?php _e('添加评论'); ?><?php } ?></a>

								<?php if ($this->user_id) { ?>
								<a class="text-color-999 aw-invite-replay"><i class="icon icon-invite"></i> <?php _e('邀请'); ?> <?php if (sizeof($this->invite_users) > 0){ ?><em class="badge badge-info"><?php echo count($this->invite_users); ?></em><?php } ?></a>
								<?php } ?>

								<?php if ($this->question_info['uid'] == $this->user_id OR $this->user_info['permission']['edit_question']) { ?><a class="text-color-999" href="publish/<?php echo $this->question_info['question_id']; ?>"><i class="icon icon-edit"></i> <?php _e('编辑'); ?></a><?php } ?>

								<div class="pull-right more-operate">
									<?php if ($this->user_id) { ?>
									<a href="javascript:;" class="text-color-999" onclick="AWS.dialog('confirm', {'message' : '<?php _e('确认提升?'); ?>'}, function(){AWS.ajax_request(G_BASE_URL + '/content/ajax/bump/', 'item_type=question&item_id=<?php echo $this->question_info['question_id']; ?>', true);});"><i class="icon icon-up"></i> <?php _e('提升'); ?></a>
									<a href="javascript:;" class="text-color-999" onclick="AWS.dialog('confirm', {'message' : '<?php _e('确认下沉?'); ?>'}, function(){AWS.ajax_request(G_BASE_URL + '/content/ajax/sink/', 'item_type=question&item_id=<?php echo $this->question_info['question_id']; ?>', true);});"><i class="icon icon-down"></i> <?php _e('下沉'); ?></a>

									<a href="javascript:;" onclick="AWS.User.add_favorite('question', '<?php echo $this->question_info['question_id']; ?>');" class="text-color-999"><i class="icon icon-favor"></i> <?php _e('收藏'); ?></a>
									<?php } ?>

									<a href="javascript:;" class="text-color-999" onclick="AWS.User.share_out();"><i class="icon icon-share"></i> <?php _e('分享'); ?></a>

								</div>
							</div>
						</div>
						<!-- 站内邀请 -->
						<div class="aw-invite-box collapse">
							<div class="mod-head clearfix">
								<div class="search-box pull-left">
									<input id="invite-input" class="form-control" type="text"  placeholder="<?php _e('搜索你想邀请的人...'); ?>"/>
									<div class="aw-dropdown">
										<p class="title"><?php _e('没有找到相关结果'); ?></p>
										<ul class="aw-dropdown-list"></ul>
									</div>
									<i class="icon icon-search"></i>
								</div>
								<div class="invite-list pull-left<?php if (!$this->invite_users) { ?> collapse<?php } ?>">
									<?php _e('已邀请'); ?>:
									<?php if ($this->invite_users) { ?>
									<?php foreach($this->invite_users as $key => $val) { ?>
										<a class="text-color-999 invite-list-user" data-id="<?php echo $val['uid']; ?>" href="<?php echo UF::url($val); ?>" data-id="<?php echo $val['uid']; ?>" data-original-title="<?php echo UF::name($val); ?>" data-placement="bottom" data-toggle="tooltip"><img src="<?php echo UF::avatar($val, 'mid', $this->user_info['permission']['is_administrator']); ?>" /></a>
									<?php } ?>
									<?php } ?>
								</div>
							</div>
						</div>
						<!-- end 站内邀请 -->
					</div>

					<!-- 问题回复 -->
					<div class="aw-mod aw-question-comment">
						<div class="mod-head">
							<ul class="nav nav-tabs aw-nav-tabs active">
								<?php if ($_GET['single']) { ?>
								<!--<li><a href="question/<?php echo $this->question_info['question_id']; ?>"><?php _e('全部回答'); ?></a></li>-->
								<?php } else if (($this->answer_count OR $_GET['uid']) AND $this->user_id) { ?>
								<li<?php if ($_GET['uid'] == 'focus') { ?> class="active"<?php } ?>><a href="question/<?php echo $this->question_info['question_id']; ?>?uid=focus"><?php _e('关注的人'); ?></a></li>
								<li<?php if ($_GET['sort_key'] == 'add_time') { ?> class="active"<?php } ?>><a href="question/<?php echo $this->question_info['question_id']; ?>?sort_key=add_time&sort=<?php if (($_GET['sort_key'] == 'add_time') && $_GET['sort'] == 'ASC') { ?>DESC<?php } else { ?>ASC<?php } ?>"><?php _e('时间'); ?><?php if (($_GET['sort_key'] == 'add_time') && $_GET['sort'] == 'DESC') { ?> <i class="icon icon-down"></i><?php } else { ?> <i class="icon icon-up"></i><?php } ?></a></li>
								<li<?php if ((!$_GET['uid'] && !$_GET['sort_key']) || $_GET['sort_key'] == 'agree_count') { ?> class="active"<?php } ?>><a href="question/<?php echo $this->question_info['question_id']; ?>&sort_key=agree_count&sort=DESC"><?php _e('票数'); ?></a></li>
								<?php } ?>

								<h2 class="hidden-xs"><?php if ($_GET['single']) { ?><?php _e('查看单个回答'); ?><?php } else { ?><?php _e('%s 个回复', $this->answer_count); ?><?php } ?></h2>
							</ul>
						</div>
						<div class="mod-body aw-feed-list">
							<?php if ($this->answers) { ?>
								<?php foreach ($this->answers AS $key => $val) { ?>
								<?php if ($val['user_info']['forbidden'] AND !$this->user_info['permission']['is_administrator']) $val['fold'] = 1; ?>
								<div class="aw-item" id="answer_list_<?php echo $val['answer_id']; ?>">
									<div class="mod-head">
										<?php if ($this->question_info['best_answer'] == $val['answer_id']) { ?>
										<!-- 最佳回答 -->
										<div class="aw-best-answer">
											<i class="icon icon-bestbg"></i>
										</div>
										<!-- end 最佳回答 -->
										<?php } ?>
										<a class="anchor" name="answer_<?php echo $val['answer_id']; ?>"></a>
										<!-- 用户头像 -->
										<a class="aw-user-img aw-border-radius-5" href="<?php echo UF::url($val['user_info']); ?>" data-id="<?php echo $val['uid']; ?>"><img src="<?php echo UF::avatar($val['user_info'], 'mid', $this->user_info['permission']['is_administrator']); ?>" alt="" /></a>
										<!-- end 用户头像 -->
										<div class="title">
											<p>
												<a class="aw-user-name" href="<?php echo UF::url($val['user_info']); ?>" data-id="<?php echo $val['uid']; ?>"><?php echo UF::name($val['user_info']); ?></a>
												<?php if ($val['user_info']['forbidden']) { ?><span class="text-color-999">[ <?php _e('封禁'); ?> ]</span><?php } ?>

												<?php if ($val['user_info']['verified']) { ?>
													<em class="aw-verified"><?php echo $val['user_info']['verified']; ?></em>
												<?php } ?>
												<?php if ($val['user_info']['signature']) { ?> - <span class="text-color-999"><?php echo UF::signature($val['user_info'], $this->user_info['permission']['is_administrator']); ?></span><?php } ?>
											</p>
										</div>
									</div>
									<div class="mod-body clearfix">
									<!-- 回答 -->
									<?php if ($val['fold']) { ?>
										<div class="aw-load-more-content">
											<span class="text-color-999 aw-alert-box text-color-999" href="javascript:;" tabindex="-1" onclick="AWS.User.why_fold();"><?php _e('为什么被折叠?'); ?></span>
											<a href="javascript:;" class="aw-load-more-content" onclick="$(this).parent().parent().children('.markitup-box').toggle();"><?php _e('回复被折叠'); ?></a>
										</div>
										<div class="markitup-box collapse">
										<?php if (!$val['answer_content']) { ?>
											<i class="text-color-999"><?php _e('已删除'); ?></i>
										<?php } else { ?>
											<?php echo FORMAT::html($val['answer_content']); ?>
										<?php } ?>
										</div>
									<?php } else { ?>
										<div class="markitup-box">
										<?php if (!$val['answer_content']) { ?>
											<i class="text-color-999"><?php _e('已删除'); ?></i>
										<?php } else { ?>
											<?php echo FORMAT::html($val['answer_content']); ?>
										<?php } ?>
										</div>
									<?php } ?>
									<!-- end 回答 -->
									</div>
									<div class="mod-footer">
										<!-- 社交操作 -->
										<div class="meta clearfix">
											<span class="text-color-999 pull-right"><?php echo date_friendly($val['add_time']); ?></span>
											<!-- 投票栏 -->
											<span class="operate aw-vote-ui">
											<?php if ($this->user_id AND $this->user_id != $val['user_info']['uid']) { ?>
												<a class="agree<?php if ($val['vote_value'] > 0) { ?> active<?php } ?>" onclick="AWS.User.toggle_vote(this, 'answer', 'agree', <?php echo $val['answer_id']; ?>);">
													<i class="icon icon-agree"></i> <b class="count"><?php echo $val['agree_count']; ?></b>
												</a>
												<a class="disagree<?php if ($val['vote_value'] < 0) { ?> active<?php } ?>" onclick="AWS.User.toggle_vote(this, 'answer', 'disagree', <?php echo $val['answer_id']; ?>);">
													<i class="icon icon-disagree"></i>
												</a>
											<?php } else { ?>
												<a href="javascript:;" class="agree disabled">
													<i class="icon icon-agree"></i> <b class="count"><?php echo $val['agree_count']; ?></b>
												</a>
											<?php } ?>
											</span>
											<!-- end 投票栏 -->

											<span class="operate">
												<a class="aw-add-comment" data-id="<?php echo $val['answer_id']; ?>" data-type="answer" data-comment-count="<?php echo $val['comment_count']; ?>" data-first-click="<?php if ($val['comment_count'] == 0) {?>collapse<?php }?>" href="javascript:;"><i class="icon icon-comment"></i> <?php if ($val['comment_count']) { ?><?php echo $val['comment_count']; ?><?php } else { ?>0<?php } ?></a>
											</span>

											<!-- 可显示/隐藏的操作box -->
											<div class="more-operate">

												<a href="vote/log/item_type-answer__item_id-<?php echo $val['answer_id']; ?>" class="text-color-999" rel="nofollow" target="_blank"><i class="icon icon-users"></i></a>

												<?php if ($this->user_id) { ?>
													<?php if ($this->user_info['permission']['edit_question'] OR $val['uid'] == $this->user_id) { ?>
													<a class="text-color-999" href="javascript:;" onclick="AWS.popup(G_BASE_URL + '/publish/edit/answer/id-<?php echo $val['answer_id']; ?>', AWS.init_answer_editor);"><i class="icon icon-edit"></i> <?php _e('编辑'); ?></a>
													<?php } ?>

													<a href="javascript:;" onclick="AWS.User.add_favorite('answer', '<?php echo $val['answer_id']; ?>');" class="text-color-999"><i class="icon icon-favor"></i> <?php _e('收藏'); ?></a>
												<?php } ?>

												<?php if ($this->user_info['permission']['is_moderator'] OR $this->user_info['permission']['is_administrator']) { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/question/ajax/set_best_answer/', 'answer_id=<?php echo $val['answer_id']; ?>');" class="text-color-999"><i class="icon icon-best"></i> <?php if (!$this->question_info['best_answer']) { ?><?php _e('设为最佳回复'); ?><?php } else { ?><?php _e('撤消最佳回复'); ?><?php } ?></a>
												<?php } ?>
											</div>
											<!-- end 可显示/隐藏的操作box -->

										</div>
										<!-- end 社交操作 -->
									</div>
								</div>
								<?php } ?>
							<?php } ?>
						</div>
						<div class="mod-footer">
							<?php if ($_GET['single']) { ?>
								<a href="question/<?php echo $this->question_info['question_id']; ?>" class="aw-load-more-content">
									<span><?php _e('查看全部回答'); ?></span>
								</a>
							<?php } ?>
						</div>

						<?php if ($this->pagination) { ?>
							<div class="clearfix"><?php echo $this->pagination; ?></div>
						<?php } ?>
					</div>
					<!-- end 问题回复 -->

					<!-- 回复编辑器 -->
					<div class="aw-mod aw-replay-box question">
						<a name="answer_form"></a>
						<?php if ($this->question_info['lock']) { ?>
						<p align="center"><?php _e('该问题目前已经被锁定, 无法添加新回复'); ?></p>
						<?php } else if (!$this->user_id) { ?>
						<p align="center"><?php _e('要回复问题请先<a href="account/login/">登录</a>或<a href="account/register/">注册</a>'); ?></p>
						<?php } else if ($this->user_answered) { ?>
						<p align="center"><?php _e('一个问题只能回复一次'); ?></p>
						<?php } else if ((get_setting('answer_self_question') == 'N') && ($this->user_id == $this->question_info['uid'])) { ?>
						<p align="center"><?php _e('不能回复自己发布的问题, 你可以修改问题内容'); ?></p>
						<?php } else { ?>
						<form action="publish/ajax/publish_answer/" onsubmit="return false;" method="post" id="answer_form" class="question_answer_form">
						<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
						<input type="hidden" name="question_id" value="<?php echo $this->question_info['question_id']; ?>" />
						<div class="mod-head">
							<a href="<?php echo UF::url($this->user_info); ?>" class="aw-user-name"><img alt="" src="<?php echo UF::avatar($this->user_info, 'mid'); ?>" /></a>
							<p>

								<label class="pull-right">
									<input type="checkbox" value="1" name="anonymous" /> <?php _e('匿名回复'); ?>
								</label>

								<?php if (!$this->question_focus) { ?>
								<label class="pull-right">
									<input type="checkbox" value="1" name="auto_focus" /> <?php _e('关注问题'); ?>
								</label>
								<?php } ?>
								<label class="pull-right">
									<a href="currency/rule/" target="_blank"><?php _e(get_setting('currency_rule_name')); ?></a>
								</label>
								<?php echo UF::name($this->user_info); ?>
							</p>
						</div>
						<div class="mod-body">
							<div class="aw-mod aw-editor-box">
								<div class="mod-head">
									<div class="wmd-panel">
										<textarea class="wmd-input form-control autosize editor" id="wmd-input" rows="15" name="message"></textarea>
									</div>
								</div>
								<div class="mod-body clearfix">
									<div class="aw-auth-img clearfix">
										<input id="later_time_input" name="later" class="form-control pull-right" type="text" placeholder="<?php _e('分钟'); ?>" />
										<label class="pull-right">&nbsp;<?php _e('延迟显示'); ?></label>
										<label id="later_time_label" class="pull-right"></label>
									</div>

									<a href="javascript:;" onclick="AWS.ajax_post($('#answer_form'), AWS.ajax_processer, 'reply_question');" class="btn btn-normal btn-success pull-right btn-reply"><?php _e('回复'); ?></a>
									<span class="pull-right">&nbsp;</span>

									<?php if (get_setting('image_upload_link')) { ?><a class="pull-right" href="<?php echo get_setting('image_upload_link'); ?>" rel="nofollow noreferrer noopener" target="_blank"><?php _e('上传图片'); ?></a><?php } ?>

								</div>
							</div>

						</div>
						</form>
						<?php } ?>
					</div>
					<!-- end 回复编辑器 -->
				</div>
				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<!-- 发起人 -->
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php _e('发起人'); ?></h3>
						</div>
						<div class="mod-body">
							<div class="user-detail">
								<a class="aw-user-img aw-border-radius-5" href="<?php echo UF::url($this->question_info['user_info']); ?>"><img alt="" src="<?php echo UF::avatar($this->question_info['user_info'], 'mid', $this->user_info['permission']['is_administrator']); ?>" /></a>
								<a class="aw-user-name" href="<?php echo UF::url($this->question_info['user_info']); ?>" data-id="<?php echo $this->question_info['user_info']['uid']; ?>"><?php echo UF::name($this->question_info['user_info']);?></a>
								<?php if ($this->question_info['user_info']['verified']) { ?>
									<em class="aw-verified"><?php echo $this->question_info['user_info']['verified']; ?></em>
								<?php } ?>
								<?php if ($this->question_info['user_info']['uid'] != $this->user_id AND $this->user_id) { ?>
									<a class="icon-inverse follow tooltips icon icon-plus <?php if ($this->user_follow_check) { ?> active<?php } ?>" onclick="AWS.User.follow($(this), 'user', <?php echo $this->question_info['user_info']['uid']; ?>);" data-original-title="<?php if ($this->user_follow_check) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?>"></a>
								<?php } ?>
							</div>
							<p class="signature"><?php echo UF::signature($this->question_info['user_info'], $this->user_info['permission']['is_administrator']); ?></p>
						</div>
					</div>
					<!-- end 发起人 -->

					<?php if ($this->recommend_posts) { ?>
					<!-- 推荐内容 -->
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php _e('推荐内容'); ?></h3>
						</div>
						<div class="mod-body font-size-12">
							<ul>
								<?php foreach($this->recommend_posts AS $key => $val) { ?>
								<li>
									<?php if ($val['question_id']) { ?>
									<a href="question/<?php echo $val['question_id']; ?>"><?php if (!$val['question_content']) { ?><i class="text-color-999"><?php _e('已删除'); ?></i><?php } else { ?><?php echo $val['question_content']; ?><?php } ?></a>
									<?php } else { ?>
									<a href="article/<?php echo $val['id']; ?>"><?php if (!$val['title']) { ?><i class="text-color-999"><?php _e('已删除'); ?></i><?php } else { ?><?php echo $val['title']; ?><?php } ?></a>
									<?php } ?>
								</li>
								<?php } ?>
							</ul>
						</div>
					</div>
					<!-- end 推荐内容 -->
					<?php } ?>

					<?php if ($this->question_related_list) { ?>
					<!-- 相关问题 -->
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php _e('相关问题'); ?></h3>
						</div>
						<div class="mod-body font-size-12">
							<ul>
								<?php foreach($this->question_related_list AS $key => $val) { ?>
								<li><a href="question/<?php echo $val['question_id']; ?>"><?php if (!$val['question_content']) { ?><i class="text-color-999"><?php _e('已删除'); ?></i><?php } else { ?><?php echo $val['question_content']; ?><?php } ?></a></li>
								<?php } ?>
							</ul>
						</div>
					</div>
					<!-- end 相关问题 -->
					<?php } ?>

					<!-- 问题状态 -->
					<div class="aw-mod question-status">
						<div class="mod-head">
							<h3><?php _e('问题状态'); ?></h3>
						</div>
						<div class="mod-body">
							<ul>
								<li><?php _e('最新活动'); ?>: <span class="aw-text-color-blue"><?php echo date_friendly($this->question_info['update_time']); ?></span></li>
								<li><?php _e('浏览'); ?>: <span class="aw-text-color-blue"><?php echo $this->question_info['view_count']; ?></span></li>
								<li><?php _e('关注'); ?>: <span class="aw-text-color-blue"><?php echo $this->question_info['focus_count']; ?></span> <?php _e('人'); ?></li>

								<li class="aw-border-radius-5" id="focus_users"></li>
							</ul>
						</div>
					</div>
					<!-- end 问题状态 -->
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var ITEM_IDS = '<?php echo addslashes($_GET['item_id']); ?>';
	var COMMENT_UNFOLD = '<?php echo addslashes($_GET['comment_unfold']); ?>';
	var QUESTION_ID = <?php echo $this->question_info['question_id'];?>;
	var USER_ANSWERED = '<?php echo $this->user_answered; ?>';
	var ANSWER_TYPE = 'answer';

$(document).ready(function () {
	AWS.init_later_time_helper($('#later_time_input'), $('#later_time_label'));
});
</script>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/question_detail.js"></script>

<?php TPL::output('global/footer.tpl.htm'); ?>
