<?php TPL::include('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<?php if ($this->redirected_from) { ?>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 aw-global-tips">
				<div class="alert alert-warning fade in">
					<a href="question/<?php echo $this->redirected_from['id']; ?>"><?php echo $this->redirected_from['title']; ?></a> <?php _e('已与本问题合并')?>
				</div>
			</div>
		</div>
	</div>
	<?php } ?>
	<?php if ($this->redirect_info) { ?>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 aw-global-tips">
				<div class="alert alert-danger fade in">
					<?php _e('本问题已被合并到')?>: <a href="question/id-<?php echo $this->redirect_info['id']; ?>__rf-<?php echo $this->question_info['id']; ?>"><?php echo $this->redirect_info['title']; ?></a>
				</div>
			</div>
		</div>
	</div>
	<?php } ?>

	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<!-- 话题bar -->
					<div class="aw-mod aw-topic-bar" id="question_topic_editor" data-type="question" data-id="<?php echo $this->question_info['id']; ?>" data-category-id="<?php echo $this->question_info['category_id']; ?>">
						<div class="tag-bar clearfix">

						<?php if ($this->question_topics) { ?>
							<?php foreach($this->question_topics as $key => $val) { ?>
							<span class="topic-tag" data-id="<?php echo $val['topic_id']; ?>">
								<a href="topic/<?php echo urlencode($val['topic_title']); ?>" class="text"><?php echo $val['topic_title']; ?></a>
							</span>
							<?php } ?>
						<?php } else if (!$this->user_id) { ?>
							<span class="topic-tag">
								<a href="account/login/"><span class="icon-inverse"><i class="icon icon-edit"></i> <?php _e('添加话题')?></span></a>
							</span>
						<?php } else { ?>
							<!-- 话题推荐bar -->
							<?php if ($this->user_info['permission']['edit_topic']) { ?>
							<div class="aw-notopic-sort">
								<?php if ($this->related_topics) { ?>
								<span class="pull-left"><?php _e('可能属于这些话题'); ?>&nbsp;:&nbsp;</span>
								<?php foreach ($this->related_topics AS $key => $topic_title) { ?>
								<span class="topic-tag">
									<a onclick="one_click_add_topic($(this), '<?php echo $topic_title; ?>', <?php echo $this->question_info['id'];?>);" class="text"><?php echo $topic_title; ?></a>
								</span>
								<?php } ?>, <?php _e('都不是'); ?>? <a href="javascript:;" onclick="$('#question_topic_editor .aw-edit-topic').click();$(this).parents('.aw-notopic-sort').hide();"> <?php _e('点此添加话题'); ?></a>
								<?php } else { ?>
								<?php _e('没有归属话题, 请帮问题添加话题'); ?>, <a href="javascript:;" onclick="$('#question_topic_editor .aw-edit-topic').click(); $(this).parents('.aw-notopic-sort').hide();"><?php _e('点此添加话题'); ?></a>
								<?php } ?>
							</div>
							<?php } ?>
							<!-- 话题推荐bar -->
						<?php } ?>

						<?php if ($this->user_id AND ($this->user_info['permission']['edit_topic'] OR $this->user_id == $this->question_info['uid'])) { ?>
							<span class="icon-inverse aw-edit-topic"<?php if (sizeof($this->question_topics) == 0) { ?> style="display:none"<?php } ?>><i class="icon icon-edit"></i></span>
						<?php } ?>

							<div class="operate clearfix">
								<!-- 下拉菜单 -->
								<div class="btn-group pull-right">
									<a class="btn btn-gray dropdown-toggle" data-toggle="dropdown" href="javascript:;">...</a>
									<div class="aw-dropdown pull-right" role="menu" aria-labelledby="dropdownMenu">
										<ul class="aw-dropdown-list">
											<li>
												<a href="content/log/thread_type-question__thread_id-<?php echo $this->question_info['id']; ?>" rel="nofollow" target="_blank"><?php _e('修改记录'); ?></a>
											</li>
										<?php if ($this->user_info['permission']['lock_post']) { ?>
											<li>
												<?php if ($this->question_info['lock']) { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/unlock/', 'item_type=question&item_id=<?php echo $this->question_info['id']; ?>');"><?php _e('取消锁定'); ?></a>
												<?php } else { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/lock/', 'item_type=question&item_id=<?php echo $this->question_info['id']; ?>');"><?php _e('锁定'); ?></a>
												<?php } ?>
											</li>
										<?php } ?>

										<?php if ($this->user_info['permission']['redirect_post']) { ?>
											<?php if ($this->question_info['redirect_id']) { ?>
											<li>
												<a href="javascript:;" onclick="AWS.prompt('<?php _e('请输入主题 ID'); ?>', '<?php echo $this->question_info['redirect_id']; ?>', function(text){AWS.ajax_request(G_BASE_URL + '/content/ajax/redirect/', 'redirect_id=' + encodeURIComponent(text) + '&item_type=question&item_id=<?php echo $this->question_info['id']; ?>');});"><?php _e('更改合并主题'); ?></a>
											</li>
											<li>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/unredirect/', 'item_type=question&item_id=<?php echo $this->question_info['id']; ?>');"><?php _e('取消合并'); ?></a>
											</li>
											<?php } else { ?>
											<li>
												<a href="javascript:;" onclick="AWS.prompt('<?php _e('请输入主题 ID'); ?>', '', function(text){AWS.ajax_request(G_BASE_URL + '/content/ajax/redirect/', 'redirect_id=' + encodeURIComponent(text) + '&item_type=question&item_id=<?php echo $this->question_info['id']; ?>');});"><?php _e('合并主题'); ?></a>
											</li>
											<?php } ?>
										<?php } ?>

										<?php if ($this->user_info['permission']['is_moderator']) { ?>
											<li>
												<a href="javascript:;" onclick="AWS.confirm('<?php _e('确认删除?'); ?>', function(){AWS.ajax_request(G_BASE_URL + '/question/ajax/remove_question/', 'question_id=<?php echo $this->question_info['id']; ?>');});"><?php _e('删除问题'); ?></a>
											</li>
											<li>
												<a href="javascript:;" onclick="AWS.prompt('<?php _e('请输入新的 UID'); ?>', '<?php echo $this->question_info['uid']; ?>', function(text){AWS.ajax_request(G_BASE_URL + '/content/ajax/change_uid/', 'uid=' + encodeURIComponent(text) + '&item_type=question&item_id=<?php echo $this->question_info['id']; ?>');});"><?php _e('变更作者'); ?></a>
											</li>
										<?php } ?>

										<?php if ($this->user_info['permission']['recommend_post']) { ?>
											<li>
												<?php if ($this->question_info['recommend']) { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/unrecommend/', 'item_type=question&item_id=<?php echo $this->question_info['id']; ?>');"><?php _e('取消推荐'); ?></a>
												<?php } else { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/recommend/', 'item_type=question&item_id=<?php echo $this->question_info['id']; ?>');"><?php _e('推荐'); ?></a>
												<?php } ?>
											</li>
										<?php } ?>

										<?php if ($this->user_info['permission']['pin_post']) { ?>
											<li>
												<?php if ($this->question_info['sort']) { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/unpin/', 'item_type=question&item_id=<?php echo $this->question_info['id']; ?>');"><?php _e('取消置顶'); ?></a>
												<?php } else { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/pin/', 'item_type=question&item_id=<?php echo $this->question_info['id']; ?>');"><?php _e('置顶'); ?></a>
												<?php } ?>
											</li>
										<?php } ?>

										<?php if ($this->user_info['permission']['change_category']) { ?>
											<li>
												<a href="javascript:;" onclick="AWS.popup(G_BASE_URL + '/content/edit/change_category/item_type-question__item_id-<?php echo $this->question_info['id']; ?>__category_id-<?php echo $this->question_info['category_id']; ?>');"><?php _e('变更分类'); ?></a>
											</li>
										<?php } ?>
										</ul>
									</div>
								</div>
								<!-- end 下拉菜单 -->

								<?php if ($this->user_id) { ?>
								<a href="javascript:;" onclick="AWS.User.follow($(this), 'question', <?php echo $this->question_info['id']; ?>);" class="follow btn btn-normal btn-success pull-right <?php if ($this->question_focus) { ?> active<?php } ?>"><span><?php if ($this->question_focus) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?></span> <em>|</em> <b><?php echo $this->question_info['focus_count']?></b></a>
								<?php } ?>

							</div>

						</div>
					</div>
					<!-- end 话题bar -->
					<div class="aw-mod aw-question-detail aw-item">
						<div class="mod-head">
							<h1>
								<?php echo CF::title($this->question_info['user_info'], 'question_' . $this->question_info['id'], $this->question_info['title']); ?>
							</h1>
						</div>
						<div class="mod-body">
							<div class="content markitup-box">
								<?php echo CF::body($this->question_info['user_info'], 'question_' . $this->question_info['id'], $this->question_info['message']); ?>
							</div>
						</div>
						<div class="mod-footer">
							<div class="clearfix aw-vote-ui aw-article-vote<?php if (!$this->user_id OR $this->user_id == $this->question_info['uid']) { ?> disabled<?php } ?>">
								<?php if ($this->user_id AND $this->user_id != $this->question_info['uid']) { ?>
									<a href="javascript:;" class="agree<?php if ($this->question_info['vote_value'] > 0) { ?> active<?php } ?>" onclick="AWS.User.toggle_vote(this, 'question', 'agree', <?php echo $this->question_info['id']; ?>);"><i class="icon icon-agree"></i> <b class="count"><?php echo $this->question_info['agree_count']; ?></b></a>
									<?php if ($this->user_info['permission']['vote_disagree']) { ?>
										<a href="javascript:;" class="disagree<?php if ($this->question_info['vote_value'] < 0) { ?> active<?php } ?>" onclick="AWS.User.toggle_vote(this, 'question', 'disagree', <?php echo $this->question_info['id']; ?>);"><i class="icon icon-disagree"></i></a>
									<?php } ?>
								<?php } else { ?>
									<a href="javascript:;" class="agree"><i class="icon icon-agree"></i> <b class="count"><?php echo $this->question_info['agree_count']; ?></b></a>
								<?php } ?>
							</div>

							<div class="meta">
								<span class="aw-small-text"><?php echo date_friendly($this->question_info['add_time']); ?></span>

								<a href="vote/log/item_type-question__item_id-<?php echo $this->question_info['id']; ?>" class="aw-small-text" rel="nofollow" target="_blank"><i class="icon icon-users"></i></a>

								<a data-id="<?php echo $this->question_info['id']; ?>" data-type="question" class="aw-add-comment aw-small-text <?php if ($this->discussion_count > 0) {?>active<?php }?>" data-comment-count="<?php echo $this->discussion_count; ?>"><i class="icon icon-comment"></i> <?php if ($this->discussion_count) { ?><?php _e('%s 条讨论', $this->discussion_count); ?><?php } else { ?><?php _e('添加讨论'); ?><?php } ?></a>

								<?php if ($this->user_id) { ?>
								<a class="aw-small-text aw-invite-replay"><i class="icon icon-invite"></i> <?php _e('邀请'); ?> <?php if (sizeof($this->invite_users) > 0){ ?><em class="badge badge-info"><?php echo count($this->invite_users); ?></em><?php } ?></a>
								<?php } ?>

								<?php if ($this->question_info['uid'] == $this->user_id OR $this->user_info['permission']['edit_any_post'] OR $this->user_info['permission']['edit_specific_post']) { ?><a class="aw-small-text" href="publish/<?php echo $this->question_info['id']; ?>"><i class="icon icon-edit"></i> <?php _e('编辑'); ?></a><?php } ?>

								<div class="pull-right more-operate">
								<?php if ($this->user_id) { ?>
									<?php if ($this->user_info['permission']['bump_sink']) { ?>
									<a href="javascript:;" class="aw-small-text" onclick="AWS.confirm('<?php _e('确认提升?'); ?>', function(){AWS.ajax_request(G_BASE_URL + '/content/ajax/bump/', 'item_type=question&item_id=<?php echo $this->question_info['id']; ?>', true);});"><i class="icon icon-up"></i> <?php _e('提升'); ?></a>
									<a href="javascript:;" class="aw-small-text" onclick="AWS.confirm('<?php _e('确认下沉?'); ?>', function(){AWS.ajax_request(G_BASE_URL + '/content/ajax/sink/', 'item_type=question&item_id=<?php echo $this->question_info['id']; ?>', true);});"><i class="icon icon-down"></i> <?php _e('下沉'); ?></a>
									<?php } ?>

									<a href="javascript:;" onclick="AWS.User.add_favorite('question', '<?php echo $this->question_info['id']; ?>');" class="aw-small-text"><i class="icon icon-favor"></i> <?php _e('收藏'); ?></a>
								<?php } ?>

									<a href="javascript:;" class="aw-small-text" onclick="AWS.User.share_out();"><i class="icon icon-share"></i> <?php _e('分享'); ?></a>

								</div>
							</div>
						</div>
						<!-- 站内邀请 -->
						<div class="aw-invite-box collapse">
							<div class="mod-head clearfix">
								<div class="search-box pull-left">
									<input id="invite-input" class="form-control" type="text"  placeholder="<?php _e('搜索你想邀请的人...'); ?>"/>
									<div class="aw-dropdown">
										<p class="title"><?php _e('没有找到相关结果'); ?></p>
										<ul class="aw-dropdown-list"></ul>
									</div>
									<i class="icon icon-search"></i>
								</div>
								<div class="invite-list pull-left<?php if (!$this->invite_users) { ?> collapse<?php } ?>">
									<?php _e('已邀请'); ?>:
									<?php if ($this->invite_users) { ?>
									<?php foreach($this->invite_users as $key => $val) { ?>
										<a class="aw-small-text invite-list-user" data-id="<?php echo $val['uid']; ?>" href="<?php echo UF::url($val); ?>" data-id="<?php echo $val['uid']; ?>" data-original-title="<?php echo UF::name($val); ?>" data-placement="bottom" data-toggle="tooltip"><img src="<?php echo UF::avatar($val, 'mid', $this->user_info['permission']['is_moderator']); ?>" /></a>
									<?php } ?>
									<?php } ?>
								</div>
							</div>
						</div>
						<!-- end 站内邀请 -->
					</div>

					<!-- 问题回复 -->
					<div class="aw-mod">
						<?php if ($this->pagination) { ?>
							<div class="clearfix"><?php echo $this->pagination; ?></div>
						<?php } ?>

						<div class="mod-head">
							<ul class="nav nav-tabs aw-nav-tabs active">
							<?php if (!$_GET['item_id'] AND $this->answer_count) { ?>
								<?php if ($_GET['sort_key'] == 'add_time') { ?>
									<li class="active">
									<?php if ($_GET['sort'] == 'ASC') { ?>
										<a href="question/id-<?php echo $this->question_info['id']; ?>__sort_key-add_time__sort-DESC"><?php _e('时间'); ?> <i class="icon icon-up"></i></a>
									<?php } else { ?>
										<a href="question/id-<?php echo $this->question_info['id']; ?>__sort_key-add_time__sort-ASC"><?php _e('时间'); ?> <i class="icon icon-down"></i></a>
									<?php } ?>
									</li>
								<?php } else { ?>
									<li>
										<a href="question/id-<?php echo $this->question_info['id']; ?>__sort_key-add_time__sort-ASC"><?php _e('时间'); ?></a>
									</li>
								<?php } ?>

								<?php if (!$_GET['sort_key'] OR $_GET['sort_key'] == 'agree_count') { ?>
									<li class="active">
									<?php if ($_GET['sort'] == 'ASC') { ?>
										<a href="question/id-<?php echo $this->question_info['id']; ?>__sort_key-agree_count__sort-DESC"><?php _e('票数'); ?> <i class="icon icon-up"></i></a>
									<?php } else { ?>
										<a href="question/id-<?php echo $this->question_info['id']; ?>__sort_key-agree_count__sort-ASC"><?php _e('票数'); ?> <i class="icon icon-down"></i></a>
									<?php } ?>
									</li>
								<?php } else { ?>
									<li>
										<a href="question/id-<?php echo $this->question_info['id']; ?>__sort_key-agree_count__sort-DESC"><?php _e('票数'); ?></a>
									</li>
								<?php } ?>
							<?php } ?>

								<h2><?php _e('%s 个回复', $this->answer_count); ?></h2>
							</ul>
						</div>

						<div class="mod-body aw-feed-list aw-replies">
							<?php TPL::include('question/replies.tpl.htm'); ?>
						</div>
						<div class="mod-body aw-feed-list aw-replies-fold">
						</div>

						<div class="mod-footer">
							<?php if ($_GET['item_id']) { ?>
								<a href="question/<?php echo $this->question_info['id']; ?>" class="aw-load-more-content">
									<span><?php _e('查看全部回答'); ?></span>
								</a>
							<?php } ?>
						</div>

						<?php if ($this->pagination) { ?>
							<div class="clearfix"><?php echo $this->pagination; ?></div>
						<?php } ?>
					</div>
					<!-- end 问题回复 -->

					<!-- 回应编辑器 -->
					<div class="aw-mod aw-replay-box question">
						<a name="answer_form"></a>
						<?php if ($this->question_info['lock']) { ?>
						<p align="center"><?php _e('该问题目前已经被锁定, 无法添加新回复'); ?></p>
						<?php } else if (!$this->user_id) { ?>
						<p align="center"><?php _e('要回复问题请先<a href="account/login/">登录</a>或<a href="account/register/">注册</a>'); ?></p>
						<?php } else if ($this->user_answered) { ?>
						<p align="center"><?php _e('一个问题只能回复一次'); ?></p>
						<?php } else if ((get_setting('answer_self_question') == 'N') && ($this->user_id == $this->question_info['uid'])) { ?>
						<p align="center"><?php _e('不能回复自己发布的问题, 你可以修改问题内容'); ?></p>
						<?php } else { ?>
						<form action="publish/ajax/publish_answer/" onsubmit="return false;" method="post" id="answer_form" class="question_answer_form">
						<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
						<input type="hidden" name="question_id" value="<?php echo $this->question_info['id']; ?>" />
						<div class="mod-head">
							<a href="<?php echo UF::url($this->user_info); ?>" class="aw-user-name"><img alt="" src="<?php echo UF::avatar($this->user_info, 'mid'); ?>" /></a>
							<p>
								<?php if ($this->user_info['permission']['reply_anonymously']) { ?>
								<label class="pull-right">
									<input type="checkbox" value="1" name="anonymous" /> <?php _e(get_setting('anonymous_option_name')); ?>
								</label>
								<?php } ?>
								<?php if (!$this->question_focus) { ?>
								<label class="pull-right">
									<input type="checkbox" value="1" name="auto_focus" /> <?php _e('关注问题'); ?>
								</label>
								<?php } ?>
								<label class="pull-right">
									<a href="currency/rule/" target="_blank"><?php _e(get_setting('currency_rule_name')); ?></a>
								</label>
								<?php echo UF::name($this->user_info); ?>
							</p>
						</div>
						<div class="mod-body">
							<div class="aw-mod aw-editor-box">
								<div class="mod-head">
									<div class="wmd-panel">
										<textarea class="wmd-input form-control autosize editor" id="wmd-input" rows="15" name="message"></textarea>
									</div>
								</div>
								<div class="mod-body clearfix">
									<div class="aw-auth-img clearfix">
										<input id="later_time_input" name="later" class="form-control pull-right" type="text" placeholder="<?php _e('分钟'); ?>" />
										<label class="pull-right">&nbsp;<?php _e('延迟显示'); ?></label>
										<label id="later_time_label" class="pull-right"></label>
									</div>

									<a href="javascript:;" onclick="AWS.submit_append($('#answer_form'), $(this), $('.aw-replies'), reply_callback);" class="btn btn-normal btn-success pull-right btn-reply"><?php _e('回复'); ?></a>
									<span class="pull-right">&nbsp;</span>

									<?php if (get_setting('image_upload_link')) { ?><a class="pull-right" href="<?php echo get_setting('image_upload_link'); ?>" rel="nofollow noreferrer noopener" target="_blank"><?php _e('上传图片'); ?></a><?php } ?>

								</div>
							</div>

						</div>
						</form>
						<?php } ?>
					</div>
					<!-- end 回应编辑器 -->
				</div>
				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<!-- 发起人 -->
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php _e('发起人'); ?></h3>
						</div>
						<div class="mod-body">
							<div class="user-detail">
								<a class="aw-user-img aw-border-radius-5" href="<?php echo UF::url($this->question_info['user_info']); ?>"><img alt="" src="<?php echo UF::avatar($this->question_info['user_info'], 'mid', $this->user_info['permission']['is_moderator']); ?>" /></a>
								<a class="aw-user-name" href="<?php echo UF::url($this->question_info['user_info']); ?>" data-id="<?php echo $this->question_info['user_info']['uid']; ?>" data-reputation="<?php echo intval($this->question_info['user_info']['reputation']); ?>">
									<?php if ($this->question_info['user_info']['flagged'] > 0) { ?>
										<s><?php echo UF::name($this->question_info['user_info']);?></s>
									<?php } else { ?>
										<?php echo UF::name($this->question_info['user_info']);?>
									<?php } ?>
								</a>
								<?php if ($this->question_info['user_info']['flagged'] == -1) { ?><sup><?php _e('观察'); ?></sup><?php } ?>
								<?php if ($this->question_info['user_info']['forbidden']) { ?><sup><?php _e('封禁'); ?></sup><?php } ?>
								<?php if ($this->question_info['user_info']['verified']) { ?>
									<em class="aw-verified"><?php echo $this->question_info['user_info']['verified']; ?></em>
								<?php } ?>
								<?php if ($this->user_id AND $this->question_info['user_info']['uid'] != $this->user_id) { ?>
									<a class="icon-inverse follow tooltips icon icon-plus <?php if ($this->user_follow_check) { ?> active<?php } ?>" onclick="AWS.User.follow($(this), 'user', <?php echo $this->question_info['user_info']['uid']; ?>);" data-original-title="<?php if ($this->user_follow_check) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?>"></a>
								<?php } ?>
							</div>
							<p class="signature"><?php echo UF::signature($this->question_info['user_info'], $this->user_info['permission']['is_moderator']); ?></p>
						</div>
					</div>
					<!-- end 发起人 -->

					<?php if ($this->recommend_posts) { ?>
					<!-- 推荐内容 -->
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php _e('推荐内容'); ?></h3>
						</div>
						<div class="mod-body aw-size-12">
							<ul>
								<?php foreach($this->recommend_posts AS $key => $val) { ?>
								<li>
									<?php if ($val['post_type'] == 'question') { ?>
									<a href="question/<?php echo $val['id']; ?>"><?php if (!$val['title']) { ?><s class="aw-deleted"><?php _e('已删除'); ?></s><?php } else { ?><?php echo $val['title']; ?><?php } ?></a>
									<?php } elseif ($val['post_type'] == 'article') { ?>
									<a href="article/<?php echo $val['id']; ?>"><?php if (!$val['title']) { ?><s class="aw-deleted"><?php _e('已删除'); ?></s><?php } else { ?><?php echo $val['title']; ?><?php } ?></a>
									<?php } elseif ($val['post_type'] == 'video') { ?>
									<a href="video/<?php echo $val['id']; ?>"><?php if (!$val['title']) { ?><s class="aw-deleted"><?php _e('已删除'); ?></s><?php } else { ?><?php echo $val['title']; ?><?php } ?></a>
									<?php } ?>
								</li>
								<?php } ?>
							</ul>
						</div>
					</div>
					<!-- end 推荐内容 -->
					<?php } ?>

					<?php if ($this->question_related_list) { ?>
					<!-- 相关问题 -->
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php _e('相关问题'); ?></h3>
						</div>
						<div class="mod-body aw-size-12">
							<ul>
								<?php foreach($this->question_related_list AS $key => $val) { ?>
								<li><a href="question/<?php echo $val['id']; ?>"><?php if (!$val['title']) { ?><s class="aw-deleted"><?php _e('已删除'); ?></s><?php } else { ?><?php echo $val['title']; ?><?php } ?></a></li>
								<?php } ?>
							</ul>
						</div>
					</div>
					<!-- end 相关问题 -->
					<?php } ?>

					<!-- 问题状态 -->
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php _e('问题状态'); ?></h3>
						</div>
						<div class="mod-body">
							<ul>
								<li><?php _e('最新活动'); ?>: <span class="aw-text-color-blue"><?php echo date_friendly($this->question_info['update_time']); ?></span></li>
								<li><?php _e('浏览'); ?>: <span class="aw-text-color-blue"><?php echo $this->question_info['view_count']; ?></span></li>
								<li><?php _e('关注'); ?>: <span class="aw-text-color-blue"><?php echo $this->question_info['focus_count']; ?></span> <?php _e('人'); ?></li>
							</ul>
						</div>
					</div>
					<!-- end 问题状态 -->
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var QUESTION_ID = <?php echo $this->question_info['id'];?>;

function reply_callback(err) {
	if (err) return;
<?php if (get_setting('answer_unique') == 'Y') { ?>
	$('.question_answer_form').detach();
	if ($('.aw-replay-box.question').length)
	{
		$('.aw-replay-box').append('<p align="center">一个问题只能回复一次</p>');
	}
<?php } ?>
	$('.aw-mod.aw-replay-box textarea').css('height', '329px');
}

$(document).ready(function () {
<?php if (!$_GET['fold']) { ?>
	var folded_replies = $('.aw-replies-fold');
	$.each($('.aw-replies .aw-item'), function (i, e) {
		if ($(this).data('fold')) {
			folded_replies.append($(e));
		}
	});
<?php } ?>

	// 问题页添加讨论
	AWS.Init.init_comment_box('.aw-add-comment');

	AWS.init_later_time_helper($('#later_time_input'), $('#later_time_label'));
	// 初始化编辑器
	AWS.create_editor(document.getElementById('wmd-input'), true);

	<?php if ($_GET['comment_unfold'] == 'question') { ?>
	// 展开问题讨论
	if ($('.aw-question-detail').find('.aw-add-comment').data('comment-count') > 0)
	{
		$('.aw-question-detail').find('.aw-add-comment').click();
	}
	<?php } ?>

	<?php if ($_GET['answer_ids']) { ?>
	//回复高亮
	var answer_ids = '<?php echo addslashes($_GET['answer_ids']); ?>'.split(',');
	$.each(answer_ids, function (i, answer_id) {
		if (answer_id && $('#answer_list_' + answer_id).attr('id'))
		{
			if ($('#answer_list_' + answer_id).find('.aw-add-comment').data('comment-count') > 0)
			{
				$('#answer_list_' + answer_id).find('.aw-add-comment').click();
			}

			AWS.hightlight($('#answer_list_' + answer_id), 'active');
		}
	});
	<?php } ?>
});
</script>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/question_detail.js"></script>

<?php TPL::include('global/footer.tpl.htm'); ?>
