<?php if ($this->answers) { ?>
<?php foreach ($this->answers AS $key => $val) { ?>
<?php if (CF::skip($val['user_info'])) continue; ?>
<div class="aw-item" data-item-id="<?php echo $val['id']; ?>" data-fold="<?php echo $val['fold']; ?>" <?php if ($this->user_info['permission']['is_moderator']) { ?>data-item-reputation="<?php echo $val['reputation']; ?>"<?php } ?>>
	<div class="mod-head">
		<div class="title">
			<!-- 用户头像 -->
			<a class="aw-user-img aw-border-radius-5" href="<?php echo UF::url($val['user_info']); ?>" data-id="<?php echo $val['uid']; ?>"><img src="<?php echo UF::avatar($val['user_info'], 'mid'); ?>" alt="" /></a>
			<!-- end 用户头像 -->

			<!-- 用户名 -->
			<a class="aw-user-name" href="<?php echo UF::url($val['user_info']); ?>" data-id="<?php echo $val['user_info']['uid']; ?>" data-reputation="<?php echo UF::reputation($val['user_info']); ?>">
			<?php if ($val['user_info']['forbidden']) { ?>
				<s><?php echo UF::name($val['user_info']); ?></s>
			<?php } else { ?>
				<?php echo UF::name($val['user_info']); ?>
			<?php } ?>
			</a>
			<?php if ($val['user_info']['flagged']) { ?><sup><?php echo UF::flagged($val['user_info']); ?></sup><?php } ?>
			<?php if ($val['user_info']['verified']) { ?><em class="aw-verified"><?php echo $val['user_info']['verified']; ?></em><?php } ?>
			<span class="aw-small-text"><?php echo UF::signature($val['user_info']); ?></span>
			<!-- end 用户名 -->
		</div>
	</div>
	<div class="mod-body clearfix">
	<!-- 回答 -->
	<?php if ($val['fold']) { ?>
		<div class="aw-load-more-content">
			<a class="aw-small-text aw-alert-box aw-small-text" tabindex="-1" href="<?php echo url_rewrite(); ?>/content/log/item_type-question_reply__item_id-<?php echo $val['id']; ?>" rel="nofollow" target="_blank"><?php echo _t('为什么被折叠?'); ?></a>
			<a href="javascript:;" class="aw-load-more-content" onclick="$(this).parent().parent().children('.markitup-box').toggle();"><?php echo _t('内容被折叠'); ?></a>
		</div>
		<div class="markitup-box collapse">
			<?php echo CF::reply($val); ?>
		</div>
	<?php } else { ?>
		<div class="markitup-box">
			<?php echo CF::reply($val); ?>
		</div>
	<?php } ?>
	<!-- end 回答 -->
	</div>
	<div class="mod-footer">
		<!-- 社交操作 -->
		<div class="meta clearfix">
			<span class="aw-small-text pull-right"><?php echo date_friendly($val['add_time']); ?></span>
			<!-- 投票栏 -->
			<span class="operate aw-vote-ui">
			<?php if ($this->user_id AND $this->user_id != $val['user_info']['uid']) { ?>
				<a class="agree<?php if ($val['vote_value'] > 0) { ?> active<?php } ?>" onclick="AWS.User.toggle_vote(this, 'question_reply', 'agree', <?php echo $val['id']; ?>);">
					<i class="icon icon-agree"></i> <b class="count"><?php echo $val['agree_count']; ?></b>
				</a>
				<?php if ($this->user_info['permission']['vote_disagree']) { ?>
				<a class="disagree<?php if ($val['vote_value'] < 0) { ?> active<?php } ?>" onclick="AWS.User.toggle_vote(this, 'question_reply', 'disagree', <?php echo $val['id']; ?>);">
					<i class="icon icon-disagree"></i>
				</a>
				<?php } ?>
			<?php } else { ?>
				<a href="javascript:;" class="agree disabled">
					<i class="icon icon-agree"></i> <b class="count"><?php echo $val['agree_count']; ?></b>
				</a>
			<?php } ?>
			</span>
			<!-- end 投票栏 -->

			<span class="operate">
				<a href="javascript:;" onclick="toggle_disscusion($(this));" class="aw-add-comment" data-id="<?php echo $val['id']; ?>" data-type="answer" data-comment-count="<?php echo $val['comment_count']; ?>"><i class="icon icon-comment"></i> <?php if ($val['comment_count']) { ?><?php echo $val['comment_count']; ?><?php } else { ?>0<?php } ?></a>
			</span>

			<!-- 可显示/隐藏的操作box -->
			<div class="more-operate">

				<a href="<?php echo url_rewrite(); ?>/vote/log/item_type-question_reply__item_id-<?php echo $val['id']; ?>" class="aw-small-text" rel="nofollow" target="_blank"><i class="icon icon-users"></i></a>

				<?php if ($this->user_id) { ?>
					<?php if (can_edit_post($val['uid'], $this->user_info)) { ?>
					<a class="aw-small-text" href="javascript:;" onclick="AWS.popup(G_BASE_URL + '/modify/edit/answer/id-<?php echo $val['id']; ?>'<?php if ($val['uid'] == $this->user_id) { ?>, AWS.init_answer_editor<?php } ?>);"><i class="icon icon-edit"></i> <?php echo _t('编辑'); ?></a>
					<?php } ?>

				<?php if (($this->user_info['permission']['fold_post'] AND $this->user_id != $this->question_info['uid']) OR ($this->user_info['permission']['fold_post_own_thread'] AND $this->user_id == $this->question_info['uid'])) { ?>
					<?php if ($val['fold'] == 0) { ?>
					<a class="aw-small-text" href="javascript:;" onclick="AWS.confirm('<?php echo _t('确认折叠?'); ?>', function(){AWS.ajax_request(G_BASE_URL + '/content/ajax/fold_reply/', 'item_type=question_reply&item_id=<?php echo $val['id']; ?>');});"><i class="icon icon-fold"></i> <?php echo _t('折叠'); ?></a>
					<?php } elseif ($val['fold'] == 1) { ?>
					<a class="aw-small-text" href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/unfold_reply/', 'item_type=question_reply&item_id=<?php echo $val['id']; ?>');"><i class="icon icon-fold"></i> <?php echo _t('取消折叠'); ?></a>
					<?php } ?>
				<?php } ?>

					<a href="javascript:;" onclick="AWS.User.add_favorite('question_reply', '<?php echo $val['id']; ?>');" class="aw-small-text"><i class="icon icon-favor"></i> <?php echo _t('收藏'); ?></a>
				<?php } ?>

			</div>
			<!-- end 可显示/隐藏的操作box -->

		</div>
		<!-- end 社交操作 -->

		<!-- 讨论 -->
		<div class="aw-comment-box" style="display:none">
			<div class="aw-comment-list"></div>
			<!-- 加载更多内容 -->
			<a class="aw-load-more-content">
				<span><?php echo _t('更多'); ?></span>
			</a>
			<!-- end 加载更多内容 -->
			<?php if ($this->question_info['lock'] AND !$this->question_info['redirect_id']) { ?>
			<p align="center"><?php echo _t('该主题目前已经被锁定, 无法添加新回复'); ?></p>
			<?php } else if ($this->user_id) { ?>
			<form action="<?php echo url_rewrite(); ?>/question/ajax/save_answer_discussion/answer_id-<?php echo $val['id']; ?>" method="post" onsubmit="return false">
				<div class="aw-comment-box-main">
					<textarea class="aw-comment-txt autosize form-control" rows="2" name="message" placeholder="<?php echo _t('讨论一下...'); ?>"></textarea>
					<div class="aw-comment-box-btn">
						<span class="pull-right">
							<?php if ($this->user_info['permission']['reply_anonymously']) { ?>
							<label><input type="checkbox" name="anonymous" value="1"> <?php echo _t('用这个身份发表'); ?>: <a href="<?php echo UF::url(get_anonymous_user_info($this->user_info)); ?>"><?php echo UF::name(get_anonymous_user_info($this->user_info)); ?></a></label>
							<?php } ?>
							<a href="javascript:;" class="btn btn-mini btn-success" onclick="submit_disscusion($(this));"><?php echo _t('讨论'); ?></a>
						</span>
					</div>
				</div>
			</form>
			<?php } ?>
		</div>
		<!-- end 讨论 -->
	</div>
</div>
<?php } ?>
<?php } ?>
