<?php TPL::include('global/header.tpl.htm'); ?>
<?php TPL::include('profile/profile_header.tpl.htm'); ?>

<div class="aw-mod mod-setting-privacy">
	<div class="mod-body">
		<form id="setting_form" method="post" action="<?php echo url_rewrite(); ?>/profile/ajax/privacy_setting/">

			<div class="aw-mod">
				<div class="mod-head">
					<h3><?php echo _t('私信设置'); ?></h3>
				</div>
				<div class="mod-body">
					<dl>
						<dt><?php echo _t('谁可以给我发私信'); ?> :</dt>
						<dd>
<?php
	$inbox_recv = $this->user_info['inbox_recv'];
	if ($inbox_recv != 1 AND $inbox_recv != 2 AND $inbox_recv != 3)
	{
		$inbox_recv = S::get_int('default_inbox_recv');
		if (!$inbox_recv)
		{
			$inbox_recv = 1;
		}
	}
?>
							<label><input type="radio" value="0" name="inbox_recv" /> <?php echo _t('默认'); ?></label>
							<label><input type="radio" value="3" name="inbox_recv"<?php if ($inbox_recv == 3) { ?> checked="checked"<?php } ?> /> <?php echo _t('所有人'); ?></label>
							<label><input type="radio" value="1" name="inbox_recv"<?php if ($inbox_recv == 1) { ?> checked="checked"<?php } ?> /> <?php echo _t('我关注的人'); ?></label>
							<label><input type="radio" value="2" name="inbox_recv"<?php if ($inbox_recv == 2) { ?> checked="checked"<?php } ?> /> <?php echo _t('拒绝任何人'); ?></label>
						</dd>
					</dl>
				</div>
			</div>

			<div class="aw-mod">
				<div class="mod-head">
					<h3><?php echo _t('通知设置'); ?></h3>
				</div>
				<div class="mod-body">
					<dl>
						<dt><?php echo _t('什么情况下给我发送通知'); ?> :</dt>
						<dd>
							<?php foreach($this->notification_all_options as $key => $val) { ?>
							<span>
								<label>
									<input name="notification_settings[]" type="checkbox" value="<?php echo $key; ?>" <?php if (!in_array($key, $this->notification_ignore_list)) { ?>checked<?php } ?>> <?php echo safe_text($val); ?>
								</label>
							</span>
							<?php } ?>
						</dd>
					</dl>
				</div>
			</div>
		</form>
	</div>
	<div class="mod-footer clearfix">
		<a href="javascript:;" class="btn btn-large btn-success pull-right" onclick="AWS.submit_form($('#setting_form'), $(this));"><?php echo _t('保存'); ?></a>
	</div>
</div>

<?php TPL::include('profile/profile_footer.tpl.htm'); ?>
<?php TPL::include('global/footer.tpl.htm'); ?>