<?php TPL::include('global/header.tpl.htm'); ?>
<?php TPL::include('profile/profile_header.tpl.htm'); ?>

<div class="aw-mod">
	<div class="mod-body">
		<div class="aw-mod">
			<div class="mod-head">
				<h3><?php echo _t('安全设置'); ?></h3>
			</div>
			<div class="mod-body">
				<div class="form-group">
					<a href="<?php echo url_rewrite(); ?>/account/change_password/" class="btn btn-mini btn-success"><?php echo _t('修改密码'); ?></a>
				</div>
			</div>
		</div>
	</div>
	<div class="mod-footer clearfix">
	</div>
</div>

<?php TPL::include('profile/profile_footer.tpl.htm'); ?>
<?php TPL::include('global/footer.tpl.htm'); ?>