<?php TPL::include('global/header.tpl.htm'); ?>
<?php TPL::include('profile/profile_header.tpl.htm'); ?>

<div class="aw-mod">
	<div class="mod-body">
		<div class="aw-mod aw-user-setting-bind">
			<div class="mod-head">
				<h3><?php _e('修改密码'); ?></h3>
			</div>
			<form class="form-horizontal" action="<?php echo url_rewrite(); ?>/account/change_password/" method="post">
				<div class="mod-body">
					<div class="form-group">
						<button type="submit" class="btn btn-success"><?php _e('下一步'); ?></button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="mod-footer clearfix">
	</div>
</div>

<?php TPL::include('profile/profile_footer.tpl.htm'); ?>
<?php TPL::include('global/footer.tpl.htm'); ?>