<?php TPL::include('global/header.tpl.htm'); ?>

<?php if ($this->user_id) { ?>
<link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/editor/sceditor/themes/square.css" />
<script src="<?php echo G_STATIC_URL; ?>/editor/sceditor/sceditor.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/editor/sceditor/icons/material.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/editor/sceditor/formats/bbcode.js"></script>
<?php } ?>

<div class="aw-container-wrap">
	<?php if ($this->redirected_from) { ?>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 aw-global-tips">
				<div class="alert alert-warning fade in">
					<a href="<?php echo url_rewrite(); ?>/video/<?php echo $this->redirected_from['id']; ?>"><?php echo CF::title($this->redirected_from); ?></a> <?php echo _t('已与本影片合并'); ?>
				</div>
			</div>
		</div>
	</div>
	<?php } ?>
	<?php if ($this->redirect_info) { ?>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 aw-global-tips">
				<div class="alert alert-danger fade in">
					<?php echo _t('本影片已被合并到'); ?>: <a href="<?php echo url_rewrite(); ?>/video/id-<?php echo $this->redirect_info['id']; ?>__rf-<?php echo $this->video_info['id']; ?>"><?php echo CF::title($this->redirect_info); ?></a>
				</div>
			</div>
		</div>
	</div>
	<?php } ?>

	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content aw-article-content">
					<div class="aw-mod aw-topic-bar" data-type="video" data-id="<?php echo $this->video_info['id']; ?>" data-category-id="<?php echo $this->video_info['category_id']; ?>">
						<div class="tag-bar clearfix">
						<?php if ($this->topics) { ?>
							<?php foreach($this->topics as $key => $val) { ?>
							<span class="topic-tag" data-id="<?php echo $val['topic_id']; ?>">
								<a class="text" href="<?php echo url_rewrite(); ?>/topic/<?php echo safe_url_encode($val['topic_title']); ?>"><?php echo FORMAT::text($val['topic_title']); ?></a>
							</span>
							<?php } ?>
						<?php } else if (!$this->user_id) { ?>
							<span class="topic-tag">
								<a href="<?php echo url_rewrite(); ?>/login/"><span class="icon-inverse"><i class="icon icon-edit"></i> <?php echo _t('添加话题'); ?></span></a>
							</span>
						<?php } ?>

						<?php if ($this->user_id AND ($this->user_info['permission']['edit_question_topic'] OR $this->user_id == $this->video_info['uid'])) { ?>
							<span class="icon-inverse aw-edit-topic"><i class="icon icon-edit"></i> <?php if (!$this->topics) { ?><?php echo _t('添加话题'); ?><?php } ?></span>
						<?php } ?>

							<div class="operate clearfix">
								<!-- 下拉菜单 -->
								<div class="btn-group pull-right">
									<a class="btn btn-gray dropdown-toggle" data-toggle="dropdown" href="javascript:;">...</a>
									<div class="dropdown-menu aw-dropdown pull-right" role="menu" aria-labelledby="dropdownMenu">
										<ul class="aw-dropdown-list">
											<li>
												<a href="<?php echo url_rewrite(); ?>/content/log/thread_type-video__thread_id-<?php echo $this->video_info['id']; ?>" rel="nofollow" target="_blank"><?php echo _t('修改记录'); ?></a>
											</li>

										<?php if ($this->user_info['permission']['lock_post']) { ?>
											<li>
												<?php if ($this->video_info['lock']) { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/unlock/', 'item_type=video&item_id=<?php echo $this->video_info['id']; ?>');"><?php echo _t('取消锁定'); ?></a>
												<?php } else { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/lock/', 'item_type=video&item_id=<?php echo $this->video_info['id']; ?>');"><?php echo _t('锁定'); ?></a>
												<?php } ?>
											</li>
										<?php } ?>

										<?php if ($this->user_info['permission']['redirect_post']) { ?>
											<?php if ($this->video_info['redirect_id']) { ?>
											<li>
												<a href="javascript:;" onclick="AWS.prompt('<?php echo _t('请输入主题 ID'); ?>', '<?php echo $this->video_info['redirect_id']; ?>', function(text){AWS.ajax_request(G_BASE_URL + '/content/ajax/redirect/', 'redirect_id=' + encodeURIComponent(text) + '&item_type=video&item_id=<?php echo $this->video_info['id']; ?>');});"><?php echo _t('更改合并主题'); ?></a>
											</li>
											<li>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/unredirect/', 'item_type=video&item_id=<?php echo $this->video_info['id']; ?>');"><?php echo _t('取消合并'); ?></a>
											</li>
											<?php } else { ?>
											<li>
												<a href="javascript:;" onclick="AWS.prompt('<?php echo _t('请输入主题 ID'); ?>', '', function(text){AWS.ajax_request(G_BASE_URL + '/content/ajax/redirect/', 'redirect_id=' + encodeURIComponent(text) + '&item_type=video&item_id=<?php echo $this->video_info['id']; ?>');});"><?php echo _t('合并主题'); ?></a>
											</li>
											<?php } ?>
										<?php } ?>

										<?php if ($this->user_info['permission']['is_moderator']) { ?>
											<li>
												<a href="javascript:;" onclick="AWS.confirm('<?php echo _t('确认删除?'); ?>', function(){AWS.ajax_request(G_BASE_URL + '/video/ajax/remove_video/', 'video_id=<?php echo $this->video_info['id']; ?>');});"><?php echo _t('删除影片'); ?></a>
											</li>
											<li>
												<a href="javascript:;" onclick="AWS.prompt('<?php echo _t('请输入新的 UID'); ?>', '<?php echo $this->video_info['uid']; ?>', function(text){AWS.ajax_request(G_BASE_URL + '/content/ajax/change_uid/', 'uid=' + encodeURIComponent(text) + '&item_type=video&item_id=<?php echo $this->video_info['id']; ?>');});"><?php echo _t('变更作者'); ?></a>
											</li>
										<?php } ?>

										<?php if ($this->user_info['permission']['recommend_post']) { ?>
											<li>
												<?php if ($this->video_info['recommend']) { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/unrecommend/', 'item_type=video&item_id=<?php echo $this->video_info['id']; ?>');"><?php echo _t('取消推荐'); ?></a>
												<?php } else { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/recommend/', 'item_type=video&item_id=<?php echo $this->video_info['id']; ?>');"><?php echo _t('推荐'); ?></a>
												<?php } ?>
											</li>
										<?php } ?>

										<?php if ($this->user_info['permission']['pin_post']) { ?>
											<li>
												<?php if ($this->video_info['sort']) { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/unpin/', 'item_type=video&item_id=<?php echo $this->video_info['id']; ?>');"><?php echo _t('取消置顶'); ?></a>
												<?php } else { ?>
												<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/content/ajax/pin/', 'item_type=video&item_id=<?php echo $this->video_info['id']; ?>');"><?php echo _t('置顶'); ?></a>
												<?php } ?>
											</li>
										<?php } ?>

										<?php if ($this->user_info['permission']['change_category']) { ?>
											<li>
												<a href="javascript:;" onclick="AWS.popup(G_BASE_URL + '/content/edit/change_category/item_type-video__item_id-<?php echo $this->video_info['id']; ?>__category_id-<?php echo $this->video_info['category_id']; ?>');"><?php echo _t('变更分类'); ?></a>
											</li>
										<?php } ?>
										</ul>
									</div>
								</div>
								<!-- end 下拉菜单 -->

								<?php if ($this->following OR $this->user_info['permission']['follow_thread'] OR $this->video_info['uid'] == $this->user_id) { ?>
								<?php if ($this->following) { ?>
									<a class="follow btn btn-normal btn-success pull-right active" href="javascript:;" onclick="(function(selector){AWS.ajax_request(G_BASE_URL + '/content/ajax/unfollow/', 'item_type=video&item_id=<?php echo $this->video_info['id']; ?>', function(){selector.removeClass('active');selector.addClass('disabled');selector.text('<?php echo _t('已取消'); ?>')});})($(this))"><?php echo _t('取消关注'); ?></a>
								<?php } else { ?>
									<a class="follow btn btn-normal btn-success pull-right" href="javascript:;" onclick="(function(selector){AWS.ajax_request(G_BASE_URL + '/content/ajax/follow/', 'item_type=video&item_id=<?php echo $this->video_info['id']; ?>', function(){selector.addClass('disabled');selector.text('<?php echo _t('已关注'); ?>')});})($(this))"><?php echo _t('关注'); ?></a>
								<?php } ?>
								<?php } ?>
							</div>

						</div>

					</div>
					<div class="aw-mod aw-question-detail" <?php if ($this->user_info['permission']['is_moderator']) { ?>data-item-reputation="<?php echo $this->video_info['reputation']; ?>"<?php } ?>>
						<div class="mod-head">
							<h1>
								<?php echo CF::title($this->video_info); ?>
							</h1>
						</div>
						<div class="mod-body">
							<?php if ($this->video_info['source_type']) { ?>
							<div>
								<?php TPL::include('video/player_iframe.tpl.htm'); ?>
							</div>
							<?php } ?>
							<div class="content markitup-box">
								<?php echo CF::body_simple($this->video_info); ?>
							</div>
							<div class="meta clearfix">
								<div class="aw-vote-ui aw-article-vote pull-left<?php if (!$this->user_id OR $this->user_id == $this->video_info['uid']) { ?> disabled<?php } ?>">

								<?php if ($this->user_id AND $this->user_id != $this->video_info['uid']) { ?>
									<a href="javascript:;" class="agree<?php if ($this->video_info['vote_value'] > 0) { ?> active<?php } ?>" onclick="AWS.User.toggle_vote(this, 'video', 'agree', <?php echo $this->video_info['id']; ?>);"><i class="icon icon-agree"></i> <b class="count"><?php echo $this->video_info['agree_count']; ?></b></a>
									<?php if ($this->user_info['permission']['vote_disagree']) { ?>
										<a href="javascript:;" class="disagree<?php if ($this->video_info['vote_value'] < 0) { ?> active<?php } ?>" onclick="AWS.User.toggle_vote(this, 'video', 'disagree', <?php echo $this->video_info['id']; ?>);"><i class="icon icon-disagree"></i></a>
									<?php } ?>
								<?php } else { ?>
									<a href="javascript:;" class="agree"><i class="icon icon-agree"></i> <b class="count"><?php echo $this->video_info['agree_count']; ?></b></a>
								<?php } ?>

								</div>

								<a href="<?php echo url_rewrite(); ?>/vote/log/item_type-video__item_id-<?php echo $this->video_info['id']; ?>" class="aw-small-text" rel="nofollow" target="_blank"><i class="icon icon-users"></i></a>

								<span class="pull-right more-operate">
								<?php if ($this->user_id) { ?>
									<?php if ($this->user_info['permission']['bump_post']) { ?>
									<a href="javascript:;" class="aw-small-text" onclick="AWS.confirm('<?php echo _t('确认提升?'); ?>', function(){AWS.ajax_request(G_BASE_URL + '/content/ajax/bump/', 'item_type=video&item_id=<?php echo $this->video_info['id']; ?>', true);});"><i class="icon icon-up"></i> <?php echo _t('提升'); ?></a>
									<?php } ?>
									<?php if ($this->user_info['permission']['sink_post']) { ?>
									<a href="javascript:;" class="aw-small-text" onclick="AWS.confirm('<?php echo _t('确认下沉?'); ?>', function(){AWS.ajax_request(G_BASE_URL + '/content/ajax/sink/', 'item_type=video&item_id=<?php echo $this->video_info['id']; ?>', true);});"><i class="icon icon-down"></i> <?php echo _t('下沉'); ?></a>
									<?php } ?>

									<?php if (can_edit_post($this->video_info['uid'], $this->user_info)) { ?>
									<a class="aw-small-text" href="<?php echo url_rewrite(); ?>/modify/video/<?php echo $this->video_info['id']; ?>"><i class="icon icon-edit"></i> <?php echo _t('编辑'); ?></a>
									<?php } ?>

									<a href="javascript:;" onclick="AWS.User.add_favorite('video', '<?php echo $this->video_info['id']; ?>');" class="aw-small-text"><i class="icon icon-favor"></i> <?php echo _t('收藏'); ?></a>
								<?php } ?>

									<a href="javascript:;" class="aw-small-text" onclick="AWS.User.share_out();"><i class="icon icon-share"></i> <?php echo _t('分享'); ?></a>

									<em class="aw-small-text"><?php echo date_friendly($this->video_info['add_time']); ?></em>
								</span>
							</div>
						</div>
						<div class="mod-footer">
						</div>
					</div>

					<!-- 影片评论 -->
					<div class="aw-mod">
						<?php if ($this->pagination) { ?>
							<div class="clearfix"><?php TPL::include('global/pagination.tpl.htm'); ?></div>
						<?php } ?>

						<div class="mod-head common-head">
							<h2><?php echo _t('%s 个评论', $this->comment_count); ?></h2>
						</div>

						<div class="mod-body aw-feed-list aw-replies">
							<?php TPL::include('video/replies.tpl.htm'); ?>
						</div>
						<div class="mod-body aw-feed-list aw-replies-fold">
						</div>

						<?php if ($_GET['item_id']) { ?>
						<div class="mod-footer">
								<a href="<?php echo url_rewrite(); ?>/video/<?php echo $this->video_info['id']; ?>" class="aw-load-more-content">
									<span><?php echo _t('查看全部评论'); ?></span>
								</a>
						</div>
						<?php } ?>

						<?php if ($this->pagination) { ?>
							<div class="clearfix"><?php TPL::include('global/pagination.tpl.htm'); ?></div>
						<?php } ?>
					</div>
					<!-- end 影片评论 -->

					<!-- 回应编辑器 -->
					<div class="aw-mod aw-reply-box">
						<a name="answer_form"></a>
						<?php if ($this->video_info['lock']) { ?>
						<p align="center"><?php echo _t('该主题目前已经被锁定, 无法添加新回复'); ?></p>
						<?php } else if (!$this->user_id) { ?>
						<p align="center"><?php echo _t('要发言请先<a href="%s0">登录</a>或<a href="%s1">注册</a>', array(url_rewrite() . '/login/', url_rewrite(). '/register/')); ?></p>
						<?php } else { ?>
						<form action="<?php echo url_rewrite(); ?>/publish/ajax/publish_video_comment/" onsubmit="return false;" method="post" id="answer_form" class="question_answer_form">
						<input type="hidden" name="video_id" value="<?php echo $this->video_info['id']; ?>" />
						<div class="mod-head">
							<a href="<?php echo UF::url($this->user_info); ?>" class="aw-user-name"><img alt="" src="<?php echo UF::avatar($this->user_info, 'mid'); ?>" /></a>
							<p>
								<?php if ($this->user_info['permission']['reply_anonymously']) { ?>
								<label class="pull-right">
									<input type="checkbox" value="1" name="anonymous" /> <?php echo _t('用这个身份发表'); ?>: <a href="<?php echo UF::url(get_anonymous_user_info($this->user_info)); ?>"><?php echo UF::name(get_anonymous_user_info($this->user_info)); ?></a>
								</label>
								<?php } ?>
								<?php if ($this->user_info['permission']['follow_thread'] OR $this->video_info['uid'] == $this->user_id) { ?>
								<?php if (!$this->following) { ?>
								<label class="pull-right">
									<input type="checkbox" value="1" name="follow" /> <?php echo _t('关注主题'); ?>
								</label>
								<?php } ?>
								<?php } ?>
								<label class="pull-right">
									<a href="<?php echo url_rewrite(); ?>/currency/rule/" target="_blank"><?php _e(S::get('currency_rule_name')); ?></a>
								</label>
								<?php echo UF::name($this->user_info); ?>
							</p>
						</div>
						<div class="mod-body">
							<div class="aw-mod aw-editor-box">
								<div class="mod-head">
									<div class="wmd-panel">
										<textarea class="wmd-input form-control autosize editor" id="wmd-input" rows="15" name="message"></textarea>
									</div>
								</div>
								<div class="mod-body clearfix">
									<div class="aw-auth-img clearfix">
										<input id="later_time_input" name="later" class="form-control pull-right" type="text" placeholder="<?php echo _t('分钟'); ?>" />
										<label class="pull-right">&nbsp;<?php echo _t('延迟显示'); ?></label>
										<label id="later_time_label" class="pull-right"></label>
									</div>

									<a href="javascript:;" onclick="AWS.submit_append($('#answer_form'), $(this), $('.aw-replies'), reply_callback);" class="btn btn-normal btn-success pull-right btn-reply"><?php echo _t('回复'); ?></a>
									<span class="pull-right">&nbsp;</span>

									<?php if (S::get('image_upload_link')) { ?><a class="pull-right" href="<?php echo S::get('image_upload_link'); ?>" <?php if (!is_javascript(S::get('image_upload_link'))) { ?>rel="nofollow noreferrer noopener" target="_blank"<?php } ?>><?php echo _t('上传图片'); ?></a><?php } ?>

								</div>
							</div>

						</div>
						</form>
						<?php } ?>
					</div>
					<!-- end 回应编辑器 -->

				<div style="display:none">
					<!-- 回复编辑器 -->
					<div id="user_reply_box" class="aw-article-reply-box clearfix">
						<?php if ($this->video_info['lock']) { ?>
						<p align="center"><?php echo _t('该主题目前已经被锁定, 无法添加新回复'); ?></p>
						<?php } else if (!$this->user_id) { ?>
						<p align="center"><?php echo _t('要发言请先<a href="%s0">登录</a>或<a href="%s1">注册</a>', array(url_rewrite() . '/login/', url_rewrite(). '/register/')); ?></p>
						<?php } else { ?>
						<form action="<?php echo url_rewrite(); ?>/publish/ajax/publish_video_comment/" onsubmit="return false;" method="post" id="answer_form_2">
						<input type="hidden" name="video_id" value="<?php echo $this->video_info['id']; ?>" />
						<input type="hidden" id="user_reply_box_at_uid" name="at_uid" value="" />
						<div class="mod-body">
							<textarea style="min-height:54px" rows="3" name="message" class="form-control autosize" placeholder="<?php echo _t('写下你的评论...'); ?>" /></textarea>
						</div>
						<div class="mod-footer">

							<label class="pull-right">
								<?php if ($this->user_info['permission']['reply_anonymously']) { ?>
								&nbsp;<input type="checkbox" value="1" name="anonymous" /> <?php echo _t('用这个身份发表'); ?>: <a href="<?php echo UF::url(get_anonymous_user_info($this->user_info)); ?>"><?php echo UF::name(get_anonymous_user_info($this->user_info)); ?></a>
								<?php } ?>
								&nbsp;<a href="javascript:;" onclick="AWS.submit_append($('#answer_form_2'), $(this), $('.aw-replies'), reply_callback_2);" class="btn btn-normal btn-success btn-submit btn-reply"><?php echo _t('回复'); ?></a>
							</label>

							<label class="pull-right">
								<input id="later_time_input_2" class="pull-right form-control" type="text" name="later" placeholder="<?php echo _t('分钟'); ?>" />
							</label>

							<label class="pull-right">&nbsp;<?php echo _t('延迟显示'); ?>&nbsp;</label>

							<label id="later_time_label_2" class="pull-right"></label>

						</div>
						</form>
						<?php } ?>
					</div>
					<!-- end 回复编辑器 -->
				</div>

				</div>
				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<!-- 发起人 -->
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php echo _t('发起人'); ?></h3>
						</div>
						<div class="mod-body">
							<div class="user-detail">
								<a class="aw-user-img aw-border-radius-5" href="<?php echo UF::url($this->video_info['user_info']); ?>"><img alt="" src="<?php echo UF::avatar($this->video_info['user_info'], 'mid'); ?>" /></a>
								<a class="aw-user-name" href="<?php echo UF::url($this->video_info['user_info']); ?>" data-id="<?php echo $this->video_info['user_info']['uid']; ?>" data-reputation="<?php echo UF::reputation($this->video_info['user_info']); ?>">
									<?php if ($this->video_info['user_info']['forbidden']) { ?>
										<s><?php echo UF::name($this->video_info['user_info']); ?></s>
									<?php } else { ?>
										<?php echo UF::name($this->video_info['user_info']); ?>
									<?php } ?>
								</a>
								<?php if ($this->video_info['user_info']['flagged']) { ?><sup><?php echo UF::flagged($this->video_info['user_info']); ?></sup><?php } ?>
								<?php if ($this->video_info['user_info']['verified']) { ?>
									<em class="aw-verified"><?php echo $this->video_info['user_info']['verified']; ?></em>
								<?php } ?>
								<?php if ($this->user_id AND $this->video_info['user_info']['uid'] != $this->user_id) { ?>
									<a class="icon-inverse follow tooltips icon icon-plus <?php if ($this->user_follow_check) { ?> active<?php } ?>" onclick="AWS.User.follow($(this), 'user', <?php echo $this->video_info['user_info']['uid']; ?>);"></a>
								<?php } ?>
							</div>
							<p class="signature"><?php echo UF::signature($this->video_info['user_info']); ?></p>
						</div>
						<div class="mod-footer clearfix">

						</div>
					</div>
					<!-- end 发起人 -->

					<?php if ($this->related_posts) { ?>
					<!-- 相关 -->
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php echo _t('相关主题'); ?></h3>
						</div>
						<div class="mod-body">
							<ul>
								<?php foreach($this->related_posts AS $key => $val) { ?>
								<li>
									<a href="<?php echo url_rewrite(); ?>/<?php echo $val['post_type']; ?>/<?php echo $val['id']; ?>"><?php echo CF::title($val); ?></a>
								</li>
								<?php } ?>
							</ul>
						</div>
					</div>
					<!-- end 相关 -->
					<?php } ?>

					<?php if ($this->recommended_posts) { ?>
					<!-- 推荐 -->
					<div class="aw-mod aw-text-align-justify question-related-list">
						<div class="mod-head">
							<h3><?php echo _t('推荐'); ?></h3>
						</div>
						<div class="mod-body aw-size-12">
							<ul>
								<?php foreach($this->recommended_posts AS $key => $val) { ?>
								<li><a href="<?php echo url_rewrite(); ?>/<?php echo $val['post_type']; ?>/<?php echo $val['id']; ?>"><?php echo CF::title($val); ?></a></li>
								<?php } ?>
							</ul>
						</div>
					</div>
					<!-- end 推荐 -->
					<?php } ?>

					<!-- 状态 -->
					<div class="aw-mod">
						<div class="mod-head">
							<h3><?php echo _t('状态'); ?></h3>
						</div>
						<div class="mod-body">
							<ul>
								<li><?php echo _t('最新活动'); ?>: <span class="aw-text-color-blue"><?php echo date_friendly($this->video_info['update_time']); ?></span></li>
								<li><?php echo _t('浏览'); ?>: <span class="aw-text-color-blue"><?php echo $this->video_info['view_count']; ?></span></li>
							</ul>
						</div>
					</div>
					<!-- end 状态 -->
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
function show_user_reply_box(reply_btn) {
	var reply_box = reply_btn.parents('.aw-item').find('.aw-article-reply-box');
	if (reply_box.length) {
		if (reply_box.css('display') == 'block') {
			reply_box.fadeOut();
		} else {
			reply_box.fadeIn();
		}
	} else {
		reply_box = $('#user_reply_box');
		if (!reply_box.length) return;
		var at_uid_input = $('#user_reply_box_at_uid');
		if (at_uid_input.length) {
			at_uid_input.val(reply_btn.attr('data-id'));
		}
		reply_btn.parents('.mod-footer').append(reply_box);
		reply_box.fadeIn();
	}
}

function reply_callback() {
	$('.aw-mod.aw-reply-box textarea').css('height', '329px');
}

function reply_callback_2() {
	$('#user_reply_box textarea').css('height', '34px');
}

$(document).ready(function () {
<?php if (!$_GET['fold']) { ?>
	var folded_replies = $('.aw-replies-fold');
	$.each($('.aw-replies .aw-item'), function (i, e) {
		if ($(this).data('fold')) {
			folded_replies.append($(e));
		}
	});
<?php } ?>

	AWS.init_later_time_helper($('#later_time_input'), $('#later_time_label'));
	AWS.init_later_time_helper($('#later_time_input_2'), $('#later_time_label_2'));
	// 初始化编辑器
	AWS.create_editor(document.getElementById('wmd-input'), true);
});
</script>

<?php TPL::include('global/footer.tpl.htm'); ?>
