<div class="modal fade alert-box aw-share-box">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a type="button" class="close icon icon-delete" data-dismiss="modal" aria-hidden="true"></a>
				<h3 class="modal-title"><?php echo _t('标记用户'); ?></h3>
			</div>
			<form action="<?php echo url_rewrite(); ?>/user/ajax/flag_user/" method="post" onsubmit="return false" id="edit_form">
			<input type="hidden" name="uid" value="<?php echo $this->user['uid']; ?>" />
			<div class="modal-body">
				<div class="aw-margin-y-15 aw-margin-top-0 alert alert-danger collapse error_message"><i class="icon icon-delete"></i> <em></em></div>
				<select class="form-control" name="status" <?php if ($this->banning_reason_list) { ?>onchange="var $reason = $(this).parent().find('select[name=reason]'); if ($(this).val() == 0) {$(this).parent().find('textarea').val(''); $reason.val(''); $reason.css('visibility', 'hidden');} else {$reason.css('visibility', 'visible');}"<?php } ?>>
					<option value="0" <?php if ($this->user['flagged'] == 0) { ?>selected="selected"<?php } ?>><?php echo _t('正常'); ?></option>
					<?php foreach (get_user_groups_flagged() as $key => $val) { ?>
					<option value="<?php echo $val['group_id']; ?>" <?php if ($this->user['flagged'] == $val['group_id']) { ?>selected="selected"<?php } ?>><?php echo $val['group_name']; ?></option>
					<?php } ?>
				</select>
				<?php if ($this->banning_reason_list) { ?>
				<div class="aw-margin-y-10">
					<select class="form-control" name="reason">
						<option value=""><?php echo _t('请选择理由...'); ?></option>
						<?php foreach ($this->banning_reason_list as $key => $val) { $val = htmlspecialchars($key); ?>
						<option value="<?php echo $val; ?>"><?php echo $val; ?></option>
						<?php } ?>
					</select>
				</div>
				<div class="aw-margin-y-10">
					<textarea name="detail" class="form-control" rows="3" placeholder="<?php echo _t('详情...'); ?>"><?php echo FORMAT::text($this->user['data']['flagged_detail']); ?></textarea>
				</div>
				<?php } else { ?>
				<div class="aw-margin-y-10">
					<textarea name="reason" class="form-control" rows="4" placeholder="<?php echo _t('详情...'); ?>"><?php echo FORMAT::text($this->user['data']['flagged_reason']); ?></textarea>
				</div>
				<?php } ?>
			</div>
			<div class="modal-footer">
				<a data-dismiss="modal" aria-hidden="true" class="aw-small-text"><?php echo _t('取消'); ?></a>
				<button class="btn btn-large btn-success" onclick="AWS.submit_form($('#edit_form'), $(this), $('.error_message'));return false;"><?php echo _t('确定'); ?></button>
			</div>
			</form>
		</div>
	</div>
</div>