<?php if ($this->list) { ?>
<?php foreach($this->list AS $key => $val) { ?>
<li class="notification">
	<p>
	<span class="message">
		<a href="<?php echo UF::url($val['user_info']); ?>" data-id="<?php echo $val['user_info']['uid']; ?>"><?php echo UF::name($val['user_info']); ?></a>
		<span><?php
			switch ($val['action'])
			{
				case 'FOLLOW_USER':
				{
					echo _t('关注了你');
					break;
				}
				case 'INVITE_USER':
				{
					echo _t('邀请你参与');
					break;
				}
				case 'MENTION_USER':
				{
					echo _t('提到了你');
					break;
				}
				case 'REPLY_USER':
				{
					echo _t('回复了你');
					break;
				}
				case 'REPLY_THREAD':
				{
					echo _t('回复了主题');
					break;
				}
			}
		?></span>
		<?php if ($val['thread_info']) { ?>
			<?php if ($val['item_id']) { ?>
			<a href="<?php echo url_rewrite(); ?>/<?php echo $val['thread_type']; ?>/item_id-<?php echo $val['item_id']; ?>__notification_id-<?php echo $val['id']; ?>">
			<?php } else { ?>
			<a href="<?php echo url_rewrite(); ?>/<?php echo $val['thread_type']; ?>/id-<?php echo $val['thread_info']['id']; ?>__notification_id-<?php echo $val['id']; ?>">
			<?php } ?>
				<?php if (!$val['thread_info']['title']) { ?><s class="aw-deleted"><?php echo _t('已删除'); ?></s><?php } else { ?><?php echo FORMAT::text($val['thread_info']['title'], true); ?><?php } ?>
			</a>
		<?php } ?>
	</span>
	</p>
	<p class="more">
		<span class="aw-small-text"><?php echo date_friendly($val['add_time']); ?></span>
		<a class="pull-right read aw-small-text" onclick="AWS.Message.read_notification($(this).parents('.notification'), <?php echo $val['id']; ?>, false)"><?php echo _t('标为已读'); ?></a>
	</p>
</li>
<?php } ?>
<?php } ?>