@charset "UTF-8";

.badge.badge-info{background: #404451;}
.btn-primary{border: none !important;background-color: #697287;}
.btn-primary:hover{background-color: #555c6c;}
.btn-primary:active, .btn-primary:focus{background-color: #323341;}
.form-control:focus{border-color:#404451 !important;box-shadow: none;}
a{cursor: pointer;color: #23527c;}
/*a{cursor: pointer;color: #083156;}*/
a:hover{text-decoration: none;color: #404451;}
.aw-load-more-content:hover{background: #404451;color: #fff;}
.aw-load-more-content:hover a, .aw-load-more-content:hover span{background-color:#404451;color: #fff;}
.topic-tag .text{display:inline-block;height:20px;line-height:16px;padding:2px 5px;background-color:#697287;font-size:12px;color: #fff;border-radius: 4px;}
.topic-tag .text:hover, .topic-tag .text:active, .topic-tag .close:hover, .topic-tag .close:active{background-color: #323341;}
.topic-tag .close{width: 20px;height: 20px;background-color: #555c6c;text-align: center;line-height:20px;color: #fff;font-size: 10px;opacity: 1;filter:alpha(opacity=100);border-radius: 0 4px 4px 0;}
.aw-nav-tabs > li > a:hover{border:none;border-bottom:2px solid #155faa;background-color: #fff;color: #333;}
.aw-nav-tabs > li.active a{line-height:30px;background-color: #fff;border:none;border-bottom:2px solid #155faa;font-weight: bold;color: #333;}
.aw-nav-tabs > li.active a:hover, .aw-nav-tabs > li.active a:focus, .aw-nav-tabs > li > a:focus{border:none;border-bottom:2px solid #155faa;background-color: #fff;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{background-color: #404451;color: #fff;border-color: #404451;}
.icon-inverse.follow:hover{color: #404451;}
.aw-top-menu-wrap{position:relative;z-index:1001;width:100%;min-height:50px;background-color:#404451;}
.aw-publish-btn .dropdown-menu, .aw-publish-btn.open .dropdown-toggle{background-color:#555c6c;}
.aw-publish-btn .dropdown-menu a:hover, .aw-publish-btn .dropdown-menu a:focus, .aw-publish-btn .dropdown-menu a:active{color:#fff; background-color:#323341;}
.aw-top-nav > nav > ul > li > a.active{background: #555c6c;}
.aw-top-nav > nav > ul > li > a:hover, .aw-top-nav > nav > ul > li > a:focus{background: #555c6c;}
.aw-top-nav > nav > ul > li .dropdown-list ul li a{display:block;height: 42px;line-height: 42px;padding:0 10px;background: #555c6c;text-align: center;color: #fff;}
.aw-top-nav > nav > ul > li .dropdown-list ul li a:hover{background: #323341;}
.aw-feed-list .operate a:hover, .aw-feed-list .operate a.active{background-color: #404451;color: #fff;}
.aw-feed-list .operate .aw-add-comment:hover, .aw-feed-list .operate .aw-add-comment.active{background-color: #404451;color: #fff;border-radius: 4px;}
.aw-mod.side-nav ul li a.active{background-color:#404451;color: #fff;}
.aw-mod.side-nav ul li a.active .badge{background-color: #fff;color: #404451;}
.aw-topic-bar .tag-bar .operate .btn-group.open .btn{background-color:#404451;color: #fff;}
.aw-comment-box .aw-comment-list a{color: #23527c;}
/*.aw-comment-box .aw-comment-list a{color: #083156;}*/
.aw-invite-box .mod-footer a{display: inline-block;width: 28px;height: 24px;line-height:22px;background-color: #555c6c;text-align: center;border-radius: 4px;color: #fff;}
.aw-article-vote a:hover, .aw-article-vote a.active{background-color: #404451;color: #fff;}
.aw-first-login .mod-head ul{background: #697287;color: #fff;}
.navbar-collapse {background: #404451;}
.aw-common-list .aw-question-content h4{font-size: 15px;font-weight: bold;}
.aw-question-detail .mod-head h1{color: #333;font-size:19px;font-weight: bold;}